<h2 class="petition-action-heading">Topics</h2>
<%= form_for petition, url: admin_archived_petition_topics_path(petition), method: :patch do |f| %>
  <%= form_row for: [f.object, :topics], class: 'inline topic-list' do %>
    <%= error_messages_for_field f.object, :topics %>
    <% if Topic.any? %>
      <%= collection_check_boxes(:petition, :topics, Topic.by_name, :id, :name) do |b| %>
        <div class="multiple-choice">
          <%= b.check_box data: { autosave: true } %>
          <%= b.label title: b.object.name %>
        </div>
      <% end %>
    <% else %>
      <%= hidden_field_tag "petition[topics][]", "" %>
      <p>No topics have been created</p>
    <% end %>
  <% end %>

  <%= link_to 'Done', admin_archived_petition_path(petition), class: 'button-secondary js-only' %>

  <noscript>
    <%= f.submit 'Save topics', class: 'button' %>
    <%= link_to 'Cancel', admin_archived_petition_path(petition), class: 'button-secondary' %>
  </noscript>
<% end %>

<%= render 'edit_lock' %>
