<%= hidden_field_tag :tab, "dissolved" %>

<%= form_row for: [form.object, :notification_cutoff_at] do %>
  <%= form.label :notification_cutoff_at, class: 'form-label' %>
  <%= error_messages_for_field @parliament, :notification_cutoff_at %>
  <%= form.datetime_select :notification_cutoff_at, { include_blank: true }, tabindex: increment, class: 'form-control auto-width' %>
<% end %>

<%= form_row for: [form.object, :dissolved_heading] do %>
  <%= form.label :dissolved_heading, class: 'form-label' %>
  <%= error_messages_for_field @parliament, :dissolved_heading %>
  <%= form.text_field :dissolved_heading, tabindex: increment, maxlength: 100, class: 'form-control' %>
<% end %>

<%= form_row for: [form.object, :dissolved_message] do %>
  <%= form.label :dissolved_message, class: 'form-label' %>
  <%= error_messages_for_field @parliament, :dissolved_message %>
  <%= form.text_area :dissolved_message, tabindex: increment, rows: 5, data: { max_length: 500 }, class: 'form-control' %>
  <p class="character-count">500 characters max</p>
<% end %>
