<h1>Edit Parliament</h1>

<div class="grid-row">
  <div class="column-two-thirds extra-gutter">
    <%= form_for @parliament, url: admin_parliament_url do |form| %>
      <h2>Voter registration closes at</h2>

      <%= form_row for: [form.object, :registration_closed_at] do %>
        <%= error_messages_for_field @parliament, :registration_closed_at %>
        <%= form.datetime_select :registration_closed_at, { include_blank: true }, tabindex: increment, class: 'form-control auto-width' %>
      <% end %>

      <h2>Government</h2>

      <%= form_row for: [form.object, :government] do %>
        <%= error_messages_for_field @parliament, :government %>
        <%= form.text_field :government, tabindex: increment, maxlength: 100, class: 'form-control' %>
      <% end %>

      <%= form_row for: [form.object, :opening_at] do %>
        <%= form.label :opening_at, class: 'form-label' %>
        <%= error_messages_for_field @parliament, :opening_at %>
        <%= form.datetime_select :opening_at, { include_blank: true }, tabindex: increment, class: 'form-control auto-width' %>
      <% end %>

      <h2>Dissolution</h2>

      <%= form_row for: [form.object, :dissolution_at] do %>
        <%= form.label :dissolution_at, class: 'form-label' %>
        <%= error_messages_for_field @parliament, :dissolution_at %>
        <%= form.datetime_select :dissolution_at, { include_blank: true }, tabindex: increment, class: 'form-control auto-width' %>
      <% end %>

      <%= form_row for: [form.object, :dissolution_heading] do %>
        <%= form.label :dissolution_heading, class: 'form-label' %>
        <%= error_messages_for_field @parliament, :dissolution_heading %>
        <%= form.text_field :dissolution_heading, tabindex: increment, maxlength: 100, class: 'form-control' %>
      <% end %>

      <%= form_row for: [form.object, :dissolution_message] do %>
        <%= form.label :dissolution_message, class: 'form-label' %>
        <%= error_messages_for_field @parliament, :dissolution_message %>
        <%= form.text_area :dissolution_message, tabindex: increment, rows: 5, data: { max_length: 500 }, class: 'form-control' %>
        <p class="character-count">500 characters max</p>
      <% end %>

      <%= form_row for: [form.object, :dissolution_faq_url] do %>
        <%= form.label :dissolution_faq_url, class: 'form-label' %>
        <%= error_messages_for_field @parliament, :dissolution_faq_url %>
        <%= form.text_field :dissolution_faq_url, tabindex: increment, maxlength: 500, class: 'form-control' %>
      <% end %>

      <h2>Dissolved</h2>

      <%= form_row for: [form.object, :notification_cutoff_at] do %>
        <%= form.label :notification_cutoff_at, class: 'form-label' %>
        <%= error_messages_for_field @parliament, :notification_cutoff_at %>
        <%= form.datetime_select :notification_cutoff_at, { include_blank: true }, tabindex: increment, class: 'form-control auto-width' %>
      <% end %>

      <%= form_row for: [form.object, :dissolved_heading] do %>
        <%= form.label :dissolved_heading, class: 'form-label' %>
        <%= error_messages_for_field @parliament, :dissolved_heading %>
        <%= form.text_field :dissolved_heading, tabindex: increment, maxlength: 100, class: 'form-control' %>
      <% end %>

      <%= form_row for: [form.object, :dissolved_message] do %>
        <%= form.label :dissolved_message, class: 'form-label' %>
        <%= error_messages_for_field @parliament, :dissolved_message %>
        <%= form.text_area :dissolved_message, tabindex: increment, rows: 5, data: { max_length: 500 }, class: 'form-control' %>
        <p class="character-count">500 characters max</p>
      <% end %>

      <%= form.submit 'Save', class: 'button' %>
      <% if @parliament.dissolution_announced? %>
        <% if @parliament.dissolved? %>
          <% if @parliament.can_archive_petitions? %>
            <%= form.submit 'Archive petitions', name: 'archive_petitions', class: 'button-secondary', data: { confirm: 'Copy current petitions to archive?' } %>
          <% elsif @parliament.can_archive? %>
            <%= form.submit 'Archive parliament', name: 'archive_parliament', class: 'button-secondary', data: { confirm: 'Archive this parliament and create a new one?' } %>
          <% end %>
        <% else %>
          <%= form.submit 'Email creators', name: 'email_creators', class: 'button-secondary', data: { confirm: 'Email creators about dissolution?' } %>
          <%= form.submit 'Schedule closure', name: 'schedule_closure', class: 'button-secondary', data: { confirm: 'Schedule early closure of petitions?' } %>
        <% end %>
      <% end %>
      <%= link_to 'Cancel', admin_root_path, class: 'button-secondary' %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'character-counter' %>
