<% content_for :strap_line do -%>
<p class="strap-line">Tell the government what you think</p>
<% end -%>

<% petition_counts do |counts| %>
  <div class="section-panel actioned-petitions">
    <ul>
      <% counts.each do |state, count| %>
        <li>
          <%= link_to petition_count(state, count), petitions_url(state: state) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="section-panel">
  <% if @trending_petitions.present? %>
    <section class="trending">
      <h2>Popular petitions</h2>
      <ul>
        <% @trending_petitions.each do |trending_petition| %>
          <%= render 'petitions/trending_petition', :trending_petition => trending_petition %>
        <% end -%>
      </ul>
    </section>
  <% end %>
  <%= link_to 'View all petitions', petitions_path, :class => 'view-all' %>
</div>

<section class="section-panel local-to-you">
  <h2>Local to you</h2>
  <p>Find petitions about local issues</p>
  <%= render 'local_petitions/search' %>
</section>

<section class="section-panel">
  <h2>Start a petition</h2>
  <p>Anyone can start a petition as long as they are a British citizen or UK resident</p>
  <%= link_to "Start a petition", check_petitions_path, :class => 'button' %>
</section>
