<% content_for :strap_line do -%>
<p class="strap-line">Tell the government what you think</p>
<% end -%>

<div class="section-panel">
  <% if @trending_petitions.present? %>
    <section class="trending">
      <h2>Popular petitions</h2>
      <ul>
        <% @trending_petitions.each do |trending_petition| %>
          <%= render 'petitions/trending_petition', :trending_petition => trending_petition %>
        <% end -%>
      </ul>
    </section>
  <% end %>
  <%= link_to 'View all e-petitions', petitions_path, :class => 'view-all' %>
</div>

<section class="section-panel local-to-you">
  <h2>Local to you</h2>
  <p>Find petitions about local issues</p>
  <%= form_tag local_petitions_path, method: 'get' do %>
    <div class="form-group">
      <%= label_tag 'postcode', 'UK postcode', class: 'form-label' %>
      <%= search_field_tag 'postcode', nil, class: 'form-control' %>
    </div>
    <%= submit_tag 'Search', class: 'button' %>
  <% end %>
</section>

<section class="section-panel">
  <h2>Start a new petition</h2>
  <p>Anyone can start a petition as long as they are a British citizen or UK resident</p>
  <%= link_to "Start a new petition", check_petitions_path, :class => 'button' %>
</section>

<form method="get" action="/search" class="search-form">
  <div class="form-group">
    <label for="search" class="form-label">Search for an e-petition to sign</label>
    <input type='text' name="q" id="search" class="form-control" />
  </div>
  <input type='submit' value='Search' class="button" />
</form>
