<nav class="petition-actions" aria-label="Petition actions">
  <ul>
    <li class="petition-action">
      <%= render 'petition_action_tags', petition: @petition %>
    </li>

    <li class="petition-action">
      <%= render 'petition_action_departments', petition: @petition %>
    </li>

    <li class="petition-action">
      <%= render 'petition_action_topics', petition: @petition %>
    </li>

    <li class="petition-action">
      <%= render 'petition_action_notes', petition: @petition %>
    </li>

    <% unless current_user.is_a_reviewer? %>
      <% if @petition.moderated? %>
        <li class="petition-action">
          <%= render 'petition_action_government_response', petition: @petition %>
        </li>
      <% end %>

      <% if @petition.can_have_debate_added? %>
        <li class="petition-action">
          <%= render 'petition_action_debate_date', petition: @petition %>
        </li>

        <li class="petition-action">
          <%= render 'petition_action_debate_outcome', petition: @petition %>
        </li>
      <% end %>

      <% if @petition.moderated? %>
        <li class="petition-action">
          <%= render 'petition_action_email_petitioners', petition: @petition %>
        </li>
      <% end %>

      <% if current_user.can_remove_petitions? && @petition.visible? %>
        <li class="petition-action">
          <%= render 'petition_action_remove_petition', petition: @petition %>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
