<dl>
  <dt>Status</dt>
  <dd class="petition-meta-state"><%= @petition.state.capitalize %></dd>

  <dt>Signatures</dt>
  <dd class="petition-meta-signature-count"><%= number_with_delimiter(@petition.signature_count) %></dd>

  <% if @petition.anonymized? %>
    <dt>Anonymized</dt>
    <dd><%= date_time_format(@petition.anonymized_at) %></dd>
  <% elsif creator = @petition.creator %>
    <dt>Creator</dt>
    <dd>
      <%= creator.name %><br>
      <%= auto_link(creator.email) %>
    </dd>

    <% if constituency = creator.constituency %>
      <dt>Constituency</dt>
      <dd>
        <span class="creator-constituency"><%= constituency.name %></span><br>
        <small class="creator-constituency-region"><%= constituency.region.name %></small>
      </dd>
    <% end %>
  <% end %>

  <% if @petition.removed? %>
    <dt>Removed</dt>
    <dd><%= date_time_format(@petition.removed_at) %></dd>
  <% elsif @petition.closed? %>
    <dt>Closed</dt>
    <dd><%= date_format_admin(@petition.closed_at) %></dd>
  <% elsif @petition.rejection? %>
    <dt>Rejected</dt>
    <dd><%= date_format_admin(@petition.rejected_at) %></dd>
  <% end %>

  <% if @petition.visible? %>
    <dt>Link to petition</dt>
    <dd><%= link_to archived_petition_path(@petition), archived_petition_url(@petition), target: "_blank" %></dd>
  <% end %>

  <dt>ID</dt>
  <dd><%= @petition.id %></dd>

  <% if @petition.tags? %>
    <dt>Tags</dt>
    <dd><%= @petition.tag_names.join(", ") %></dd>
  <% end %>

  <% if moderator = @petition.moderated_by %>
    <% if @petition.rejected? %>
      <dt>Rejected by</dt>
      <dd><%= moderator.pretty_name %></dd>
    <% elsif @petition.hidden? %>
      <dt>Hidden by</dt>
      <dd><%= moderator.pretty_name %></dd>
    <% elsif @petition.published? %>
      <dt>Published by</dt>
      <dd><%= moderator.pretty_name %></dd>
    <% else %>
      <dt>Moderated by</dt>
      <dd><%= moderator.pretty_name %></dd>
    <% end %>
  <% end %>
</dl>
