<h1 class="page-title">Make sure this is right</h1>

<%= form.hidden_field :name %>
<%= form.hidden_field :uk_citizenship %>
<%= form.hidden_field :postcode %>
<%= form.hidden_field :location_code %>
<%= form.hidden_field :notify_by_email %>

<%= form_row for: [signature, :email] do %>
  <%= form.label :email, "Email address", class: "form-label visuallyhidden" %>
  <%= error_messages_for_field signature, :email %>
  <%= form.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
<% end %>

<%= form.hidden_field :form_token %>
<%= form.hidden_field :form_requested_at_token %>

<%= form.submit "Yes – this is my email address", class: "button", tabindex: increment %>

<p>If your email address is wrong, just change it above</p>
