<h1 class="page-title"><%= t(:"ui.petitions.create.replay_email_stage.heading") %></h1>

<%= form.hidden_field :name %>
<%= form.hidden_field :postcode %>
<%= form.hidden_field :location_code %>
<%= form.hidden_field :notify_by_email %>

<%= form_row for: [signature, :email] do %>
  <%= form.label :email, t(:"ui.petitions.create.creator_stage.email.label"), class: "form-label visuallyhidden" %>
  <%= error_messages_for_field signature, :email %>
  <%= form.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
<% end %>

<span>
   <%= t(:"ui.signatures.confirm.email_form.submit_html", tabindex: increment) %>
</span>

<p><%= t(:"ui.signatures.confirm.email_form.fix_email_if_wrong") %></p>
