<%= form_row for: [signature, :name] do %>
  <%= form.label :name, t(:"ui.petitions.create.creator_stage.name.label"), class: "form-label" %>
  <%= error_messages_for_field signature, :name %>
  <%= form.text_field :name, tabindex: increment, maxlength: 255, size: nil, class: "form-control"  %>
<% end %>

<%= form_row for: [signature, :email] do %>
  <%= form.label :email, t(:"ui.petitions.create.creator_stage.email.label"), class: "form-label" %>
  <%= error_messages_for_field signature, :email %>
  <%= form.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
<% end %>

<%= form_row for: [signature, :location_code] do %>
  <%= form.label :location_code, t(:"ui.petitions.create.creator_stage.location.label"), class: "form-label" %>
  <%= error_messages_for_field signature, :location_code %>
  <%= form.select :location_code, countries_for_select, {}, tabindex: increment, class: "form-control" %>
<% end %>

<%= form_row for: [signature, :postcode] do %>
  <%= form.label :postcode, t(:"ui.petitions.create.creator_stage.postcode.label"), class: "form-label" %>
  <%= error_messages_for_field signature, :postcode %>
  <%= form.text_field :postcode, tabindex: increment, class: "form-control small" %>
<% end %>

<%= form_row for: [signature, :notify_by_email], class: "notify-by-email" do %>
  <div class="multiple-choice">
    <%= form.check_box :notify_by_email, tabindex: increment %>
    <%= form.label :notify_by_email, t(:"ui.petitions.create.creator_stage.notify_by_email.check_label") %>
  </div>
<% end %>

<span>
  <%= t(:"ui.signatures.new.continue_html", tabindex: increment) %>
</span>

<%= t(:"ui.signatures.privacy_notice_html") %>
