<%= form_row :for => [signature, :name] do %>
  <%= f.label :name %>
  <%= f.text_field :name, :tabindex => increment, :maxlength => 255  %>
  <%= error_messages_for_field signature, :name %>
  <div class="tip">
    <div class="arrow"></div>
    <p>Give your full name, not the name of a company or organisation.</p>
  </div>

<% end %>

<% if local_assigns.fetch(:with_email, true) %>
  <%= render 'signatures/email', f: f, signature: signature %>
<% end %>

<%= form_row :class => 'checkbox_row', :for => [signature, :uk_citizenship] do %>
  <%= f.check_box :uk_citizenship, :tabindex => increment %>
  <%= f.label :uk_citizenship,
      "Yes, I am a British citizen or UK resident"
      %>
  <%= error_messages_for_field signature, :uk_citizenship %>
<% end %>

<%= form_row :for => [signature, :postcode] do %>
  <%= f.label :postcode %>
  <%= f.text_field :postcode, :class => 'postcode', :tabindex => increment %>
  <%= error_messages_for_field signature, :postcode %>
<% end %>

<%= form_row :for => [signature, :country] do %>
  <%= f.label :country %>
  <%= f.select :country, countries_for_select, {}, :tabindex => increment %>
  <%= error_messages_for_field signature, :country %>
<% end %>
