<h1 class="visuallyhidden"><%= t(:"ui.signatures.signed.heading", count: @signature.number, formatted_count: number_with_delimiter(@signature.number)) %></h1>

<div class="signature-confirmation">
  <%= render 'signature_confirmation' %>
  <p><%= t(:"ui.signatures.signed.added_to_petition") %></p>
  <p><%= link_to @petition.action, petition_path(@petition) %></p>
</div>

<%= render 'share_petition', petition: @petition %>

<section class="section-panel" aria-labelledby="whats-next-heading">
  <%= render "petitions/threshold_details", petition: @petition %>
</section>

<% if constituency = @signature.constituency %>
  <div class="section-panel" aria-labelledby="contact-your-member-heading">
    <h2 id="contact-your-member-heading"><%= t(:"ui.signatures.signed.contact_member.heading") %></h2>
    <p><%= t(:"ui.signatures.signed.contact_member.constituency_name", constituency: constituency.name) %></p>

    <% if member = constituency.member %>
      <p><%= t(:"ui.signatures.signed.contact_member.member_name", member: member.name) %></p>
      <p><%= link_to t(:"ui.signatures.signed.contact_member.member_link"), member.url, rel: "external" %></p>
    <% end %>

    <% if region = constituency.region %>
      <p><%= t(:"ui.signatures.signed.regional_members.region_html", region: region.name) %></p>
      <ul class="member-list">
        <% region.members.each do |member| %>
          <li><%= link_to(member.name, member.url) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= t(:"ui.signatures.signed.register_to_vote_html") %>
