<h1 class="visuallyhidden"><%= number_with_delimiter(@signature.number) %> signatures</h1>

<div class="signature-confirmation">
  <%= render 'signature_confirmation' %>
  <p>We’ve added your signature to the petition:</p>
  <p><%= link_to @petition.action, petition_path(@petition) %></p>
</div>

<%= render 'share_petition', petition: @petition %>

<section class="section-panel">
  <%= render "petitions/threshold_details", petition: @petition %>
</section>

<% if @signature.constituency %>
  <div class="section-panel" aria-labelledby="contact-your-mp-heading">
    <h2 id="contact-your-mp-heading">Contact your MP</h2>
    <p>Your constituency is <%= @signature.constituency.name %></p>
    <% if @signature.constituency.mp_id? %>
      <p>Your local MP is <%= @signature.constituency.mp_name %></p>
      <p><%= link_to "Contact your MP to let them know you have signed this petition", @signature.constituency.mp_url, rel: "external" %></p>
    <% end %>
  </div>
<% end %>

<h2>Register to vote</h2>
<p>To vote in local and national elections, you must be registered to vote.</p>
<p>It takes less than 5 minutes.</p>
<a href="https://www.gov.uk/register-to-vote" rel="external">Register to vote</a>
