<h1 class="visuallyhidden"><%= t(:"ui.signatures.signed.heading", count: @signature.number, formatted_count: number_with_delimiter(@signature.number)) %></h1>

<div class="signature-confirmation">
  <%= render 'signature_confirmation' %>
  <p><%= t(:"ui.signatures.signed.added_to_petition") %></p>
  <p><%= link_to @petition.action, petition_path(@petition) %></p>
</div>

<%= render 'share_petition', petition: @petition %>

<section class="section-panel" aria-labelledby="whats-next-heading">
  <%= render "petitions/threshold_details", petition: @petition %>
</section>

<% if @signature.constituency %>
  <div class="section-panel" aria-labelledby="contact-your-mp-heading">
    <h2 id="contact-your-mp-heading"><%= t(:"ui.signatures.signed.contact_mp.heading") %></h2>
    <p><%= t(:"ui.signatures.signed.contact_mp.constituency_name", constituency_name: @signature.constituency.name) %></p>
    <% if @signature.constituency.mp_id? %>
      <p><%= t(:"ui.signatures.signed.contact_mp.mp_name", mp_name: @signature.constituency.mp_name) %></p>
      <p><%= link_to t(:"ui.signatures.signed.contact_mp.mp_link"), @signature.constituency.mp_url, rel: "external" %></p>
    <% end %>
  </div>
<% end %>

<%= t(:"ui.signatures.signed.register_to_vote_html") %>
