<% content_for(:page_title) { "Thank you - e-petitions" } %>
<h1 class="page-title">
  <span class="icon icon-confirmation-tick"></span>
  Thank you
</h1>

<p>Your signature has now been added to the <%= link_to @petition.title, petition_path(@petition) %> petition.</p>

<%= render 'shared/share_petition', petition: @petition %>

<section class="section-panel">
  <h2>What's next</h2>
  <%= render "shared/about_petitions" %>
</section>

<% if @signature.constituency %>
  <div class="section-panel">
    <p>
      Your constituency is <%= @signature.constituency.name %>
    </p>
  </div>
<% end %>

<h2>Register to vote</h2>
<p>To vote in local, national and EU elections, you must be registered to vote.</p>
<p>It takes less than 5 minutes.</p>
<%= link_to "Register to vote", "https://www.gov.uk/register-to-vote" %>
