<h1 class="page-title page-title-with-icon">
  <span class="icon icon-confirmation-tick"></span>
  You are signature <span class="signature-number"><%= number_with_delimiter(@signature.number) %></span>
</h1>

<p class="signed-petition-title"><%= link_to @petition.action, petition_path(@petition) %></p>

<%= render 'shared/share_petition', petition: @petition %>

<section class="section-panel" aria-labelledby="whats-next-heading">
  <h2 id="whats-next-heading">What's next</h2>
  <%= render "petitions/threshold_details", petition: @petition %>
</section>

<% if @signature.constituency %>
  <div class="section-panel" aria-labelledby="contact-your-mp-heading">
    <h2 id="contact-your-mp-heading">Contact your MP</h2>
    <p>Your constituency is <%= @signature.constituency.name %></p>
    <% if @signature.constituency.mp %>
      <p>Your local MP is <%= @signature.constituency.mp.name %></p>
      <p><%= link_to "Contact your MP to let them know you have signed this petition", @signature.constituency.mp.url, rel: "external" %></p>
    <% end %>
  </div>
<% end %>

<h2>Register to vote</h2>
<p>To vote in local, national and EU elections, you must be registered to vote.</p>
<p>It takes less than 5 minutes.</p>
<a href="https://www.gov.uk/register-to-vote" rel="external">Register to vote</a>
