<h1 class="page-title page-title-with-icon">
  <span class="icon icon-email"></span>
  <%= t(:"ui.signatures.thank_you.heading") %>
</h1>

<p>
  <%= t(:"ui.signatures.thank_you.confirmation.sent") %>
</p>

<%= render "notification", message: t(:"ui.signatures.thank_you.confirmation.required") %>

<details>
  <summary><span class="summary"><%= t(:"ui.signatures.thank_you.confirmation.not_received.heading") %></span></summary>

  <div class="panel-indent">
    <%= t(:"ui.signatures.thank_you.confirmation.not_received.instructions_html") %>
  </div>
</details>
