<%= hidden_field_tag :tab, "countries" %>

<%= form_row for: [form.object, :countries] do %>
  <%= error_messages_for_field @rate_limit, :countries %>
  <%= form.text_area :countries, tabindex: increment, rows: 8, class: 'form-control' %>
  <p><small>Add countries that are allowed to sign petitions, e.g. United Kingdom</small></p>
<% end %>

<%= form_row for: [form.object, :country_rate_limits_enabled], class: 'inline' do %>
  <%= form.label :country_rate_limits_enabled, "Enable different rate limits for allowed countries?", class: 'form-label' %>
  <%= error_messages_for_field @rate_limit, :country_rate_limits_enabled %>
  <div class="multiple-choice">
    <%= form.radio_button :country_rate_limits_enabled, true %>
    <%= form.label :country_rate_limits_enabled_true, "Yes", for: "rate_limit_country_rate_limits_enabled_true" %>
  </div>
  <div class="multiple-choice">
    <%= form.radio_button :country_rate_limits_enabled, false %>
    <%= form.label :country_rate_limits_enabled_false, "No", for: "rate_limit_country_rate_limits_enabled_false" %>
  </div>
<% end %>

<div id="rate-limit-fields">
  <%= form_row for: [form.object, :country_burst_rate] do %>
    <%= form.label :country_burst_rate, "Number of signatures created per short period", class: 'form-label' %>
    <%= error_messages_for_field @rate_limit, :country_burst_rate %>
    <%= form.text_field :country_burst_rate, tabindex: increment, maxlength: 30, class: 'form-control form-control-1-4' %>
  <% end %>

  <%= form_row for: [form.object, :country_sustained_rate] do %>
    <%= form.label :country_sustained_rate, "Number of signatures created per long period", class: 'form-label' %>
    <%= error_messages_for_field @rate_limit, :country_sustained_rate %>
    <%= form.text_field :country_sustained_rate, tabindex: increment, maxlength: 30, class: 'form-control form-control-1-4' %>
  <% end %>
</div>

<%= form_row for: [form.object, :geoblocking_enabled], class: 'inline' do %>
  <%= form.label :geoblocking_enabled, "Enable geoblocking of signatures?", class: 'form-label' %>
  <%= error_messages_for_field @rate_limit, :geoblocking_enabled %>
  <div class="multiple-choice">
    <%= form.radio_button :geoblocking_enabled, true %>
    <%= form.label :geoblocking_enabled_true, "Yes", for: "rate_limit_geoblocking_enabled_true" %>
  </div>
  <div class="multiple-choice">
    <%= form.radio_button :geoblocking_enabled, false %>
    <%= form.label :geoblocking_enabled_false, "No", for: "rate_limit_geoblocking_enabled_false" %>
  </div>
<% end %>

<%= javascript_tag do %>
  $().ready(function() {
    var $rate_limit_fields = $('#rate-limit-fields'),
        $true_control = $('input[name="rate_limit[country_rate_limits_enabled]"][value=true]'),
        $false_control = $('input[name="rate_limit[country_rate_limits_enabled]"][value=false]'),
        $all_controls = $('input[name="rate_limit[country_rate_limits_enabled]"][type=radio]');

    if ($true_control.is(':checked')) {
      $rate_limit_fields.show();
    } else {
      $rate_limit_fields.hide();
    }

    $all_controls.keyup(function() {
      this.blur();
      this.focus();
    }).change(function() {
      if ($true_control.is(':checked')) {
        $rate_limit_fields.show();
      } else {
        $rate_limit_fields.hide();
      }
    });
  });
<% end -%>
