<p class="tabs">
  <% if params[:tab] == "allowed_domains" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    Allowed Domains |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending IPs", edit_admin_rate_limits_path(tab: 'trending_ips') %>
  <% elsif params[:tab] == "blocked_domains" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    Blocked Domains |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending IPs", edit_admin_rate_limits_path(tab: 'trending_ips') %>
  <% elsif params[:tab] == "allowed_ips" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    Allowed IPs |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending IPs", edit_admin_rate_limits_path(tab: 'trending_ips') %>
  <% elsif params[:tab] == "blocked_ips" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    Blocked IPs |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending IPs", edit_admin_rate_limits_path(tab: 'trending_ips') %>
  <% elsif params[:tab] == "countries" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    Countries |
    <%= link_to "Trending IPs", edit_admin_rate_limits_path(tab: 'trending_ips') %>
  <% elsif params[:tab] == "trending_ips" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    Trending IPs
  <% else %>
    Rate Limits |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending IPs", edit_admin_rate_limits_path(tab: 'trending_ips') %>
  <% end %>
</p>
