<p class="tabs">
  <% if params[:tab] == "blocked_emails" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    Blocked Emails |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending Items", edit_admin_rate_limits_path(tab: 'trending_items') %>
  <% elsif params[:tab] == "allowed_domains" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Blocked Emails", edit_admin_rate_limits_path(tab: 'blocked_emails') %> |
    Allowed Domains |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending Items", edit_admin_rate_limits_path(tab: 'trending_items') %>
  <% elsif params[:tab] == "blocked_domains" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Blocked Emails", edit_admin_rate_limits_path(tab: 'blocked_emails') %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    Blocked Domains |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending Items", edit_admin_rate_limits_path(tab: 'trending_items') %>
  <% elsif params[:tab] == "allowed_ips" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Blocked Emails", edit_admin_rate_limits_path(tab: 'blocked_emails') %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    Allowed IPs |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending Items", edit_admin_rate_limits_path(tab: 'trending_items') %>
  <% elsif params[:tab] == "blocked_ips" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Blocked Emails", edit_admin_rate_limits_path(tab: 'blocked_emails') %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    Blocked IPs |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending Items", edit_admin_rate_limits_path(tab: 'trending_items') %>
  <% elsif params[:tab] == "countries" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Blocked Emails", edit_admin_rate_limits_path(tab: 'blocked_emails') %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    Countries |
    <%= link_to "Trending Items", edit_admin_rate_limits_path(tab: 'trending_items') %>
  <% elsif params[:tab] == "trending_items" %>
    <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
    <%= link_to "Blocked Emails", edit_admin_rate_limits_path(tab: 'blocked_emails') %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    Trending Items
  <% else %>
    Rate Limits |
    <%= link_to "Blocked Emails", edit_admin_rate_limits_path(tab: 'blocked_emails') %> |
    <%= link_to "Allowed Domains", edit_admin_rate_limits_path(tab: 'allowed_domains') %> |
    <%= link_to "Blocked Domains", edit_admin_rate_limits_path(tab: 'blocked_domains') %> |
    <%= link_to "Allowed IPs", edit_admin_rate_limits_path(tab: 'allowed_ips') %> |
    <%= link_to "Blocked IPs", edit_admin_rate_limits_path(tab: 'blocked_ips') %> |
    <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %> |
    <%= link_to "Trending Items", edit_admin_rate_limits_path(tab: 'trending_items') %>
  <% end %>
</p>
