<h1>Edit Rate Limits</h1>

<div class="grid-row">
  <div class="column-two-thirds extra-gutter">
    <p>
      <% if params[:tab] == "domain_whitelist" %>
        <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
        Domain Whitelist |
        <%= link_to "Domain Blacklist", edit_admin_rate_limits_path(tab: 'domain_blacklist') %> |
        <%= link_to "IP Whitelist", edit_admin_rate_limits_path(tab: 'ip_whitelist') %> |
        <%= link_to "IP Blacklist", edit_admin_rate_limits_path(tab: 'ip_blacklist') %> |
        <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %>
      <% elsif params[:tab] == "domain_blacklist" %>
        <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
        <%= link_to "Domain Whitelist", edit_admin_rate_limits_path(tab: 'domain_whitelist') %> |
        Domain Blacklist |
        <%= link_to "IP Whitelist", edit_admin_rate_limits_path(tab: 'ip_whitelist') %> |
        <%= link_to "IP Blacklist", edit_admin_rate_limits_path(tab: 'ip_blacklist') %> |
        <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %>
      <% elsif params[:tab] == "ip_whitelist" %>
        <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
        <%= link_to "Domain Whitelist", edit_admin_rate_limits_path(tab: 'domain_whitelist') %> |
        <%= link_to "Domain Blacklist", edit_admin_rate_limits_path(tab: 'domain_blacklist') %> |
        IP Whitelist |
        <%= link_to "IP Blacklist", edit_admin_rate_limits_path(tab: 'ip_blacklist') %> |
        <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %>
      <% elsif params[:tab] == "ip_blacklist" %>
        <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
        <%= link_to "Domain Whitelist", edit_admin_rate_limits_path(tab: 'domain_whitelist') %> |
        <%= link_to "Domain Blacklist", edit_admin_rate_limits_path(tab: 'domain_blacklist') %> |
        <%= link_to "IP Whitelist", edit_admin_rate_limits_path(tab: 'ip_whitelist') %> |
        IP Blacklist |
        <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %>
      <% elsif params[:tab] == "countries" %>
        <%= link_to "Rate Limits", edit_admin_rate_limits_path %> |
        <%= link_to "Domain Whitelist", edit_admin_rate_limits_path(tab: 'domain_whitelist') %> |
        <%= link_to "Domain Blacklist", edit_admin_rate_limits_path(tab: 'domain_blacklist') %> |
        <%= link_to "IP Whitelist", edit_admin_rate_limits_path(tab: 'ip_whitelist') %> |
        <%= link_to "IP Blacklist", edit_admin_rate_limits_path(tab: 'ip_blacklist') %> |
        Countries
      <% else %>
        Rate Limits |
        <%= link_to "Domain Whitelist", edit_admin_rate_limits_path(tab: 'domain_whitelist') %> |
        <%= link_to "Domain Blacklist", edit_admin_rate_limits_path(tab: 'domain_blacklist') %> |
        <%= link_to "IP Whitelist", edit_admin_rate_limits_path(tab: 'ip_whitelist') %> |
        <%= link_to "IP Blacklist", edit_admin_rate_limits_path(tab: 'ip_blacklist') %> |
        <%= link_to "Countries", edit_admin_rate_limits_path(tab: 'countries') %>
      <% end %>
    </p>

    <%= form_for @rate_limit, url: admin_rate_limits_path do |form| %>

      <% if params[:tab] == "domain_whitelist" %>
        <%= hidden_field_tag :tab, "domain_whitelist" %>

        <%= form_row for: [form.object, :domain_whitelist] do %>
          <%= error_messages_for_field @rate_limit, :domain_whitelist %>
          <%= form.text_area :domain_whitelist, tabindex: increment, rows: 15, class: 'form-control' %>
          <p><small>use *.example.com to match one subdomain and **.example.com to match nested subdomains</small><p>
        <% end %>

      <% elsif params[:tab] == "domain_blacklist" %>
        <%= hidden_field_tag :tab, "domain_blacklist" %>

        <%= form_row for: [form.object, :domain_blacklist] do %>
          <%= error_messages_for_field @rate_limit, :domain_blacklist %>
          <%= form.text_area :domain_blacklist, tabindex: increment, rows: 15, class: 'form-control' %>
          <p><small>use *.example.com to match one subdomain and **.example.com to match nested subdomains</small><p>
        <% end %>

      <% elsif params[:tab] == "ip_whitelist" %>
        <%= hidden_field_tag :tab, "ip_whitelist" %>

        <%= form_row for: [form.object, :ip_whitelist] do %>
          <%= error_messages_for_field @rate_limit, :ip_whitelist %>
          <%= form.text_area :ip_whitelist, tabindex: increment, rows: 15, class: 'form-control' %>
          <p><small>use CIDR addressing to match ranges, e.g. 192.168.0.0/24</small><p>
        <% end %>

      <% elsif params[:tab] == "ip_blacklist" %>
        <%= hidden_field_tag :tab, "ip_blacklist" %>

        <%= form_row for: [form.object, :ip_blacklist] do %>
          <%= error_messages_for_field @rate_limit, :ip_blacklist %>
          <%= form.text_area :ip_blacklist, tabindex: increment, rows: 15, class: 'form-control' %>
          <p><small>use CIDR addressing to match ranges, e.g. 192.168.0.0/24</small><p>
        <% end %>

      <% elsif params[:tab] == "countries" %>
        <%= hidden_field_tag :tab, "countries" %>

        <%= form_row for: [form.object, :countries] do %>
          <%= error_messages_for_field @rate_limit, :countries %>
          <%= form.text_area :countries, tabindex: increment, rows: 8, class: 'form-control' %>
          <p><small>Add countries that are allowed to sign petitions, e.g. United Kingdom</small><p>
        <% end %>

        <%= form_row for: [form.object, :geoblocking_enabled], class: 'inline' do %>
          <%= form.label :geoblocking_enabled, "Enable geoblocking of signatures?", class: 'form-label' %>
          <%= error_messages_for_field @rate_limit, :geoblocking_enabled %>
          <%= form.label :geoblocking_enabled_true, nil, class: 'block-label' do %>
            <%= form.radio_button :geoblocking_enabled, true %> Yes
          <% end %>
          <%= form.label :geoblocking_enabled_false, nil, class: 'block-label' do %>
            <%= form.radio_button :geoblocking_enabled, false %> No
          <% end %>
        <% end %>

      <% else %>

        <h2>Short period signing rate per IP address</h2>

        <%= form_row for: [form.object, :burst_period] do %>
          <%= form.label :burst_period, "Length of short period in seconds", class: 'form-label' %>
          <%= error_messages_for_field @rate_limit, :burst_period %>
          <%= form.text_field :burst_period, tabindex: increment, maxlength: 30, class: 'form-control' %>
        <% end %>

        <%= form_row for: [form.object, :burst_rate] do %>
          <%= form.label :burst_rate, "Number of signatures created per short period", class: 'form-label' %>
          <%= error_messages_for_field @rate_limit, :burst_rate %>
          <%= form.text_field :burst_rate, tabindex: increment, maxlength: 30, class: 'form-control' %>
        <% end %>

        <h2>Long period signing rate per IP address</h2>

        <%= form_row for: [form.object, :sustained_period] do %>
          <%= form.label :sustained_period, "Length of long period in seconds", class: 'form-label' %>
          <%= error_messages_for_field @rate_limit, :sustained_period %>
          <%= form.text_field :sustained_period, tabindex: increment, maxlength: 30, class: 'form-control' %>
        <% end %>

        <%= form_row for: [form.object, :sustained_rate] do %>
          <%= form.label :sustained_rate, "Number of signatures created per long period", class: 'form-label' %>
          <%= error_messages_for_field @rate_limit, :sustained_rate %>
          <%= form.text_field :sustained_rate, tabindex: increment, maxlength: 30, class: 'form-control' %>
        <% end %>

      <% end %>

      <%= form.submit 'Save', class: 'button' %>
      <%= link_to 'Cancel', admin_root_path, class: 'button-secondary' %>

    <% end %>
  </div>
</div>
