<h1>Edit Rate Limits</h1>

<div class="grid-row">
  <div class="grid-column">
    <%= render "tabs" %>
  </div>

  <div class="column-two-thirds extra-gutter">
    <% if params[:tab] == "allowed_domains" %>
      <%= render "form", tab: "allowed_domains" %>
    <% elsif params[:tab] == "blocked_domains" %>
      <%= render "form", tab: "blocked_domains" %>
    <% elsif params[:tab] == "allowed_ips" %>
      <%= render "form", tab: "allowed_ips" %>
    <% elsif params[:tab] == "blocked_ips" %>
      <%= render "form", tab: "blocked_ips" %>
    <% elsif params[:tab] == "countries" %>
      <%= render "form", tab: "countries" %>
    <% elsif params[:tab] == "trending_items" %>
      <%= render "form", tab: "trending_items" %>
    <% else %>
      <%= render "form", tab: "rate_limits" %>
    <% end %>
  </div>
</div>
