<h1 class='page-title'>Make sure this is right</h1>

<%# Not using signatures/email because autofocus and hidden label %>
<%= form_row :for => [signature, :email] do %>
  <%= f.label :email, :class => 'form-label visuallyhidden' %>
  <%= error_messages_for_field signature, :email %>
  <%= f.text_field :email, :type => 'email', :tabindex => increment, :class => 'form-control', :autofocus => true %>
<% end %>

<%= f.button 'Yes - this is my email address', :name => 'move', :value => 'next', :class => 'button', :tabindex => increment %>

<p>If your email address is wrong, just change it above</p>
