<fieldset>
  <legend>Your Details</legend>
  <%= render 'signatures/form', f: f, signature: signature %>

  <div class="row">
    <p>By signing this petition, you agree to the <%= link_to 'Terms & Conditions', terms_and_conditions_path %></p>
  </div>

  <%= form_row :class => 'button_row' do %>
    <% if local_assigns.fetch(:with_signer_ui_back_link, true) %>
      <%= link_to "Back", petition_path(@petition), :class => "backwards_action link_button", :tabindex => increment %>
    <% end %>
    <%= f.button 'Sign this e-petition', :name => 'move', :value => 'next', :class => 'button forward_action', :tabindex => increment %>
  <% end %>
</fieldset>
