<h1 class='page-title'>Sign this petition</h1>
<h2 class='page-subtitle'><%= @petition.title %></h2>

<%= render 'signatures/form', f: f, signature: signature %>

<p>By signing this petition, you agree to the <%= link_to 'Terms & Conditions', help_path(anchor: 'terms-and-conditions') %></p>

<%= form_row do %>
  <%= f.button 'Sign this petition', :name => 'move', :value => 'next', :class => 'button', :tabindex => increment %>
<% end %>
