<p>Dear <%= @petition.creator_signature.name %></p>

<p>Looks like your e-petition "<%= link_to(@petition.title, petition_url(@petition)) %>" is gaining momentum. If you do get to 100,000 signatures you will need an MP to support a debate.  You can find your local MP at <%= linkify 'http://findmymp.parliament.uk/' %>.</p>

<p>You can find more information about how the House of Commons deals with e-petitions on the Backbench Business Committee website at <%= linkify 'http://www.parliament.uk/bbcom' %>.  If you need any more information, you can contact us at <%= mail_to 'petitions@commonsleader.x.gsi.gov.uk' %>.</p>

<p>Thanks,</p>

<p>HM Government e-petitions <%= linkify home_url %></p>
