<p>Hi <%= @signature_one.name %> and <%= @signature_two.name %>,</p>

<p>You’ve both already signed the petition “<%= @signature_one.petition.action %>”</p>

<p>You can’t sign a second time.</p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
