<p>Click this link to sign the petition "<%= @petition.action %>"</p>

<p><%= link_to nil, verify_signature_url(@signature, token: @signature.perishable_token) %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<div itemscope itemtype="http://schema.org/EmailMessage">
  <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ConfirmAction">
    <meta itemprop="name" content="Sign Petition" />
    <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
      <link itemprop="url" href="<%=verify_signature_url(@signature, token: @signature.perishable_token) %>" />
    </div>
  </div>
  <meta itemprop="description" content="Click to sign the petition '<%= @petition.action %>'" />
</div>
