<p>Dear <%= @creator.name %>,</p>

<p>You’re not done yet!</p>

<p>Forward the email below to your potential supporters.</p>

<p><%= Site.threshold_for_moderation %> people need to click the link and confirm their support for us to publish your petition.</p>

<% if christmas_period? %>
<p>Once you’ve gained the required number of supporters, we’ll check your petition to make sure it meets the petition standards. If it does we’ll publish it. This usually takes a week or less but over the Christmas period it will take us a little longer than usual. We’ll check your petition as quickly as we can.</p>
<% elsif easter_period? %>
<p>Once you’ve gained the required number of supporters, we’ll check your petition to make sure it meets the petition standards. If it does we’ll publish it. This usually takes a week or less but over the Easter period it will take us a little longer than usual. We’ll check your petition as quickly as we can.</p>
<% elsif moderation_delay? %>
<p>Once you’ve gained the required number of supporters, we’ll check your petition to make sure it meets the petition standards. If it does, we’ll publish it. This usually takes a week or less, however we have a very large number to check at the moment so it is likely to take longer. Thank you for your patience.</p>
<% else %>
<p>Once you’ve gained the required number of supporters, we’ll check your petition to make sure it meets the petition standards. If it does, we’ll publish it. This usually takes a week or less.</p>
<% end %>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<hr />

<p>I’ve made a petition – will you sign it?</p>

<p>Click this link to sign the petition:<br />
<%= link_to nil, new_petition_sponsor_url(@petition, token: @petition.sponsor_token) %></p>

<p>My petition:</p>

<p><%= @petition.action %></p>

<p><%= @petition.background %></p>
<% if @petition.additional_details? %>

  <p><%= @petition.additional_details %></p>
<% end %>

<hr />

<p>Click this link to sign the petition:<br />
<%= link_to nil, new_petition_sponsor_en_url(@petition, token: @petition.sponsor_token) %></p>

<p>Cliciwch y ddolen hon i arwyddo'r ddeiseb:<br />
<%= link_to nil, new_petition_sponsor_cy_url(@petition, token: @petition.sponsor_token) %></p>
