<p>Dear <%= @creator.name %>,</p>

<p>You’re not done yet!</p>

<p>Forward the email below to your potential supporters.</p>

<p><%= Site.threshold_for_moderation %> people need to click the link and confirm their support for us to publish your petition.</p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<hr />

<p>I’ve made a petition – will you sign it?</p>

<p>Click this link to sign the petition:<br />
<%= link_to nil, petition_sponsor_url(@petition, token: @petition.sponsor_token) %></p>

<p>My petition:</p>

<p><%= @petition.action %></p>

<p><%= @petition.background %></p>
<% if @petition.additional_details? %>

  <p><%= @petition.additional_details %></p>
<% end %>

<hr />

<p>Click this link to sign the petition:<br />
<%= link_to nil, petition_sponsor_url(@petition, token: @petition.sponsor_token) %></p>
