<p>Hi,</p>

<p>We don’t think anyone has signed the petition using this email address: <%= @email %>.</p>

<p>Maybe you used a different email address?</p>

<p>If you still want to sign the petition “<%= @petition.action %>”, click this link:<br />
<%= link_to nil, petition_url(@petition) %></p>

<p>Ignore this email if you think it was sent to you by mistake.</p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= link_to nil, home_url %></p>
