<p>Hi <%= @signature.name %>,</p>

<p>Parliament debated the petition you signed – “<%= @petition.action %>”</p>
<% unless @petition.debate_outcome.video_url.blank? %>

  <p>Watch the debate: <%= auto_link(@petition.debate_outcome.video_url) %></p>
<% end %>
<% unless @petition.debate_outcome.transcript_url.blank? %>

  <p>Read the transcript: <%= auto_link(@petition.debate_outcome.transcript_url) %></p>
<% end %>
<% if @petition.debate_outcome.transcript_url.blank? && @petition.debate_outcome.video_url.blank? %>

  <p><%= link_to nil, petition_url(@signature.petition) %></p>
<% else %>

  <p>The petition: <%= link_to nil, petition_url(@signature.petition) %></p>
<% end %>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<p><small>You’re receiving this email because you signed this petition. Unsubscribe: <%= link_to 'unsubscribe', unsubscribe_signature_url(@signature, @signature.unsubscribe_token) %></small></p>
