<p>Dear <%= @signature.name %>,</p>

<p>We published the petition you created – “<%= @petition.action %>”</p>

<p>Click this link to see your petition and start sharing it:<br />
<%= link_to nil, petition_url(@petition) %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
