<p>Dear <%= @signature.name %>,</p>

<p>Your e-petition "<%= @signature.petition.title %>" hasn't been accepted.</p>

<%= @signature.petition.rejection_description.html_safe %>

<% if @signature.petition.rejection_text.present? %>
<p><%= raw auto_link(h(@signature.petition.rejection_text)) %></p>
<% end %>

<% if @signature.petition.state != Petition::HIDDEN_STATE -%>
  <p><%= link_to 'View your rejected e-petition', petition_url(@signature.petition) %></p>
<% end -%>

<p>If you'd like to submit a new e-petition, please read the site's terms and conditions which explain the rules in detail.</p>

<p>Thanks,</p>

<p>HM Government e-petitions <%= link_to home_url, home_url %></p>
