<p>Dear <%= @signature.name %>,</p>

<p>You recently signed the <%= "petition".pluralize(@count) %>:</p>

<% @petitions.each do |petition| %>
<p><strong><%= petition.action %></strong><br>
<%= link_to(nil, petition_url(petition)) %></p>

<% end %>
<% if @remaining > 0 %>
<p>Plus another <%= pluralize(@remaining, "petition", locale: :en) %></p>

<% end %>
<p>Because of the General Election, the closing date for the <%= "petition".pluralize(@count) %> you signed has changed. All petitions now have to close at <%= @closing_time %> on <%= @closing_date %>. This is because Parliament will be dissolved, which means all parliamentary business – including petitions – must stop. This means the petitions site will be closed and people will not be able to start or sign petitions.</p>

<p>We’re sorry we weren’t able to give you more notice that this would happen.</p>

<p>The <%= "petition".pluralize(@count) %> will be available for people to read on the site even though it will be closed for signatures. <%= @count > 1 ? "These petitions" : "This petition" %> won’t be reopened after the election.</p>

<p>The Government can’t respond to petitions during the election period. This means if <%= @count > 1 ? "any of the petitions" : "the petition" %> has over <%= Site.formatted_threshold_for_response %> signatures, <%= @count > 1 ? "they" : "it" %> can’t receive a response from the current Government after <%= @last_response_date %>. After the election, the new Government will have to decide whether to respond to petitions from before the election.</p>

<p>The current Petitions Committee, the group of MPs who decide whether petitions are debated, won’t exist after <%= @closing_date %>. This means that if <%= @count > 1 ? "any of the petitions" : "the petition" %> has over <%= Site.formatted_threshold_for_debate %> signatures, <%= @count > 1 ? "they" : "it" %> can’t be scheduled for debate during this Parliament. After the election, a new Petitions Committee will be responsible for deciding which petitions are debated.</p>

<p>The petitions site will reopen when a new Petitions Committee is appointed, but at the moment we don’t know exactly when. You can follow us on X <a href="https://x.com/HoCPetitions">&commat;HoCPetitions</a> for updates, or check back on the petitions site for news.</p>

<% if Parliament.dissolution_faq_url? %>
<p>You can find out more about what the General Election means for your petitions on our website: <%= link_to(nil, Parliament.dissolution_faq_url) %></p>

<% end %>
<p>Ahead of the General Election on <%= @election_date %>, make sure you’re registered to vote. You can check whether you’re eligible to vote and find out how to register at: <a href="https://www.gov.uk/register-to-vote">https://www.gov.uk/register-to-vote</a>. The deadline to register to vote is <%= @registration_deadline %>.</p>

<%= render "footer", closing: "Many thanks" %>
