<p>Dear <%= @signature.name %>,</p>

<p>The petition '<%= @petition.action %>' signed by you recently reached <%= number_with_delimiter Site.threshold_for_response %> signatures and a response has been made to it.</p>

<p><%= @petition.government_response.details %></p>

<p><%= link_to "View the response to the petition", petition_url(@signature.petition) %></p>

<p>Thanks,</p>

<p><%= t("petitions.emails.signoff_prefix") %> <%= link_to home_url, home_url %></p>

<p>Don't want to receive any more emails regarding this petition? Unsubscribe by clicking <%= link_to 'unsubscribe', unsubscribe_signature_url(@signature, @signature.unsubscribe_token) %></p>
