<%= render "reason" %>
<p>Dear <%= @signature.name %>,</p>

<p>You recently created the petition “<%= @petition.action %>”:<br />
<%= link_to nil, petition_url(@petition) %></p>

<%= auto_link(simple_format(h(@body))) %>

<%= render "footer" %>
<%= render "unsubscribe" %>
