<%= render "reason" %>
<p>Dear <%= @signature.name %>,</p>

<p>The Government has responded to the petition you signed.</p>

<blockquote><%= auto_link(simple_format(h(@government_response.summary))) %></blockquote>

<p><%= link_to "Read the full response", petition_url(@petition, reveal_response: "yes") %>.</p>

<p>If <%= Site.formatted_threshold_for_debate %> people sign the petition, the Petitions Committee will consider whether MPs debate it in Parliament.</p>

<%= render "footer" %>
<%= render "unsubscribe" %>
