<p>Dear <%= @signature.name %>,</p>

<p>Unfortunately we’re closing all petitions on 31 March 2015, including your petition "<%= @petition.action %>":<br />
<%= petition_url(@petition) %></p>

<p>Parliament will be dissolved on 30 March 2015 and it’s not possible for petitions to remain open once Parliament has been dissolved.</p>

<p>Sorry you won't have as long to collect signatures as you expected.</p>

<p>If you want to give feedback, please contact us at:<br />
<%= link_to nil, feedback_url %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
