<p>Dear <%= @signature.name %>,</p>

<p>Your petition "<%= @signature.petition.action %>" has now been published. You can view your petition at: <%=
  url = petition_url(@signature.petition)
  link_to url, url
  %></p>

<p>You can also share this URL to promote your petition or use the social network links available on your petition's page.</p>

<p>Thanks,</p>
<p><%= t("petitions.emails.signoff_prefix") %> <%= link_to home_url, home_url %></p>
