<p>Hi <%= @signature.name %>,</p>

<p>The Government has responded to the petition you signed – “<%= @petition.action %>”.</p>

<p>Government responded:</p>

<blockquote><%= auto_link(simple_format(h(@petition.government_response.summary))) %></blockquote>

<%= auto_link(simple_format(h(@petition.government_response.details))) %>

<p>Click this link to view the response online: <%= link_to nil, petition_url(@signature.petition) %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<p><small>You’re receiving this email because you signed this petition. Unsubscribe: <%= link_to 'unsubscribe', unsubscribe_signature_url(@signature, @signature.unsubscribe_token) %></small></p>
