<p>Dear <%= @signature.name %>,</p>

<p>
  A petition you've supported will be debated by parliament. Please find a link to the debate on the petition
  <%= link_to nil, petition_url(@signature.petition) %>
</p>

<p>Thanks,</p>

<p><%= t("petitions.emails.signoff_prefix") %> <%= link_to nil, home_url %></p>

<p>Don't want to receive any more emails regarding this petition? Unsubscribe by clicking <%= link_to 'unsubscribe', unsubscribe_signature_url(@signature, @signature.unsubscribe_token) %></p>
