<p>Dear <%= @signature.name %>,</p>

<% if @petition.hidden? %>
<p>Sorry, we can’t accept the petition you supported: “<%= @petition.action %>”.
<% else %>
<p>Sorry, we can’t accept the petition you supported: “<%= link_to @petition.action, petition_url(@petition) %>”.
<% end %>

<%= rejection_description(@rejection.code) %>
<% if @rejection.details? -%>

<p><%= auto_link(h(@rejection.details)) %></p>
<% end -%>

<p>We only accept petitions that meet the <%= link_to "petition standards", help_url(anchor: 'standards') %>.</p>

<%= render "footer" %>
