<%= render "reason" %>
Dear <%= @signature.name %>,

<% if @debate_outcome.debated? %>
Parliament debated the petition you signed – “<%= @petition.action %>”

<% if @debate_outcome.overview? %>
<%= @debate_outcome.overview %>

<% end %>
<% if @debate_outcome.video_url? %>
Watch the debate: <%= @debate_outcome.video_url %>

<% end %>
<% if @debate_outcome.transcript_url? %>
Read the transcript: <%= @debate_outcome.transcript_url %>

<% end %>
<% if @debate_outcome.debate_pack_url? %>
Read the research: <%= @debate_outcome.debate_pack_url %>

<% end %>
<% if @debate_outcome.public_engagement_url? %>

<p>Read what the public said: <%= @debate_outcome.public_engagement_url %></p>
<% end %>
<% if @debate_outcome.debate_summary_url? %>

<p>Read a summary of the debate: <%= @debate_outcome.debate_summary_url %></p>
<% end %>
The petition: <%= petition_url(@petition) %>

<% else %>
The Petitions Committee decided not to debate the petition you signed – “<%= @petition.action %>”

<% if @debate_outcome.overview? %>
<%= @debate_outcome.overview %>

<% end %>
The petition: <%= petition_url(@petition) %>

Find out more about the Petitions Committee: <%= help_url(anchor: "petitions-committee") %>

<% end %>
<%= render "footer" %>
<%= render "unsubscribe" %>
