<p>Hi <%= @pending_signature.name %></p>

<p>Click this link to sign the petition "<%= @pending_signature.petition.action %>":</p>

<p><%= link_to nil, verify_signature_url(@pending_signature, @pending_signature.perishable_token) %></p>

<p><%= @validated_signature.name %> has already signed this petition.</p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
UK Government and Parliament</p>
