<p>Dear <%= @petition.creator_signature.name %>,</p>

<p>We rejected the petition you created – “<%= @petition.action %>”.

<%= rejection_description(@rejection.code) %>
<% if @rejection.details? -%>

<p><%= auto_link(h(@rejection.details)) %></p>
<% end -%>
<% unless @petition.hidden? -%>

<p>Click this link to see your rejected petition:<br />
<%= link_to 'View your rejected petition', petition_url(@petition) %></p>
<% end -%>

<p>We only reject petitions that don’t meet the petition standards:<br />
<%= link_to nil, help_url(anchor: 'standards') %></p>

<p>If you want to try again, click here to start a petition:<br />
<%= link_to nil, check_petitions_url %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
