<p>Petition "<%= @petition.action %>" hasn't been accepted.</p>

<%= rejection_description(@rejection.code) %>

<% if @rejection.details? %>
<p><%= auto_link(h(@rejection.details)) %></p>
<% end %>

<% unless @petition.hidden? -%>
  <p><%= link_to 'View your rejected petition', petition_url(@petition) %></p>
<% end -%>

<p>If you'd like to submit a new petition, please read the site's terms and conditions which explain the rules in detail.</p>

<p>Thanks,</p>

<p><%= t("petitions.emails.signoff_prefix") %> <%= link_to home_url, home_url %></p>
