<p>Dear <%= @signature.name %>,</p>

<p>We noticed that you tried to sign the petition “<%= @petition.action %>” but haven’t confirmed your email address.</p>

<p>Click this link to sign the petition:</p>

<p><%= link_to nil, verify_signature_url(@signature, @signature.perishable_token) %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
