<p>Hi <%= @signature_one.name %> and <%= @signature_two.name %>,<p>

<p>You need to click both these links to sign the petition "<%= @signature_one.petition.action %>"</p>

<p><%= @signature_one.name %>: <%= link_to nil, verify_signature_url(@signature_one, @signature_one.perishable_token) %></p>

<p><%= @signature_two.name %>: <%= link_to nil, verify_signature_url(@signature_two, @signature_two.perishable_token) %></p>

<p>You must click both links to confirm both signatures.</p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
