<%= cache_for :petition do %>
  <h1>
    <span class="heading-secondary"><%= t(:"ui.petitions.heading_closed") %></span>
    <%= petition.action %>
  </h1>

  <% if @petition.committee_note? %>
    <div class="committee-note">
      <%= markdown_to_html(@petition.committee_note) %>
    </div>
  <% end %>

  <div><%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %></div>
  <% unless petition.additional_details.blank? %>
    <details>
      <summary><span class="summary"><%= t(:"ui.petitions.more_details") %></span></summary>
      <div><%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>


  <% if petition.closed_early_due_to_election? %>
    <p class="flash-notice">
      <%= t(:"ui.petitions.closed_due_to_election") %>

      <% if Parliament.dissolution_faq_url? %>
        <span><%= parliament_dissolution_faq_notice %></span>
      <% end %>
    </p>
  <% else %>
    <p class="flash-notice">
      <%= t(:"ui.petitions.petition_closed_notice") %>
      <span><%= t(:"ui.petitions.petitions_run_6_months") %></span>
    </p>
  <% end %>

  <div class="signature-count">
    <p class="signature-count-number"><%= signature_count(:default, petition.signature_count) %></p>
    <div class="signature-count-graph" aria-hidden="true">
      <span class="signature-count-current" style="width: <%= signatures_threshold_percentage(petition) %>"></span>
    </div>
    <p class="signatures-on-a-map">
      <%= t(:"ui.petitions.show_on_a_map_html", petition_id: petition.id) %>
    </p>
    <p class="signature-count-goal">
      <%= number_with_delimiter(current_threshold(petition)) %>
    </p>
  </div>

  <%= render 'threshold_details', petition: petition %>
  <%= render 'other_business_details', petition: petition %>

  <ul class="petition-meta">
    <li>
      <span class="label"><%= t(:"ui.petitions.date_closed") %></span> <%= short_date_format petition.closed_at %>
    </li>
    <li class="meta-json">
      <span class="note"><%= link_to t(:"ui.petitions.get_json"), petition_path(petition, :json) %></span>
      <%= t(:"ui.petitions.about_petition_data_html") %>
    </li>
  </ul>
<% end %>
