<%= cache_for :petition do %>
  <h1>
    <% if @petition.completed? %>
      <span class="heading-secondary"><%= t(:"ui.petitions.heading_completed") %></span>
    <% else %>
      <span class="heading-secondary"><%= t(:"ui.petitions.heading_closed") %></span>
    <% end %>
    <%= petition.action %>
  </h1>

  <% if petition.background? %>
    <div class="petition-content"><%= apply_formatting(petition, :background) %></div>
  <% end %>
  <% if petition.additional_details? %>
    <details>
      <summary><span class="summary"><%= t(:"ui.petitions.more_details") %></span></summary>
      <div class="petition-content"><%= apply_formatting(petition, :additional_details) %></div>
    </details>
  <% end %>

  <% if @petition.referred? %>
    <section class="referral-notice" aria-labelledby="referral-notice-heading">
      <h2 id="referral-notice-heading">
        <% if @petition.completed? %>
          <%= t(:"ui.petitions.referral_threshold.completed.heading") %>
        <% else %>
          <%= t(:"ui.petitions.referral_threshold.referred.heading") %>
        <% end %>
      </h2>

      <% unless @petition.completed? %>
        <p><%= t(:"ui.petitions.referral_threshold.referred.referral_threshold", threshold: Site.formatted_threshold_for_referral) %></p>
      <% end %>

      <% if @petition.abms_link? %>
        <p class="secondary"><%= t(:"ui.petitions.referral_threshold.referred.link_html", link: @petition.abms_link) %></p>
      <% end %>
    </section>
  <% else %>
    <section class="referral-notice" aria-labelledby="referral-notice-heading">
      <h2 id="referral-notice-heading">
        <%= t(:"ui.petitions.referral_threshold.closed.heading") %>
      </h2>

      <p><%= t(:"ui.petitions.referral_threshold.closed.description", threshold: Site.formatted_threshold_for_referral) %></p>
    </section>
  <% end %>

  <div class="signature-count">
    <p class="signature-count-number"><%= signature_count(:default, petition.signature_count) %></p>
    <div class="signature-count-graph" aria-hidden="true">
      <span class="signature-count-current" style="width: <%= signatures_threshold_percentage(petition) %>"></span>
    </div>
    <p class="signatures-on-a-map">
      <%= link_to petition_map_path(petition) do %>
        <%= t(:"ui.petitions.show_on_a_map") %>
      <% end %>
    </p>
    <p class="signature-count-goal">
      <%= number_with_delimiter(current_threshold(petition)) %>
    </p>
  </div>

  <%= render 'threshold_details', petition: petition %>
  <%= render 'other_senedd_business_details', petition: petition %>

  <ul class="petition-meta">
    <li>
      <% if @petition.completed? %>
        <span class="label"><%= t(:"ui.petitions.date_completed") %></span> <%= short_date_format petition.completed_at %>
      <% elsif @petition.submitted_on_paper? %>
        <span class="label"><%= t(:"ui.petitions.date_submitted") %></span> <%= short_date_format petition.submitted_on %>
      <% else %>
        <span class="label"><%= t(:"ui.petitions.date_closed") %></span> <%= short_date_format petition.closed_at %>
      <% end %>
    </li>
    <li class="meta-json">
      <span class="note"><%= link_to t(:"ui.petitions.get_json"), petition_path(petition, :json) %></span>
      <%= t(:"ui.petitions.about_petition_data_html") %>
    </li>
  </ul>
<% end %>
