<section class="petition-detail">
  <h1 id="action">
    <span class="tag tag-grey">
      Closed<span class="visually-hidden"> petition: </span>
    </span>
    <%= petition.action %>
  </h1>

  <p>
    Closed on
    <%= time_tag(petition.closed_at) do %>
      <strong><%= short_date_format(petition.closed_at) %></strong>
    <% end %>
  </p>

  <% if @petition.committee_note? %>
    <div class="highlight">
      <%= markdown_to_html(@petition.committee_note) %>
    </div>
  <% end %>

  <%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %>

  <% unless petition.additional_details.blank? %>
    <%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %>
  <% end %>

  <%= render "signature_count", petition: petition %>
  <%= render "petitions/timeline", petition: petition %>

  <hr>

  <footer>
    <h2 id="data">
      Petition data
    </h2>

    <p>
      <%= link_to "Get petition data in JSON format", petition_path(petition, :json), download: "petition-#{petition.id}.json" %>
    </p>
  </footer>
</section>

<% content_for :preload do %>
  <%= preload_link_tag 'open-petition.js', nopush: true %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag 'open-petition' %>
<% end %>
