<section class="petition-detail">
  <h1 id="action">
    <span class="tag tag-grey">
      Closed<span class="visually-hidden"> petition: </span>
    </span>
    <%= petition.action %>
  </h1>

  <p>
    Closed on
    <%= time_tag(petition.closed_at) do %>
      <strong><%= short_date_format(petition.closed_at) %></strong>
    <% end %>
  </p>

  <% if @petition.committee_note? %>
    <div class="highlight">
      <%= markdown_to_html(@petition.committee_note) %>
    </div>
  <% end %>

  <%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %>

  <% unless petition.additional_details.blank? %>
    <%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %>
  <% end %>

  <%= render "signature_count", petition: petition %>
  <%# render 'threshold_details', petition: petition %>
  <%# render 'related_activity_details', petition: petition %>

  <% petition_timeline(petition) do |items| %>
    <hr>

    <div class="petition-timeline">
      <h2 id="progress">
        Petition progress
      </h2>

      <ul>
        <% items.each do |item| %>
          <%= tag.li(class: class_names(completed: item.completed)) do %>
            <h3><%= item.title %></h3>
            <p><%= item.description %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <hr>

  <footer>
    <h2 id="data">
      Petition data
    </h2>

    <p>
      <%= link_to "Get petition data in JSON format", petition_path(petition, :json) %>
    </p>
  </footer>
</section>
