<section class="about-item about-item-count-debate" aria-labelledby="debate-threshold-heading">
  <%# Has debate outcome details #%>
  <% if debate_outcome = petition.debate_outcome? -%>
    <% if debate_outcome.debated? %>
      <h2 id="debate-threshold-heading">Parliament debated this topic</h2>
      <section class="debate-outcome">
        <p class="secondary">This topic was debated on <%= short_date_format debate_outcome.debated_on %></p>
        <% if debate_outcome.video_url? -%>
          <%= link_to debate_outcome.video_url, rel: 'external' do %>
            <span class="debate-video graphic graphic-house-of-commons" aria-hidden>
              <span class="play-button icon icon-play-white" aria-hidden></span>
            </span>
          <% end -%>
        <% end -%>
        <% if debate_outcome.video_url? || debate_outcome.transcript_url? -%>
          <p>
          <% if debate_outcome.video_url? -%>
            <%= link_to 'Watch the debate', debate_outcome.video_url, rel: 'external' %>
          <% end -%>
          <% if debate_outcome.video_url? && debate_outcome.transcript_url? -%>
            &bull;
          <% end -%>
          <% if debate_outcome.transcript_url? -%>
            <%= link_to 'Read the transcript', debate_outcome.transcript_url, rel: 'external' %>
          <% end -%>
          </p>
        <% end -%>
        <% if debate_outcome.overview? -%>
          <%= auto_link(simple_format(h(debate_outcome.overview)), html: { rel: 'nofollow' }) %>
        <% end -%>
      </section>
    <% else %>
      <h2 id="debate-threshold-heading">The Petitions Committee decided not to debate this petition</h2>
      <% if debate_outcome.overview? -%>
        <%= auto_link(simple_format(h(debate_outcome.overview)), html: { rel: 'nofollow' }) %>
      <% end -%>
    <% end %>
  <%# Has a debate date #%>
  <% elsif petition.scheduled_debate_date? -%>

    <%# Waiting for a debate outcome #%>
    <% if petition.scheduled_debate_date.past? %>
      <h2 id="debate-threshold-heading">Parliament debated this topic</h2>
      <p class="about-item-scheduled-debate-date">
        Parliament debated this petition on <%= short_date_format(petition.scheduled_debate_date) %>
      </p>
      <p>
        You'll be able to watch the debate online at <a href="http://parliamentlive.tv" rel="external">parliamentlive.tv</a>
      </p>
      <p class="secondary"><%= waiting_for_in_words(petition.scheduled_debate_date) %> for Parliament to publish the debate outcome</p>

    <%# Debate is still to come #%>
    <% else %>
      <h2 id="debate-threshold-heading">Parliament will debate this petition</h2>
      <p class="about-item-scheduled-debate-date">
        Parliament will debate this petition on <%= short_date_format(petition.scheduled_debate_date) %>.
      </p>
      <p>
        You'll be able to watch online at <a href="http://parliamentlive.tv" rel="external">parliamentlive.tv</a>
      </p>
    <% end %>

  <%# Waiting for a government response #%>
  <% elsif petition.debate_threshold_reached_at? -%>
    <h2 id="debate-threshold-heading">Parliament will consider this for a debate</h2>
    <p>Parliament considers all petitions that get more than <%= Site.formatted_threshold_for_debate %> signatures for a debate</p>
    <p class="secondary"><%= waiting_for_in_words(petition.debate_threshold_reached_at) %> for a debate date</p>

  <%# Needs more signatures #%>
  <% else -%>
    <h2 id="debate-threshold-heading">At <%= Site.formatted_threshold_for_debate %> signatures...</h2>
    <p>At <%= Site.formatted_threshold_for_debate %> signatures, this petition will be considered for debate in Parliament</p>
  <% end -%>
</section>
