<section class="about-item about-item-count-debate" aria-labelledby="debate-threshold-heading">
  <span class="graphic graphic-portcullis"></span>
  <h2 id="debate-threshold-heading"><%= Site.formatted_threshold_for_debate %></h2>
  <%# Has debate outcome details #%>
  <% if debate_outcome = petition.debate_outcome? -%>
    <section class="debate-outcome">
      <p>This topic was debated on <%= short_date_format debate_outcome.debated_on %></p>
      <% if debate_outcome.video_url? -%>
        <p><%= link_to 'Watch the debate', debate_outcome.video_url, rel: 'external' %></p>
      <% end -%>
      <% if debate_outcome.transcript_url? -%>
        <p><%= link_to 'Read the transcript', debate_outcome.transcript_url, rel: 'external' %></p>
      <% end -%>
      <% if debate_outcome.overview? -%>
        <%= auto_link(simple_format(h(debate_outcome.overview)), html: { rel: 'nofollow' }) %>
      <% end -%>
    </section>
  <% elsif petition.scheduled_debate_date? %>
    <p class="about-item-scheduled-debate-date">
      This petition will be debated on <%= short_date_format(petition.scheduled_debate_date) %>.
    </p>
    <p>
      You'll be able to watch online at <a href="http://parliamentlive.tv" rel="external">parliamentlive.tv</a>
    </p>
  <% else -%>
    <p>If a petition gets <%= Site.formatted_threshold_for_debate %> signatures, it will be considered for debate in Parliament</p>
  <% end -%>
</section>
