<% if Site.show_petition_page_message? && !Parliament.dissolution_announced? %>
  <% content_for(:message_banner) { markdown_to_html(Site.petition_page_message) } %>
<% end %>

<section class="petition-detail">
  <h1 id="action">
    <span class="tag tag-green">
      Open<span class="visually-hidden"> petition: </span>
    </span>
    <%= petition.action %>
  </h1>

  <p>
    <% if creator = petition.creator %>
      <% unless creator.anonymized? %>
        Created by <strong><%= petition.creator.name %></strong><br>
      <% end %>
    <% end %>

    <% if petition.closing_early_for_dissolution? %>
      Closes on
      <%= time_tag(Parliament.dissolution_at) do %>
        <strong><%= short_date_format(Parliament.dissolution_at) %></strong>
      <% end %>
    <% else %>
      Closes on
      <%= time_tag(petition.deadline) do %>
        <strong><%= short_date_format(petition.deadline) %></strong>
      <% end %>
    <% end %>
  </p>

  <% if @petition.committee_note? %>
    <div class="highlight">
      <%= markdown_to_html(@petition.committee_note) %>
    </div>
  <% end %>

  <%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %>

  <% unless petition.additional_details.blank? %>
    <%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %>
  <% end %>

  <% unless Site.signature_collection_disabled? %>
    <p id="sign" class="button-group">
      <%= link_to "Sign this petition", new_petition_signature_path(petition), class: 'button' %>

      <button class="button-link button-share" id="shareButton" hidden>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M160 32c17.673 0 32 14.327 32 32s-14.327 32-32 32a31.85 31.85 0 0 1-17.791-5.397l-27.433 23.383A31.9 31.9 0 0 1 118 128c0 5.109-1.197 9.938-3.327 14.223l27.122 23.456A31.85 31.85 0 0 1 160 160c17.673 0 32 14.327 32 32s-14.327 32-32 32-32-14.327-32-32c0-5.109 1.197-9.938 3.327-14.223l-27.122-23.456A31.85 31.85 0 0 1 86 160c-17.673 0-32-14.327-32-32s14.327-32 32-32c6.846 0 13.19 2.15 18.394 5.811l27.156-23.147A31.86 31.86 0 0 1 128 64c0-17.673 14.327-32 32-32m0 144c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16m-74-64c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16m74-64c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16"/>
        </svg>
        Share this petition
      </button>

      <button class="button-link button-share" id="copyLinkButton" hidden>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M137.424 94.441c15.23 12.78 17.217 35.487 4.437 50.718l-1.523 1.817a12.95 12.95 0 0 1-7.978-3.036 12.94 12.94 0 0 1-4.343-7.175l1.588-1.89c3.55-4.231 5.049-9.5 4.603-14.6a19.94 19.94 0 0 0-7.069-13.577c-4.23-3.55-9.5-5.05-14.598-4.603a19.94 19.94 0 0 0-13.578 7.068l-38.568 45.963c-3.55 4.23-5.049 9.5-4.603 14.598a19.94 19.94 0 0 0 7.069 13.578c4.23 3.55 9.5 5.05 14.598 4.603a19.94 19.94 0 0 0 13.578-7.068l17.083-20.358a42.2 42.2 0 0 0 5.6 5.676 42 42 0 0 0 6.672 4.59l-17.098 20.377c-12.78 15.23-35.487 17.217-50.718 4.437-15.23-12.78-17.217-35.487-4.437-50.718l38.567-45.963c12.78-15.23 35.487-17.217 50.718-4.437m65-34c15.23 12.78 17.217 35.487 4.437 50.718l-38.567 45.963c-12.78 15.23-35.487 17.217-50.718 4.437-15.23-12.78-17.217-35.487-4.437-50.718l1.523-1.817a12.95 12.95 0 0 1 7.978 3.036 12.94 12.94 0 0 1 4.343 7.175l-1.588 1.89a19.93 19.93 0 0 0-4.67 13.44l-.365.435h.382q.02.363.05.724a19.94 19.94 0 0 0 7.069 13.578c4.23 3.55 9.5 5.05 14.598 4.603a19.94 19.94 0 0 0 13.578-7.068l38.568-45.963c3.55-4.23 5.049-9.5 4.603-14.598a19.94 19.94 0 0 0-7.069-13.578c-4.23-3.55-9.5-5.05-14.598-4.603a19.94 19.94 0 0 0-13.578 7.068L146.88 95.52a42.2 42.2 0 0 0-5.6-5.676 42 42 0 0 0-6.672-4.59l17.098-20.377c12.78-15.23 35.487-17.217 50.718-4.437"/>
        </svg>
        Copy link to this petition
      </button>
    </p>
  <% end %>

  <%= render "signature_count", petition: petition %>
  <%# render 'threshold_details', petition: petition %>
  <%# render 'related_activity_details', petition: petition %>

  <% petition_timeline(petition) do |items| %>
    <hr>

    <div class="petition-timeline">
      <h2 id="progress">
        Petition progress
      </h2>

      <ul>
        <% items.each do |item| %>
          <%= tag.li(class: class_names(completed: item.completed)) do %>
            <h3><%= item.title %></h3>
            <p><%= item.description %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <hr>

  <footer>
    <h2 id="data">
      Petition data
    </h2>

    <p>
      <%= link_to "Get petition data in JSON format", petition_path(petition, :json), download: "petition-#{petition.id}.json" %>
    </p>
  </footer>
</section>
