<% if Site.show_petition_page_message? %>
  <% content_for :notifications do %>
    <div class="highlight margin-top-7">
      <%= markdown_to_html(Site.petition_page_message) %>
    </div>
  <% end %>
<% end %>

<section class="petition-detail">
  <h1 id="action">
    <span class="tag tag-green">
      Open<span class="visually-hidden"> petition: </span>
    </span>
    <%= petition.action %>
  </h1>

  <p>
    <% if creator = petition.creator %>
      <% unless creator.anonymized? %>
        Created by <strong><%= petition.creator.name %></strong><br>
      <% end %>
    <% end %>

    <% if petition.closing_early_for_dissolution? %>
      Closes on
      <%= time_tag(Parliament.dissolution_at) do %>
        <strong><%= short_date_format(Parliament.dissolution_at) %></strong>
      <% end %>
    <% else %>
      Closes on
      <%= time_tag(petition.deadline) do %>
        <strong><%= short_date_format(petition.deadline) %></strong>
      <% end %>
    <% end %>
  </p>

  <% if @petition.committee_note? %>
    <div class="highlight">
      <%= markdown_to_html(@petition.committee_note) %>
    </div>
  <% end %>

  <%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %>

  <% unless petition.additional_details.blank? %>
    <%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %>
  <% end %>

  <% unless Site.signature_collection_disabled? %>
    <p id="sign">
      <%= link_to "Sign this petition", new_petition_signature_path(petition), class: 'button' %>
    </p>
  <% end %>

  <%= render "signature_count", petition: petition %>
  <%# render 'threshold_details', petition: petition %>
  <%# render 'related_activity_details', petition: petition %>

  <% petition_timeline(petition) do |items| %>
    <hr>

    <div class="petition-timeline">
      <h2 id="progress">
        Petition progress
      </h2>

      <ul>
        <% items.each do |item| %>
          <%= tag.li(class: class_names(completed: item.completed)) do %>
            <h3><%= item.title %></h3>
            <p><%= item.description %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'share_petition', petition: petition %>

  <hr>

  <footer>
    <h2 id="data">
      Petition data
    </h2>

    <p>
      <%= link_to "Get petition data in JSON format", petition_path(petition, :json) %>
    </p>
  </footer>
</section>
