<%= cache_for :petition do %>
  <h1>
    <span class="heading-secondary">Petition</span>
    <%= petition.action %>
  </h1>

  <div><%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %></div>
  <% unless petition.additional_details.blank? %>
    <details>
      <summary><span class="summary">More details</span></summary>
      <div><%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>

  <%= link_to "Sign this petition", new_petition_signature_path(petition), :class => 'button button-sign-petition', :tabindex => increment(5) %>

  <div class="signature-count">
    <p class="signature-count-number"><%= signature_count(:default, petition.signature_count) %></p>
    <div class="signature-count-graph" aria-hidden="true">
      <span class="signature-count-current" style="width: <%= signatures_threshold_percentage(petition) %>"></span>
    </div>
    <p class="signature-count-goal">
      <%= number_with_delimiter(current_threshold(petition)) %>
    </p>
  </div>

  <%= render 'threshold_details', petition: petition %>
  <%= render 'other_business_details', petition: petition %>
  <%= render 'share_petition', petition: petition %>

  <ul class="petition-meta">
    <li class="meta-created-by">
      <span class="label">Created by</span> <%= petition.creator_signature.name %>
    </li>
    <li class="meta-deadline">
      <span class="label">Deadline</span> <%= short_date_format petition.deadline %>
      <span class="note">All petitions run for 6 months</span>
    </li>
  </ul>
<% end %>
