<%= content_tag :p, :class => 'flash-notice' do -%>
    This petition is now closed
<% end if petition.closed? %>

<h1>
  <span class="heading-secondary">Petition</span>
  <%= petition.action %>
</h1>

<div><%= raw auto_link(simple_format(h(petition.background)), :html => { :target => '_blank' }) %></div>
<% unless petition.additional_details.blank? %>
  <details>
    <summary><span class="summary">More details</span></summary>
    <div><%= raw auto_link(simple_format(h(petition.additional_details)), :html => { :target => '_blank' }) %></div>
  </details>
<% end %>

<%# Signable #%>
<% if petition.can_be_signed? -%>
    <%= link_to "Sign this petition", new_petition_signature_path(petition), :class => 'button button-sign-petition', :tabindex => increment(5) %>
<% end -%>

<details class="confirmation-resend">
  <summary><span class="summary">Not received your confirmation email?</span></summary>
  <div class="panel-indent">
    <%= form_tag [:resend_confirmation_email, petition] do %>
        <div class="form-group">
          <%= label_tag :confirmation_email, "If you have already signed this petition, but didn't receive an email to confirm your signature, you can request a confirmation to be resent by providing your email address below.", :class => 'form-label' %>
          <%= text_field_tag :confirmation_email, "", :class => 'form-control' %>
        </div>
        <%= submit_tag 'Resend', :class => 'button' %>
    <% end %>
  </div>
</details>

<p class="signature-count"><%= signature_count(:default, petition.signature_count) %></p>

<%= render 'threshold_details', variation: (petition.response.present? || petition.debate_outcome.present? ? '' : 'about-petitions-light'), petition: petition %>

<%# Sharing %>
<% if petition.can_be_signed? -%>
    <%= render 'shared/share_petition', petition: petition %>
<% end -%>

<ul class="petition-meta">
  <li class="meta-deadline">
    <span class="label">Deadline</span> <%= short_date_format petition.closed_at %>
  </li>
  <li class="meta-created-by">
    <span class="label">Created by</span> <%= petition.creator_signature.name %>
  </li>
</ul>
