<hr>

<div class="petition-item">
  <h2>
    <%= link_to petition.action, petition %>
  </h2>

  <% if petition.open? %>
    <dl>
      <div>
        <dt>Status</dt>
        <dd>Open</dd>
      </div>
      <div>
        <dt>Total signatures</dt>
        <dd><%= number_with_delimiter(petition.signature_count) %></dd>
      </div>
      <div>
        <dt>Closes on</dt>
        <dd><%= short_date_format(petition.deadline) %></dd>
      </div>
    </dl>
  <% elsif petition.closed? %>
    <dl>
      <div>
        <dt>Status</dt>
        <dd>Closed</dd>
      </div>
      <div>
        <dt>Total signatures</dt>
        <dd><%= number_with_delimiter(petition.signature_count) %></dd>
      </div>
      <div>
        <dt>Closed on</dt>
        <dd><%= short_date_format(petition.closed_at) %></dd>
      </div>
    </dl>
  <% elsif petition.rejected? %>
    <dl>
      <div>
        <dt>Status</dt>
        <dd>Rejected</dd>
      </div>
      <div>
        <dt>Rejected on</dt>
        <dd><%= short_date_format(petition.rejected_at) %></dd>
      </div>
    </dl>
  <% end %>
</div>
