<hr>

<div class="petition-item">
  <% case @petitions.scope %>
  <% when :awaiting_debate %>

    <h2><%= link_to petition.action, petition_result_path(petition) %></h2>
    <p><%= signature_count(:default, petition.signature_count) %></p>
    <% if Parliament.closed? %>
      <%= Parliament.parliamentary_debate_status.presence || waiting_for_in_words(petition.debate_threshold_reached_at) %>
    <% else %>
      <p><%= waiting_for_in_words(petition.debate_threshold_reached_at) %></p>
      <% if petition.scheduled_debate_date? %>
        <p><%= scheduled_for_debate_in_words(petition.scheduled_debate_date) %></p>
      <% end %>
    <% end %>

  <% when :awaiting_response %>

    <h2><%= link_to petition.action, petition_result_path(petition) %></h2>
    <p><%= signature_count(:default, petition.signature_count) %></p>
    <% if Parliament.closed? %>
      <%= Parliament.government_response_status.presence || waiting_for_in_words(petition.response_threshold_reached_at) %>
    <% else %>
      <p><%= waiting_for_in_words(petition.response_threshold_reached_at) %></p>
    <% end %>

  <% when :closed %>

    <h2><%= link_to petition.action, petition_result_path(petition) %></h2>
    <p><%= signature_count(:default, petition.signature_count) %></p>

  <% when :debated %>

    <h2><%= link_to petition.action, petition_result_path(petition, anchor: 'debate-threshold') %></h2>
    <p><%= signature_count(:default, petition.signature_count) %></p>
    <% if debate_outcome = petition.debate_outcome %>
      <p>Debated <%= short_date_format(debate_outcome.debated_on) %></p>
    <% else %>
      <p>Debated <%= short_date_format(petition.scheduled_debate_date) %></p>
    <% end %>

  <% when :not_debated %>

    <h2><%= link_to petition.action, petition_result_path(petition) %></h2>
    <p><%= signature_count(:default, petition.signature_count) %></p>

  <% when :open %>

    <h2><%= link_to petition.action, petition_result_path(petition) %></h2>
    <p><%= signature_count(:default, petition.signature_count) %></p>

  <% when :published %>

    <h2><%= link_to petition.action, petition_result_path(petition) %></h2>
    <p><%= signature_count(:default, petition.signature_count) %></p>

  <% when :rejected %>

    <h2><%= link_to petition.action, petition_result_path(petition) %></h2>

  <% when :with_response %>

    <h2><%= link_to petition.action, petition_result_path(petition, reveal_response: "yes", anchor: 'response-threshold') %></h2>
    <p>Government responded – <%= short_date_format(petition.government_response.responded_on) %></p>
    <p><%= petition.government_response.summary %></p>
    <p><%= signature_count(:default, petition.signature_count) %></p>

  <% else %>

    <h2><%= link_to petition.action, petition_result_path(petition) %></h2>
    <% case petition.state %>
    <% when "open" %>
      <p><%= signature_count(:default, petition.signature_count) %></p>
    <% when "closed" %>
      <p><%= signature_count(:default, petition.signature_count) %>, now closed</p>
    <% when "rejected" %>
      <p>Rejected</p>
    <% end %>

  <% end %>
</div>
