<%= cache_for :petition do %>
  <h1>
    <span class="heading-secondary">Rejected petition</span>
    <%= petition.action %>
  </h1>

  <div><%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %></div>
  <% unless petition.additional_details.blank? %>
    <details>
      <summary><span class="summary">More details</span></summary>
      <div><%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>

  <p class="flash-notice">This petition was rejected</p>

  <h2>Why was this petition rejected?</h2>
  <%= rejection_description(petition.rejection.code) %>
  <% if petition.rejection.details? %>
    <p><%= auto_link(simple_format(petition.rejection.details)) %></p>
  <% end %>
  <p>We only reject petitions that don’t meet the <%= link_to 'petition standards', help_url(anchor: 'standards') %>.</p>

  <ul class="petition-meta">
    <li>
      <span class="label">Date submitted</span> <%= short_date_format petition.created_at %>
    </li>
    <li class="meta-json">
      <span class="note"><%= link_to "Get petition data (json format)", petition_path(petition, :json) %></span>
      <%= render "about_petition_data" %>
    </li>
  </ul>
<% end %>
