<h1>
  <span class="heading-secondary">Rejected petition</span>
  <%= petition.title %>
</h1>

<p><%= raw auto_link(simple_format(h(petition.background)), :html => { :target => '_blank' }) %></p>
<p><%= raw auto_link(simple_format(h(petition.additional_details)), :html => { :target => '_blank' }) %></p>

<p class="flash-notice">This petition was rejected</p>

<h2>Reasons for rejection</h2>
<%= petition.rejection_description.html_safe %>
<% if petition.rejection_text.present? %>
  <p><%= petition.rejection_text %></p>
<% end %>

<ul class="petition-meta">
  <li>
    <span class="label">Date submitted</span> <%= short_date_format petition.created_at %>
  </li>
</ul>
