<h1>
  <span class="heading-secondary">Rejected petition</span>
  <%= petition.action %>
</h1>

<div><%= raw auto_link(simple_format(h(petition.background)), :html => { :target => '_blank' }) %></div>
<% unless petition.additional_details.blank? %>
  <details>
    <summary><span class="summary">More details</span></summary>
    <div><%= raw auto_link(simple_format(h(petition.additional_details)), :html => { :target => '_blank' }) %></div>
  </details>
<% end %>

<p class="flash-notice">This petition was rejected</p>

<h2>Reasons for rejection</h2>
<%= petition.rejection_description.html_safe %>
<% if petition.rejection_text.present? %>
  <p><%= petition.rejection_text %></p>
<% end %>

<ul class="petition-meta">
  <li>
    <span class="label">Date submitted</span> <%= short_date_format petition.created_at %>
  </li>
</ul>
