<strong class="tag tag-red">
  Rejected<span class="visually-hidden"> petition</span>
</strong>

<h1>
  <%= petition.action %>
</h1>

<% if @petition.committee_note? %>
  <div class="committee-note">
    <%= markdown_to_html(@petition.committee_note) %>
  </div>
<% end %>

<p>
  Submitted on <strong><%= short_date_format(petition.created_at) %></strong>
</p>

<%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %>

<% unless petition.additional_details.blank? %>
  <%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %>
<% end %>

<hr>

<h2 class="heading-3">
  Why was this petition rejected?
</h2>

<%= rejection_description(petition.rejection.code) %>

<% if petition.rejection.details? %>
  <%= auto_link(simple_format(h(petition.rejection.details))) %>
<% end %>

<p>
  We only reject petitions that don’t meet the
  <%= link_to 'petition standards', help_url(anchor: 'standards') %>.
</p>

<hr>

<p>
  <%= link_to "Get petition data (json format)", petition_path(petition, :json) %>
</p>
