<section class="about-item about-item-count-response" id="response-threshold" aria-labelledby="response-threshold-heading">
  <% if government_response = petition.government_response? -%>
    <h2 id="response-threshold-heading">Government responded</h2>
    <p class="secondary">This response was given on <%= short_date_format government_response.responded_on %></p>
    <blockquote class="pull-quote">
      <%= auto_link(simple_format(h(government_response.summary)), html: { rel: 'nofollow' } ) %>
    </blockquote>

    <% if government_response.details? -%>
      <% unless params["reveal_response"] == "yes" -%>
      <details>
        <summary><span class="summary">Read the response in full</span></summary>
        <div class="panel-indent panel-no-border">
      <% end -%>
      <%= auto_link(simple_format(h(government_response.details)), html: { rel: 'nofollow' }) %>
      <% unless params["reveal_response"] == "yes" -%>
        </div>
      </details>
      <% end -%>
    <% end -%>

  <% elsif petition.response_threshold_reached_at? -%>
    <% if Parliament.closed? %>
      <h2 id="response-threshold-heading"><%= Parliament.government_response_heading.presence || "Government will respond" %></h2>
      <p><%= Parliament.government_response_description.presence || "Government responds to all petitions that get more than #{Site.formatted_threshold_for_response} signatures" %></p>
      <p class="secondary"><%= Parliament.government_response_status.presence || "#{waiting_for_in_words(petition.response_threshold_reached_at)} for a government response" %></p>
    <% else %>
      <h2 id="response-threshold-heading">Government will respond</h2>
      <p>Government responds to all petitions that get more than <%= Site.formatted_threshold_for_response %> signatures</p>
      <p class="secondary"><%= waiting_for_in_words(petition.response_threshold_reached_at) %> for a government response</p>
    <% end %>

  <% else -%>
    <% if !@petition.closed? %>
      <h2 id="response-threshold-heading">At <%= Site.formatted_threshold_for_response %> signatures...</h2>
      <p>At <%= Site.formatted_threshold_for_response %> signatures, government will respond to this petition</p>
    <% end %>
  <% end -%>
</section>
