<%= link_to check_petitions_path(q: @new_petition.action), class: "back-page" do %>
  &#9664; Back
<% end %>

<% if petitions = @new_petition.duplicates %>

  <h1 class="page-title">We found some similar petitions</h1>
  <p>If one of these petitions matches yours, sign it and share it instead</p>
  <p>Your petition is more likely to get to <%= Site.formatted_threshold_for_response %> and <%= Site.formatted_threshold_for_debate %> signatures that way.</p>
  <%= render 'notification', message: "If there’s already a petition on the same topic, your petition is likely to be rejected" %>

  <% petitions.each do |petition| %>
    <ul>
      <li class="petition-item petition-item-existing panel-indent">
        <h3><%= link_to petition.action, petition_path(petition) %></h3>
        <% unless petition.rejected? -%>
          <p><%= signature_count(:default, petition.signature_count) %></p>
        <% end %>
        <p><%= petition.background %></p>
      </li>
    </ul>
  <% end %>

  <%= link_to("My petition is different", new_petition_path(q: @new_petition.action), class: "button") %>

<% else %>

  <h1 class="page-title">We checked for similar petitions</h1>
  <p>We checked for similar petitions and didn't find any.</p>
  <p>So you can go ahead and create a new one.<br /></p>

  <%= link_to("Continue", new_petition_path(q: @new_petition.action), class: "button") %>

<% end %>
