<h1 class="page-title"><%= t(:"ui.petitions.check.heading") %></h1>

<%= render 'parliament_dissolution_warning' %>

<form method="get" action="/petitions/check_results">
  <div class="form-group">
    <label for="action" class="form-label"><%= t(:"ui.petitions.action.label") %></label>
    <textarea name="q" id="q" class="form-control" data-max-length="80" rows="3"><%= @new_petition.action %></textarea>
    <p class="character-count"><%= t(:"ui.application.character_count", count: 80) %></p>
    <%= t(:"ui.petitions.action.help_html") %>
  </div>

  <section class="create-warning" aria-labelledby="just-so-you-know-heading">
    <h2 id="just-so-you-know-heading"><%= t(:"ui.petitions.need_sponsors_later_heading") %></h2>
    <span aria-hidden="true"><%= Site.minimum_number_of_sponsors %></span>
    <p><%= t(:"ui.petitions.need_sponsors_later", count: Site.minimum_number_of_sponsors) %></p>
  </section>

  <%= t(:"ui.application.continue_html") %>
</form>
