<%= link_to check_petitions_path(q: @new_petition.action), class: "back-page" do %>
  &#9664; Back
<% end %>

<% if petitions = @new_petition.duplicates %>

  <h1 class="page-title"><%= t(:"ui.petitions.check.results.duplicate.heading") %></h1>
  <p><%= t(:"ui.petitions.check.results.duplicate.sign_if_match") %></p>
  <p><%= t(:"ui.petitions.check.results.duplicate.sign_if_match_reason", response_threshold: Site.formatted_threshold_for_response, debate_threshold: Site.formatted_threshold_for_debate) %></p>
  <%= render 'notification', message: t(:"ui.petitions.check.results.duplicate.reject_notice") %>

  <% petitions.each do |petition| %>
    <ul>
      <li class="petition-item petition-item-existing panel-indent">
        <h3><%= link_to petition.action, petition_path(petition) %></h3>
        <% unless petition.rejected? -%>
          <p><%= signature_count(:default, petition.signature_count) %></p>
        <% end %>
        <p><%= petition.background %></p>
      </li>
    </ul>
  <% end %>

  <%= link_to(t(:"ui.petitions.check.results.duplicate.continue_btn"), new_petition_path(q: @new_petition.action), class: "button") %>

<% else %>

  <h1 class="page-title"><%= t(:"ui.petitions.check.results.unique.heading") %></h1>
  <p><%= t(:"ui.petitions.check.results.unique.no_match") %></p>
  <p><%= t(:"ui.petitions.check.results.unique.ok_to_continue") %><br /></p>

  <%= link_to(t(:"ui.petitions.check.results.unique.continue"), new_petition_path(q: @new_petition.action), class: "button") %>

<% end %>
