<%= render 'parliament_dissolution_warning' %>

<details class="lists-of-petitions">
  <summary><span class="summary">Other lists of petitions</span></summary>
  <div>
    <ul>
    <% public_petition_facets_with_counts(@petitions).each do |facet, count| %>
      <li>
        <%= link_to petitions_url(@petitions.facet_params(facet)) do %>
          <%= t(facet, scope: :"petitions.lists", quantity: number_with_delimiter(count)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</details>

<h1 class="page-title"><%= t(@petitions.scope, scope: :"petitions.page_titles") %></h1>

<% if petition_list_header? %>
  <div class="list-header">
    <%= petition_list_header %>
  </div>
<% end %>

<%= form_tag petitions_path, method: 'get', enforce_utf8: false do %>
  <label for="search" class="visuallyhidden">Search petitions</label>
  <div class="search-inline">
    <%= search_field_tag 'q', @petitions.query, class: 'form-control', id: 'search' %>
    <%= hidden_field_tag 'state', @petitions.scope %>
    <%= button_tag name: nil do %>
      <span class="visuallyhidden">Search</span>
    <% end %>
  </div>
<% end %>

<p class="filtered-petition-count"><%= filtered_petition_count(@petitions) %></p>

<div class="search-results section-panel">
  <% if @petitions.empty? %>
    <p>No petitions could be found matching your search terms.</p>
  <% else %>
    <ol>
      <%= render partial: "petitions/petition", collection: @petitions %>
    </ol>

    <div class="search-pagination">
      <%= paginate @petitions %>
    </div>

    <p>
      Get this data in
      <%= link_to "JSON", petitions_path(:json, @petitions.current_params) %> or
      <%= link_to 'CSV', petitions_path(:csv, @petitions.current_params.without(:page)) %> format
    </p>
  <% end %>
</div>

<nav id="other-search-lists" aria-labelledby="other-lists-heading">
  <h2 id="other-lists-heading">Other lists of petitions</h2>
  <div class="section-panel">
    <ul>
    <% public_petition_facets_with_counts(@petitions).each do |facet, count| %>
      <li>
        <%= link_to petitions_url(@petitions.facet_params(facet)) do %>
          <%= t(facet, scope: :"petitions.lists", quantity: number_with_delimiter(count)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <%= link_to 'Archived petitions', archived_petitions_path(state: "published") %>
</nav>
