<% content_for(:page_title) { "View all petitions - Petitions" } %>
<a class="lists-of-petitions" href="#other-search-lists">Lists of petitions</a>

<h1 class="page-title"><%= t(@petitions.scope, scope: :"petitions.page_titles") %></h1>

<form method="get" action="/petitions" class="search-form">
  <div class="form-group">
    <input type='text' name="q" id="search" class="form-control" value="<%= @petitions.query %>" />
    <input type='hidden' name="state" id="state" class="form-control" value="<%= @petitions.scope %>"/>
  </div>
  <input type='submit' value='Search' class="button" />
</form>

<p class="filtered-petition-count"><%= filtered_petition_count(@petitions) %></p>

<%= render 'search/results' %>
<%= render 'search/filter_nav' %>
