<details class="lists-of-petitions">
  <summary><span class="summary"><%= t(:"ui.petitions.other_lists") %></span></summary>
  <div>
    <ul>
    <% public_petition_facets_with_counts(@petitions).each do |facet, count| %>
      <li>
        <%= link_to petitions_url(state: facet) do %>
          <%= t(facet, scope: :"ui.petitions.lists", quantity: number_with_delimiter(count)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</details>

<h1 class="page-title"><%= t(@petitions.scope, scope: :"ui.petitions.index.page_titles") %></h1>

<% if petition_list_header? %>
  <p class="text-secondary"><%= petition_list_header %></p>
<% end %>

<%= form_tag petitions_path, method: 'get', enforce_utf8: false do %>
  <div class="search-inline">
    <%= search_field_tag 'q', @petitions.query, class: 'form-control', id: 'search' %>
    <%= hidden_field_tag 'state', @petitions.scope %>
    <%= submit_tag 'Search', name: nil, class: 'inline-submit' %>
  </div>
<% end %>

<p class="filtered-petition-count"><%= filtered_petition_count(@petitions) %></p>

<%= render 'petitions/search/results' %>
<%= render 'petitions/search/filter_nav' %>
