<% content_for(:page_title) { "View all petitions - Petitions" } %>
<a class="lists-of-petitions" href="#other-search-lists">Lists of petitions</a>

<h1 class="page-title"><%= t(@petitions.scope, scope: :"petitions.page_titles") %></h1>

<%= form_tag petitions_path, class: 'search-inline', method: 'get' do %>
  <%= search_field_tag 'q', @petitions.query, class: 'form-control', id: 'search' %>
  <%= hidden_field_tag 'state', @petitions.scope %>
  <%= submit_tag 'Search', class: 'inline-submit' %>
<% end %>

<p class="filtered-petition-count"><%= filtered_petition_count(@petitions) %></p>

<%= render 'search/results' %>
<%= render 'search/filter_nav' %>
