<% if Site.show_home_page_message? %>
  <div class="notification important">
    <%= markdown_to_html(Site.home_page_message) %>
  </div>
<% end %>

<details class="lists-of-petitions">
  <summary><span class="summary"><%= t(:"ui.petitions.other_lists") %></span></summary>
  <div>
    <ul>
    <% public_petition_facets_with_counts(@petitions).each do |facet, count| %>
      <li>
        <%= link_to petitions_url(state: facet) do %>
          <%= t(facet, scope: :"ui.petitions.lists", quantity: number_with_delimiter(count)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</details>

<h1 class="page-title"><%= t(@petitions.scope, scope: :"ui.petitions.index.page_titles") %></h1>
<%= t(:"#{@petitions.scope}_html", scope: :"ui.list_headers", default: "") %>

<%= form_tag petitions_path, method: 'get', enforce_utf8: false do %>
  <label for="search" class="visuallyhidden"><%= t(:"ui.home_page.search_petitions.heading") %></label>
  <div class="search-inline">
    <%= text_field_tag 'q', @petitions.query, autocomplete: 'off', class: 'form-control', id: 'search' %>
    <%= hidden_field_tag 'state', @petitions.scope %>
    <%= t(:"ui.petitions.search.submit_button_html") %>
  </div>
<% end %>

<p class="filtered-petition-count"><%= filtered_petition_count(@petitions) %></p>

<div class="search-results section-panel">
  <% if @petitions.empty? %>
    <p><%= t(:"ui.petitions.search.results.no_match") %></p>
  <% else %>
    <ol>
      <%= render partial: "petitions/petition", collection: @petitions %>
    </ol>

    <div class="search-pagination">
      <%= paginate @petitions %>
    </div>

    <p>
      <%= t(
        :"ui.application.get_json_csv_html",
        json_link: link_to("JSON", petitions_path(:json, @petitions.current_params)),
        csv_link: link_to('CSV', petitions_path(:csv, @petitions.current_params.without(:page)))
      ) %>
    </p>
  <% end %>
</div>

<div class="section-panel other-search-lists">
  <nav id="other-search-lists" role="navigation" aria-labelledby="other-lists-heading">
    <h2 id="other-lists-heading"><%= t(:"ui.petitions.other_lists") %></h2>
    <ul>
      <% public_petition_facets_with_counts(@petitions).each do |facet, count| %>
        <li>
          <%= link_to petitions_url(state: facet) do %>
            <%= t(facet, scope: :"ui.petitions.lists", quantity: number_with_delimiter(count)) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="section-panel archived-petitions">
  <ul>
    <li>
      <%= link_to petitions_url(state: "archived"), class: "view-all" do %>
        <%= t(:archived, scope: :"ui.petitions.lists") %>
      <% end %>
    </li>
  </ul>
</div>
