<details class="lists-of-petitions">
  <summary><span class="summary">Other lists of petitions</span></summary>
  <div>
    <ul>
    <% public_petition_facets_with_counts(@petitions).each do |facet, count| %>
      <li>
        <%= link_to petitions_url(state: facet) do %>
          <%= t(facet, scope: :"petitions.lists", quantity: number_with_delimiter(count)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</details>

<h1 class="page-title"><%= t(@petitions.scope, scope: :"petitions.page_titles") %></h1>

<% if petition_list_header? %>
  <p class="text-secondary"><%= petition_list_header %></p>
<% end %>

<%= form_tag petitions_path, class: 'search-inline', method: 'get' do %>
  <%= search_field_tag 'q', @petitions.query, class: 'form-control', id: 'search' %>
  <%= hidden_field_tag 'state', @petitions.scope %>
  <%= submit_tag 'Search', class: 'inline-submit' %>
<% end %>

<p class="filtered-petition-count"><%= filtered_petition_count(@petitions) %></p>

<%= render 'petitions/search/results' %>
<%= render 'petitions/search/filter_nav' %>
