<% content_for(:page_title) { "Create a new e-petition - e-petitions" } %>

<%= link_to check_petitions_path, class: "back-page" do %>
  &#9666; Back <span class="visuallyhidden"> to previous page</span>
<% end %>

<h1 class="page-title">Create petition</h1>

<p>Before you start - your petition must meet our <%= link_to 'guidelines', help_path(anchor: 'creating-a-petition') %></p>

<%= form_for @stage_manager.stage_object, :url => create_petition_path do |f| %>

  <% if f.object.errors.any? -%>
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
      <h2 class="error-summary-heading" id="error-summary-heading">We couldn't create this petition</h2>
      <p>Please fix the following errors:</p>
      <ul class="error-summary-list">
        <% f.object.errors.each do |key, error| -%>
          <li><%= error %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <%= render_petition_form @stage_manager, f %>

<% end %>
