<% content_for(:page_title) { "#{@petition.title} - e-petitions" } %>

<details class="petitions-details">
  <summary><span class="summary">How petitions work</span></summary>
  <div class="panel-indent">
    <ol class="list-number">
      <li>Anyone can <%= link_to "create a petition", check_petitions_path %> about an issue they care about</li>
      <li>If the petition gets 10,000 signatures, the government will reply</li>
      <li>If the petition gets 100,000 signatures, the petition will be considered for debate in Parliament</li>
    </ol>
    <%= link_to "Find out more", help_path %>
  </div>
</details>

<%= content_tag :p, :class => 'flash_notice' do -%>
  This e-petition is now closed
<% end if @petition.closed? %>

<h1>
  <span class="heading-secondary">Petition</span>
  <%= @petition.title %>
</h1>

<p><%= raw auto_link(simple_format(h(@petition.action)), :html => { :target => '_blank' }) %></p>
<p><%= raw auto_link(simple_format(h(@petition.description)), :html => { :target => '_blank' }) %></p>

<%# Rejected #%>
<% if @petition.rejected? -%>
  <h2>This e-petition has been rejected with the following reason given:</h2>
  <%= @petition.rejection_description.html_safe %>
  <% if @petition.rejection_text -%>
    <p>
      The following explanatory notes have been added:
      <br />
      <%= raw auto_link(h(@petition.rejection_text), :html => { :target => '_blank' }) -%>
    </p>
  <% end -%>
<% end -%>

<%# Has response #%>
<% if @petition.response.present? -%>
  <h2>This e-petition has received the following response:</h2>
  <%= raw auto_link(simple_format(h(@petition.response) ), :html => { :target => '_blank' }) %>
<% end -%>

<%# Signable #%>
<% if @petition.can_be_signed? -%>
  <%= link_to "Sign this petition", new_petition_signature_path(@petition), :class => 'button button-sign-petition', :tabindex => increment(5) %>
<% end -%>

<details class="confirmation-resend">
  <summary><span class="summary">Not received your confirmation email?</span></summary>
  <div class="panel-indent">
    <%= form_tag [:resend_confirmation_email, @petition] do %>
      <div class="form-group">
        <%= label_tag :confirmation_email, "If you have already signed this petition, but didn't receive an email to confirm your signature, you can request a confirmation to be resent by providing your email address below.", :class => 'form-label' %>
        <%= text_field_tag :confirmation_email, "", :class => 'form-control' %>
      </div>
      <%= submit_tag 'Resend', :class => 'button' %>
    <% end %>
  </div>
</details>

<p class="signature-count"><%= number_with_delimiter(@petition.signature_count) %> <span>signatures</span></p>

<%= render 'shared/about_petitions', variation: 'about-petitions-light' %>

<%# Sharing %>
<% if @petition.can_be_signed? -%>
  <%= render 'shared/share_petition', petition: @petition %>
<% end -%>

<ul class="petition-meta">
  <li class="meta-deadline">
    <span class="label">Deadline</span> <%= short_date_format @petition.closed_at %>
  </li>
  <li class="meta-created-by">
    <span class="label">Created by</span> <%= @petition.creator_signature.name %>
  </li>
</ul>
