<h1 class="page-title page-title-with-icon">
  <span class="icon icon-email"></span>
  <%= t(:"ui.petitions.thank_you.heading") %>
</h1>

<p class="lede"><%= t(:"ui.petitions.thank_you.link_emailed") %></p>

<h2><%= t(:"ui.petitions.thank_you.n_sponsors_needed_heading", count: Site.minimum_number_of_sponsors) %></h2>
<p><%= t(:"ui.petitions.thank_you.n_sponsors_needed", count: Site.minimum_number_of_sponsors) %></p>

<%= render 'notification', message: t(:"ui.petitions.thank_you.n_sponsors_needed_notice", count: Site.minimum_number_of_sponsors) %>
