<%
  if petitions.search_term.present?
    results_table_summary = "#{petitions.state.capitalize} e-petitions which match \"#{petitions.search_term}\""
  elsif @department
    results_table_summary = "#{petitions.state.capitalize} e-petitions owned by the #{@department.name}"
  else
    results_table_summary = "#{petitions.state.capitalize} e-petitions"
  end
%>

<table>
  <caption><%= results_table_summary %></caption>
  <thead>
    <tr>
      <th class="name"><%= sort_link_tag raw('e-petition name <span class="link_description">sort by e-petition name</span>'), :title, :title => 'sort by e-petition name' %></th>
      <% if petitions.state != Petition::REJECTED_STATE -%>
        <th class="sig_count"><%= sort_link_tag raw('Signatures <span class="link_description">sort by number of signatures</span>'), :count, :default_order => 'desc', :title => 'sort by number of signatures' %></th>
        <th class="closing_date last"><%= sort_link_tag raw('Closing <span class="link_description">sort by closing date</span>'), :closing, :title => 'sort by closing date' %></th>
      <% else -%>
        <th class="created_date last"><%= sort_link_tag raw('Created <span class="link_description">sort by date created</span>'), :created, :title => 'sort by date created' %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% petitions.each do |petition| %>
    <tr>
      <td class="name">
        <% if petition.response.present? -%>
          <%= link_to 'response', petition_path(petition), :class => 'text_link gradient indicator response' %>
        <% end -%>
        <%= link_to petition.title, petition_path(petition), :class => 'text_link' %>
        <%= link_to "View", petition_path(petition), :class => 'link_prompt text_link' %>
      </td>
      <% if petitions.state != Petition::REJECTED_STATE -%>
        <td class="sig_count"><%= number_with_delimiter(petition.signature_count) %></td>
        <td class="closing_date last"><%= date_format(petition.closed_at) %></td>
      <% else -%>
        <td class="created_date last"><%= date_format(petition.created_at) %></td>
      <% end -%>
    </tr>
    <% end -%>
  </tbody>
</table>
