<%= form.button "Back", name: "move_back", class: "back-page" %>

<%= form.hidden_field :uk_citizenship %>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :additional_details %>

<h1 class="page-title">Sign your petition</h1>
<h2 class="page-subtitle"><%= petition.action %></h2>

<%= render "petitions/create/error_summary", form: form %>

<%= form_row for: [petition, :name] do %>
  <%= form.label :name, class: "form-label" do %>
    Name
    <span class="form-hint">You must use your full name</span>
  <% end %>
  <%= error_messages_for_field petition, :name %>
  <%= form.text_field :name, maxlength: 255, size: nil, class: "form-control", autocomplete: "name" %>
<% end %>

<%= form_row for: [petition, :email] do %>
  <%= form.label :email, "Email address", class: "form-label" %>
  <%= error_messages_for_field petition, :email %>
  <%= form.text_field :email, inputmode: "email", class: "form-control", autocomplete: "email" %>
<% end %>

<%= form_row for: [petition, :location_code] do %>
  <%= form.label :location_code, "Location", class: "form-label" %>
  <%= error_messages_for_field petition, :location_code %>
  <%= form.select :location_code, countries_for_select, {}, class: "form-control", autocomplete: "country" %>
<% end %>

<%= form_row for: [petition, :postcode], id: "postcode-row" do %>
  <%= form.label :postcode, class: "form-label" %>
  <%= error_messages_for_field petition, :postcode %>
  <%= form.text_field :postcode, class: "form-control small", autocomplete: "postal-code" %>
<% end %>

<%= form_row for: [petition, :notify_by_email], class: "notify-by-email" do %>
  <div class="multiple-choice">
    <%= form.check_box :notify_by_email %>
    <%= form.label :notify_by_email, "Email me whenever there’s an update about this petition" %>
  </div>
<% end %>

<%= form.button "Continue", name: "move_next", class: "button" %>

<div>
  <p>Your name will be published on this petition as the petition creator.</p>
  <p>Other than that, we won’t publish your personal details anywhere or use them for anything other than this petition.</p>
  <p>The personal data you provide is necessary for the operation of the e-petitions website and the work of the House of Commons Petitions Committee.</p>
  <p>We will manage your personal data as set out in our <%= link_to "privacy notice", privacy_path, target: "_blank" %>, which includes details of your rights under data protection legislation.</p>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var location = document.getElementById('petition_creator_location_code');
    var postcodeInput = document.getElementById('petition_creator_postcode');
    var postcodeRow = document.getElementById('postcode-row');

    location.addEventListener('change', function(e) {
      if (e.target.value === 'GB') {
        postcodeRow.style.display = '';
      } else {
        postcodeRow.style.display = 'none';
        postcodeInput.value = '';
      }
    });
  });
</script>
