<span><%= t(:"ui.application.back_html") %></span>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :additional_details %>

<h1 class="page-title"><%= t(:"ui.petitions.create.creator_stage.heading") %></h1>
<h2 class="page-subtitle"><%= petition.action %></h2>

<%= render "petitions/create/error_summary", form: form %>

<%= form_row for: [petition, :name] do %>
  <%= form.label :name, t(:"ui.petitions.create.creator_stage.name.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :name %>
  <%= form.text_field :name, tabindex: increment, maxlength: 255, size: nil, class: "form-control" %>
  <span class="form-hint"><%= t(:"ui.petitions.create.creator_stage.name.hint") %></span>
<% end %>

<%= form_row for: [petition, :email] do %>
  <%= form.label :email, t(:"ui.petitions.create.creator_stage.email.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :email %>
  <%= form.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
<% end %>

<%= form_row for: [petition, :phone_number] do %>
  <%= form.label :phone_number, t(:"ui.petitions.create.creator_stage.phone_number.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :phone_number %>
  <%= form.text_field :phone_number, tabindex: increment, class: "form-control" %>
<% end %>

<%= form_row for: [petition, :location_code] do %>
  <%= form.label :location_code, t(:"ui.petitions.create.creator_stage.location.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :location_code %>
  <%= form.select :location_code, countries_for_select, {}, tabindex: increment, class: "form-control" %>
<% end %>

<%= form_row for: [petition, :address] do %>
  <%= form.label :address, t(:"ui.petitions.create.creator_stage.address.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :address %>
  <%= form.text_area :address, tabindex: increment, rows: 4, data: { max_length: 500 }, class: "form-control" %>
  <p class="character-count"><%= t(:"ui.application.character_count", count: 500) %></p>
  <span class="form-hint"><%= t(:"ui.petitions.create.creator_stage.address.hint") %></span>
<% end %>

<%= form_row for: [petition, :postcode] do %>
  <%= form.label :postcode, t(:"ui.petitions.create.creator_stage.postcode.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :postcode %>
  <%= form.text_field :postcode, tabindex: increment, class: "form-control small" %>
<% end %>

<%= form_row for: [petition, :notify_by_email], class: "notify-by-email" do %>
  <div class="multiple-choice">
    <%= form.check_box :notify_by_email, tabindex: increment %>
    <%= form.label :notify_by_email, t(:"ui.petitions.create.creator_stage.notify_by_email.check_label") %>
  </div>
<% end %>

<span>
  <%= t(:"ui.petitions.create.creator_stage.continue_html", tabindex: increment) %>
</span>

<div>
  <%= t(:"ui.petitions.create.creator_stage.about_published_data_html") %>
</div>
