<%= link_to check_results_petitions_path(q: petition.action), class: "back-page" do %>
  &#9664; <%= t(:"ui.application.back") %>
<% end %>

<h1 class="page-title"><%= t(:"ui.petitions.create.petition_stage.heading") %></h1>

<p class="form-hint petition-standards"><%= t(:"ui.petitions.create.petition_stage.hint_standards_html", standards_link: petition_standards_link) %></p>

<%= render "petitions/create/error_summary", form: form %>

<%= form_row for: [petition, :action] do %>
  <%= form.label :action, t(:"ui.petitions.action.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :action %>
  <%= form.text_area :action, tabindex: increment, rows: 3, data: { max_length: 80 }, class: "form-control" %>
  <p class="character-count"><%= t(:"ui.application.character_count", count: 80) %></p>
  <%= t(:"ui.petitions.action.help_html") %>
<% end %>

<%= form_row for: [petition, :background] do %>
  <%= form.label :background, t(:"ui.petitions.background.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :background %>
  <%= form.text_area :background, tabindex: increment, rows: 5, data: { max_length: 300 }, class: "form-control" %>
  <p class="character-count"><%= t(:"ui.application.character_count", count: 300) %></p>
  <%= t(:"ui.petitions.background.help_html") %>
<% end %>

<%= form_row for: [petition, :additional_details] do %>
  <%= form.label :additional_details, class: "form-label" do %>
    <%= t(:"ui.petitions.additional_details.label") %>
    <span class="form-hint"><%= t(:"ui.petitions.additional_details.hint_optional") %></span>
  <% end %>
  <%= error_messages_for_field petition, :additional_details %>
  <%= form.text_area :additional_details, tabindex: increment, rows: 7, data: { max_length: 500 }, class: "form-control" %>
  <p class="character-count"><%= t(:"ui.application.character_count", count: 500) %></p>
  <%= t(:"ui.petitions.additional_details.help_html") %>
<% end %>

<span>
  <%= t(:"ui.petitions.create.petition_stage.submit_html", tabindex: increment) %>
</span>
