<%= link_to :back, class: "back-page" do %>
  &#9664; Back
<% end %>

<h1 class="page-title">Create petition</h1>

<%= render 'petitions/create/error_summary', f: f %>

<p>Before you start - your petition must meet our <%= link_to 'guidelines', help_path(anchor: 'creating-a-petition') %></p>

<%= form_row :for => [petition, :title] do %>
  <%= f.label :title, class: 'form-label' do %>
    Action
    <span class="form-hint">What do you want the government to do?</span>
  <% end %>
  <%= error_messages_for_field petition, :title %>
  <%= f.text_area :title, tabindex: increment, rows: 3, maxlength: 80, class: 'form-control' %>
  <span class="character-count">80</span>
  <%= render 'petitions/action_help' %>
<% end %>

<%= form_row :for => [petition, :action] do %>
  <%= f.label :action, 'Background', class: 'form-label' %>
  <%= error_messages_for_field petition, :action %>
  <%= f.text_area :action, tabindex: increment, rows: 5, class: 'form-control' %>
  <span class="character-count">300</span>
  <details class="form-group-help">
    <summary><span class="summary">Help writing background</span></summary>
    <div class="panel-indent">
      <p>Use this section to back up why you want action. Some people include a personal story here.</p>
      <p>Remember that people won’t always know that much about the issue you’re petitioning about - explain it.</p>
    </div>
  </details>
<% end %>

<%= form_row :for => [petition, :additional_details] do %>
  <%= f.label :additional_details, class: 'form-label' do %>
    Additional details
    <span class='form-hint'>Optional - background information, evidence and references</span>
  <% end %>
  <%= error_messages_for_field petition, :additional_details %>
  <%= f.text_area :additional_details, tabindex: increment, rows: 7, class: 'form-control' %>
  <span class="character-count">500</span>
<% end %>

<%= f.submit 'Preview petition', :name => 'move:next', :class => 'button', :tabindex => increment %>
