<%= link_to :back, class: "back-page" do %>
  &#9664; Back
<% end %>

<h1 class="page-title">Start a petition</h1>

<%= render 'petitions/create/error_summary', f: f %>

<%= form_row :for => [petition, :action] do %>
  <%= f.label :action, 'What do you want us to do?', class: 'form-label' %>
  <%= error_messages_for_field petition, :action %>
  <%= f.text_area :action, tabindex: increment, rows: 3, 'data-max-length' => '80', class: 'form-control' %>
  <p class="character-count">80 characters max</p>
  <%= render 'petitions/action_help' %>
<% end %>

<%= form_row :for => [petition, :background] do %>
  <%= f.label :background, 'Background', class: 'form-label' %>
  <%= error_messages_for_field petition, :background %>
  <%= f.text_area :background, tabindex: increment, rows: 5, 'data-max-length' => '300', class: 'form-control' %>
  <p class="character-count">300 characters max</p>
  <details class="form-group-help">
    <summary><span class="summary">Help writing background</span></summary>
    <div class="panel-indent">
      <p>Use this section to back up why you want action. Some people include a personal story here.</p>
      <p>Remember that people won’t always know that much about the issue you’re petitioning about - explain it.</p>
    </div>
  </details>
<% end %>

<%= form_row :for => [petition, :additional_details] do %>
  <%= f.label :additional_details, class: 'form-label' do %>
    Additional details
    <span class='form-hint'>Optional - background information, evidence and references</span>
  <% end %>
  <%= error_messages_for_field petition, :additional_details %>
  <%= f.text_area :additional_details, tabindex: increment, rows: 7, 'data-max-length' => '500', class: 'form-control' %>
  <p class="character-count">500 characters max</p>
<% end %>

<%= f.submit 'Preview petition', :name => 'move:next', :class => 'button', :tabindex => increment %>
