<% content_for(:page_title) { "Start a petition - Petitions" } %>

<%= f.submit raw('&#9664; Back'), :name => 'move:back', :class => 'back-page' %>

<h1 class="page-title">Check your petition</h1>

<div class="panel-indent">
  <h1><%= petition.action %></h1>
  <div><%= auto_link(simple_format(h(petition.background)), html: { rel: 'nofollow' }) %></div>
  <% if petition.additional_details.present? %>
    <details>
      <summary><span class="summary">More details</span></summary>
      <div><%= auto_link(simple_format(h(petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>
</div>

<%= f.submit 'This looks good', :name => 'move:next', :class => 'button', :tabindex => increment %>
<%= f.submit 'Go back and make changes', :name => 'move:back', :class => 'button-secondary', :tabindex => increment %>
