<% content_for(:page_title) { "Create a new e-petition - e-petitions" } %>

<%= link_to :back, class: "back-page" do %>
  &#9666; Back <span class="visuallyhidden"> to previous page</span>
<% end %>

<h1 class="page-title">Check your petition</h1>

<div class="panel-indent">
  <h1><%= petition.title %></h1>
  <p><%= petition.action %></p>
  <details>
    <summary><span class="summary">More details</span></summary>
    <div>
      <p><%= petition.description %></p>
    </div>
  </details>

</div>

<%= f.button 'This looks good', :name => 'move', :value => 'next', :class => 'button', :tabindex => increment %>
<%= f.button 'Go back and make changes', :name => 'move', :value => 'back', :class => 'button-secondary', :tabindex => increment %>

