<%= form.button "Back", name: "move_back", class: "back-page" %>

<%= form.hidden_field :uk_citizenship %>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :additional_details %>

<%= form.hidden_field :name %>
<%= form.hidden_field :postcode %>
<%= form.hidden_field :location_code %>
<%= form.hidden_field :notify_by_email %>

<h1 class="page-title">Make sure this is right</h1>

<%= form_row for: [petition, :email] do %>
  <%= form.label :email, class: "form-label" do %>
    Email address
    <span class="form-hint">If your email address is wrong, just change it below</span>
  <% end %>
  <%= error_messages_for_field petition, :email %>
  <%= form.text_field :email, inputmode: "email", class: "form-control", autocomplete: "email" %>
<% end %>

<%= form.button "Yes – this is my email address", name: "move_next", class: "button" %>
