<fieldset>
  <legend>Make sure this is right</legend>
  <%= f.fields_for :creator_signature, petition.creator_signature do |csf| %>
    <%= render 'signatures/email', f: csf, signature: csf.object %>
  <% end %>

  <p>If your email address is wrong, just change it above.</p>

  <%= form_row :class => 'button_row' do %>
    <%= f.button 'Back', :name => 'move', :value => 'back', :class => 'button backwards_action', :tabindex => increment %>
    <%= f.button 'Submit', :name => 'move', :value => 'next', :class => 'button forward_action', :tabindex => increment %>
  <% end %>
</fieldset>
