<% content_for(:page_title) { "Create a new petition - e-petitions" } %>

<%= f.submit raw('&#9664; Back'), :name => 'move:back', :class => 'back-page' %>

<h1 class="page-title">Check your petition</h1>

<div class="panel-indent">
  <h1><%= petition.title %></h1>
  <p><%= petition.action %></p>
  <details>
    <summary><span class="summary">More details</span></summary>
    <div>
      <p><%= petition.description %></p>
    </div>
  </details>

</div>


<%= f.submit 'This looks good', :name => 'move:next', :class => 'button', :tabindex => increment %>
<%= f.submit 'Go back and make changes', :name => 'move:back', :class => 'button-secondary', :tabindex => increment %>

