<span><%= t(:"ui.application.back_html") %></span>

<%= form.hidden_field :action %>
<%= form.hidden_field :background %>
<%= form.hidden_field :additional_details %>

<%= form.hidden_field :name %>
<%= form.hidden_field :phone_number %>
<%= form.hidden_field :address %>
<%= form.hidden_field :postcode %>
<%= form.hidden_field :location_code %>
<%= form.hidden_field :notify_by_email %>

<h1 class="page-title"><%= t(:"ui.petitions.create.replay_email_stage.heading") %></h1>

<%= form_row for: [petition, :email] do %>
  <%= form.label :email, t(:"ui.petitions.create.creator_stage.email.label"), class: "form-label" %>
  <%= error_messages_for_field petition, :email %>
  <%= form.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
<% end %>

<span>
   <%= t(:"ui.petitions.create.replay_email_stage.submit_html", tabindex: increment) %>
</span>

<p><%= t(:"ui.petitions.create.replay_email_stage.fix_email_if_wrong") %></p>
