<%= f.submit raw('&#9664; Back'), :name => 'move:back', :class => 'back-page' %>

<h1 class="page-title">Sign your petition</h1>
<h2 class="page-subtitle"><%= petition.action %></h2>

<%= render 'petitions/create/error_summary', f: f %>

<%= f.fields_for :creator_signature, petition.creator_signature do |csf| %>
  <%= render 'petitions/create/signature_form', :f => csf, :signature => csf.object, :context => 'create-petition' %>
<% end %>

<%= f.submit 'Continue', :name => 'move:next', :class => 'button', :tabindex => increment %>

<div class="secondary">
  <p>Your name will be published on this petition as the petition creator.</p>
  <p>Other than that, we won’t publish your personal details anywhere or use them for anything other than this petition.</p>
  <p>We will email you about this petition, and nothing else. You can unsubscribe at any time.</p>
</div>
