<% if actioned[:with_debated_outcome][:count].zero? %>
  <p><%= t(:"ui.home_page.debated_petitions.none_debated") %></p>
<% else %>
  <ol class="threshold-petitions">
    <% actioned[:with_debated_outcome][:list].each.with_index do |petition, index| %>
      <li class="petition-item">
        <h3><%= link_to petition.action, petition_path(petition, anchor: 'debate-threshold') %></h3>
        <p class="intro"><%= t(:"ui.home_page.debated_petitions.topic_debated_date", date: short_date_format(petition.debate_outcome.debated_on)) %></p>
        <% if index == 0 && petition.debate_outcome.video_url? -%>
          <%= link_to petition.debate_outcome.video_url, class: "debate-video", rel: 'external' do %>
            <%= debate_outcome_image(petition.debate_outcome) %>
          <% end -%>
        <% end -%>

        <% if debate_outcome = petition.debate_outcome %>
          <% debate_outcome_links(debate_outcome).each do |link| %>
            <%= content_tag(:p, class: link.style) do %>
              <%= t(:"ui.home_page.debated_petitions.#{link.name}.title_html", link: link_to(t(:"ui.home_page.debated_petitions.#{link.name}.link"), link.url, rel: "external")) %>
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end -%>
  </ol>
  <p><%= link_to petition_count(:debated_explanation, actioned[:with_debated_outcome][:count]), petitions_path(state: :debated), class: "view-all" %></p>
  <p><%= link_to petition_count(:not_debated_explanation, actioned[:not_debated][:count]), petitions_path(state: :not_debated), class: "view-all" %></p>
<% end %>
