<% if actioned[:awaiting_debate][:count].zero? && actioned[:debated][:count].zero? %>
  <p>Parliament hasn’t debated any petitions yet</p>
<% else %>
  <ul>
    <% actioned[:with_debated_outcome][:list].each.with_index do |petition, index| %>
      <li class="petition-item">
        <h3>
          <%= link_to petition.action, petition_path(petition, anchor: 'debate-threshold') %>
        </h3>

        <div class="wrapper">
          <p>
            This topic was debated on <%= short_date_format petition.debate_outcome.debated_on %>
          </p>

          <p>
            <%= debate_outcome_image(petition.debate_outcome) %>
          </p>

          <hr>

          <% if petition.debate_outcome.video_url.present? %>
            <p>
              Watch the debate
              <span class="visually-hidden">for the ‘<%= petition.action %>’ petition</span>
              on <%= link_to "parliamentlive.tv", petition.debate_outcome.video_url, rel: "external" %>
            </p>
          <% end %>

          <% if petition.debate_outcome.transcript_url.present? %>
            <p>
              Read the transcript
              <span class="visually-hidden">for the ‘<%= petition.action %>’ petition</span>
              at <%= link_to "parliament.uk", petition.debate_outcome.transcript_url, rel: "external" %>
            </p>
          <% end %>

          <% if petition.debate_outcome.debate_pack_url.present? %>
            <p>
              Read the research
              <span class="visually-hidden">for the ‘<%= petition.action %>’ petition</span>
              at <%= link_to "parliament.uk", petition.debate_outcome.debate_pack_url, rel: "external" %>
            </p>
          <% end %>

          <% if petition.debate_outcome.public_engagement_url.present? %>
            <p>
              Read what the public said
              <span class="visually-hidden">for the ‘<%= petition.action %>’ petition</span>
              at <%= link_to "parliament.uk", petition.debate_outcome.public_engagement_url, rel: "external" %>
            </p>
          <% end %>

          <% if petition.debate_outcome.debate_summary_url.present? %>
            <p>
              Read a summary of the debate
              <span class="visually-hidden">for the ‘<%= petition.action %>’ petition</span>
              at <%= link_to "parliament.uk", petition.debate_outcome.debate_summary_url, rel: "external" %>
            </p>
          <% end %>

          <p class="signature-count">
            <%= signature_count(:popular, petition.signature_count) %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
