<%= render 'parliament_dissolution_warning' %>

<% if Parliament.registration_closed? %>
  <a href="https://www.parliament.uk/get-involved/" class="get-involved">
    Get involved with the UK Parliament
  </a>
<% else %>
  <a href="https://www.gov.uk/register-to-vote" class="register-to-vote">
    Register to vote in the General Election
  </a>
<% end %>

<%= render "pages/home/actioned_petitions" %>

<section class="search-petitions" aria-labelledby="search-petitions-heading">
  <h2 id="search-petitions-heading">Search petitions</h2>

  <%= form_tag petitions_path, class: 'search-inline', method: 'get', enforce_utf8: false do %>
    <%= search_field_tag 'q', nil, class: 'form-control', id: 'search' %>
    <%= submit_tag 'Search', name: nil, class: 'inline-submit' %>
  <% end %>
</section>

<%= render "pages/home/explanation_petitions" %>
<%= render "pages/home/local_petitions" %>
