<%= render 'parliament_dissolution_warning' %>

<% if Parliament.registration_closed? %>
  <%= t(:"ui.home_page.notice.get_involved_html") %>
<% else %>
  <%= t(:"ui.home_page.notice.register_to_vote_html") %>
<% end %>

<% if any_actioned_petitions? %>
  <div class="section-panel-borderless">
    <p><%= t(:"ui.home_page.dissolved.during_last_parliament") %></p>
  </div>
<% end %>

<%= render "pages/home/actioned_petitions" %>
<%= render "pages/home/search_petitions", search_path: petitions_path %>
<%= render "pages/home/explanation_petitions" %>
<%= render "pages/home/local_petitions" %>
