<% explanation_petitions do |actioned| %>
  <section aria-labelledby="response-threshold-heading" id="petitions-with-response">
    <% if actioned[:with_response][:count].zero? %>
      <div class="threshold-panel threshold-panel-response">
        <%= render "pages/home/response_threshold_heading" %>
      </div>
    <% else %>
      <%= link_to(petitions_path(state: :with_response), class: "threshold-panel threshold-panel-response") do %>
        <%= render "pages/home/response_threshold_heading" %>
      <% end %>
    <% end %>

    <div class="section-panel-borderless">
      <%= render "pages/home/responded_petitions", actioned: actioned %>
    </div>
  </section>

  <section aria-labelledby="debate-threshold-heading" id="petitions-with-debated-outcome">
    <% if actioned[:with_debated_outcome][:count].zero? %>
      <div class="threshold-panel threshold-panel-debate">
        <%= render "pages/home/debate_threshold_heading" %>
      </div>
    <% else %>
      <%= link_to(petitions_path(state: :debated), class: "threshold-panel threshold-panel-debate") do %>
        <%= render "pages/home/debate_threshold_heading" %>
      <% end %>
    <% end %>

    <div class="section-panel-borderless">
      <%= render "pages/home/debated_petitions", actioned: actioned %>
    </div>
  </section>
<% end %>
