<% explanation_petitions do |actioned| %>
  <% unless actioned[:with_response][:count].zero? %>
    <section id="responded-petitions" class="petition-items">
      <h2>
        Government responses to petitions
      </h2>

      <p>
        Government will respond to petitions that get <%= Site.formatted_threshold_for_response %> signatures
      </p>

      <%= render "pages/home/responded_petitions", actioned: actioned %>

      <p>
        <%= link_to(petitions_path(state: "with_response")) do %>
          View petitions that received a Government response
        <% end %>
      </p>
    </section>
  <% end %>

  <% unless actioned[:with_debated_outcome][:count].zero? %>
    <section id="debated-petitions" class="petition-items">
      <h2>
        Petitions debated in Parliament
      </h2>

      <p>
        Parliament will consider for debate petitions that receive over <%= Site.formatted_threshold_for_debate %> signatures
      </p>

      <%= render "pages/home/debated_petitions", actioned: actioned %>

      <p>
        <%= link_to(petitions_path(state: "debated")) do %>
          View all petitions debated in Parliament
        <% end %>
      </p>
      <p>
        <%= link_to(petitions_path(state: "awaiting_debate")) do %>
          View all petitions waiting for a debate in Parliament
        <% end %>
      </p>
    </section>
  <% end %>
<% end %>
