<% explanation_petitions do |actioned| %>
  <% unless actioned[:with_response][:count].zero? %>
    <section id="responded-petitions" aria-labelledby="responded-petitions-heading" >
      <h2 id="responded-petitions-heading">
        Government responses to petitions
      </h2>

      <p>
        Government will respond to petitions that get <%= Site.formatted_threshold_for_response %> signatures
      </p>

      <%= render "pages/home/responded_petitions", actioned: actioned %>

      <p>
        <%= link_to(petitions_path(state: "with_response")) do %>
          View petitions that received a government response
        <% end %>
      </p>
    </section>
  <% end %>

  <% unless actioned[:with_debated_outcome][:count].zero? %>
    <section id="debated-petitions" aria-labelledby="debated-petitions-heading">
      <h2 id="debated-petitions-heading">
        Petitions debated in Parliament
      </h2>

      <p>
        Parliament will consider for debate petitions that receive over <%= Site.formatted_threshold_for_debate %> signatures
      </p>

      <%= render "pages/home/debated_petitions", actioned: actioned %>

      <p>
        <%= link_to(petitions_path(state: "debated")) do %>
          See all petitions debated in parliament
        <% end %>
      </p>
    </section>
  <% end %>
<% end %>
