<% explanation_petitions do |actioned| %>
  <section aria-labelledby="referral-threshold-heading" id="petitions-referred">
    <% if actioned[:referred][:count].zero? %>
      <div class="threshold-panel threshold-panel-referral">
        <h2 id="referral-threshold-heading"><%= Site.formatted_threshold_for_referral %></h2>
        <p><%= t(:"ui.home_page.thresholds.referred", formatted_count: Site.formatted_threshold_for_referral) %></p>
      </div>
    <% else %>
      <%= link_to(petitions_path(state: :referred), class: "threshold-panel threshold-panel-referral" ) do %>
        <h2 id="referral-threshold-heading"><%= Site.formatted_threshold_for_referral %></h2>
        <p><%= t(:"ui.home_page.thresholds.referred", formatted_count: Site.formatted_threshold_for_referral) %></p>
      <% end %>
    <% end %>
    <div class="section-panel-borderless">
      <%= render "pages/home/referred_petitions", actioned: actioned %>
    </div>
  </section>

  <section aria-labelledby="debate-threshold-heading" id="petitions-with-debated-outcome">
    <% if actioned[:with_debated_outcome][:count].zero? %>
      <div class="threshold-panel threshold-panel-debate">
        <h2 id="debate-threshold-heading"><%= Site.formatted_threshold_for_debate %></h2>
        <p><%= t(:"ui.home_page.thresholds.debate", formatted_count: Site.formatted_threshold_for_debate) %></p>
      </div>
    <% else %>
      <%= link_to( petitions_path(state: :debated), class: "threshold-panel threshold-panel-debate" ) do %>
        <h2 id="debate-threshold-heading"><%= Site.formatted_threshold_for_debate %></h2>
        <p><%= t(:"ui.home_page.thresholds.debate", formatted_count: Site.formatted_threshold_for_debate) %></p>
      <% end %>
    <% end %>
    <div class="section-panel-borderless">
      <%= render "pages/home/debated_petitions", actioned: actioned %>
    </div>
  </section>
<% end %>
