<% content_for :hero_banner do %>
  <%= render "pages/home/search_petitions", search_path: petitions_path %>
<% end %>

<% if no_petitions_yet? %>
  <div class="section-panel-borderless no-petitions-yet">
    <p class="lede">The Petitions service is open</p>
  </div>
<% end %>

<% if Site.show_home_page_message? %>
  <div class="notification notification-<%= Site.home_page_message_colour %>">
    <span class="icon icon-warning-white">
      <span class="visuallyhidden">Important:</span>
    </span>
    <%= markdown_to_html(Site.home_page_message) %>
  </div>
<% end %>

<% unless no_petitions_yet? %>
  <%= render "pages/home/trending_petitions" %>
<% end %>

<%= render "pages/home/explanation_petitions" %>
