<% if no_petitions_yet? %>
  <div class="section-panel-borderless no-petitions-yet">
    <p class="lede"><%= t(:"ui.home_page.opened.lede") %></p>
  </div>
<% end %>

<%= render "pages/home/actioned_petitions" %>

<% unless no_petitions_yet? %>
  <%= render "pages/home/search_petitions", search_path: petitions_path %>
  <%= render "pages/home/trending_petitions" %>
<% end %>

<%= render "pages/home/explanation_petitions" %>

<% unless no_petitions_yet? %>
  <%= render "pages/home/local_petitions" %>
<% end %>

<section class="section-panel start-petition" aria-labelledby="start-a-petition-heading">
  <h2 id="start-a-petition-heading"><%= t(:"ui.home_page.opened.start_a_petition.heading") %></h2>
  <p><%= t(:"ui.home_page.opened.start_a_petition.requirements") %></p>
  <%= link_to t(:"ui.home_page.opened.start_a_petition.link"), check_petitions_path, :class => 'button' %>
</section>
