<% if no_petitions_yet? %>
  <div class="section-panel-borderless no-petitions-yet">
    <p class="lede">The Petitions service is open</p>
  </div>
<% end %>

<% if Site.show_home_page_message? %>
  <div class="notification notification-<%= Site.home_page_message_colour %>">
    <span class="icon icon-warning-white">
      <span class="visuallyhidden">Important:</span>
    </span>
    <%= markdown_to_html(Site.home_page_message) %>
  </div>
<% end %>

<%= render "pages/home/actioned_petitions" %>

<% unless no_petitions_yet? %>
  <%= render "pages/home/search_petitions", search_path: petitions_path %>
  <%= render "pages/home/trending_petitions" %>
<% end %>

<%= render "pages/home/explanation_petitions" %>

<% unless no_petitions_yet? %>
  <%= render "pages/home/local_petitions" %>
<% end %>

<% unless Site.disable_petition_creation? %>
  <section class="section-panel start-petition" aria-labelledby="start-a-petition-heading">
    <h2 id="start-a-petition-heading">Start a petition</h2>
    <p>Anyone can start a petition as long as they are a British citizen or UK resident</p>
    <%= link_to "Start a petition", start_petitions_path, :class => 'button' %>
  </section>
<% end %>
