<% content_for(:message_banner) do %>
  <h2><%= Parliament.dissolved_heading %></h2>
  <p><%= Parliament.dissolved_message %></p>

  <% if Parliament.dissolution_faq_url? %>
    <p>Find out more on the <%= link_to 'Petitions Committee website', Parliament.dissolution_faq_url %></p>
  <% end %>
<% end %>

<% content_for :hero_banner do %>
  <div class="highlight">
    <a href="https://www.parliament.uk/get-involved/" class="get-involved">
      Get involved with the UK Parliament
    </a>
  </div>

  <h1>
    Find petitions
  </h1>

  <%= render "pages/home/search_petitions", search_path: archived_petitions_path %>
<% end %>

<%= render "pages/home/archived_petitions" %>
