<div class="notification">
  <span class="icon icon-warning-white"></span>
  <h3 class="header"><%= Parliament.dissolved_heading %></h3>
  <p class="content"><%= Parliament.dissolved_message %></p>
  <% if Parliament.dissolution_faq_url? %>
    <p class="content"><%= parliament_dissolution_faq_notice %></p>
  <% end %>
</div>

<%= t(:"ui.home_page.notice.get_involved_html") %>

<%= render "pages/home/search_petitions", search_path: archived_petitions_path(state: 'published') %>
<%= render "pages/home/archived_petitions" %>

<section aria-labelledby="response-threshold-heading" id="petitions-with-response">
  <div class="threshold-panel threshold-panel-response">
    <h2 id="response-threshold-heading"><%= Site.formatted_threshold_for_response %></h2>
    <p><%= t(:"ui.home_page.thresholds.response", formatted_count: Site.formatted_threshold_for_response) %></p>
  </div>
</section>

<section aria-labelledby="debate-threshold-heading" id="petitions-with-debated-outcome">
  <div class="threshold-panel threshold-panel-debate">
    <h2 id="debate-threshold-heading"><%= Site.formatted_threshold_for_debate %></h2>
    <p><%= t(:"ui.home_page.thresholds.debate", formatted_count: Site.formatted_threshold_for_debate) %></p>
  </div>
</section>
