<% if actioned[:awaiting_response][:count].zero? && actioned[:with_response][:count].zero? %>
  <p><%= t(:"ui.home_page.responded_petitions.none_responded") %></p>
<% else %>
  <ol class="threshold-petitions">
    <% actioned[:with_response][:list].each do |petition| %>
      <li class="petition-item">
        <h3><%= link_to petition.action, petition_path(petition, reveal_response: "yes", anchor: 'response-threshold'), class: "threshold-petition-title" %></h3>
        <p class="intro"><%= t(:"ui.home_page.responded_petitions.response_date", date: short_date_format(petition.government_response_at)) %></p>
        <blockquote class="pull-quote"><%= simple_format(h(petition.government_response.summary)) %></blockquote>
        <p><%= link_to t(:"ui.home_page.responded_petitions.full_response_link"), petition_path(petition, reveal_response: "yes", anchor: 'response-threshold') %></p>
      </li>
    <% end -%>
  </ol>
  <p><%= link_to petition_count(:with_response_explanation, actioned[:with_response][:count]), petitions_path(state: :with_response), class: "view-all" %></p>
  <p><%= link_to petition_count(:awaiting_response_explanation, actioned[:awaiting_response][:count]), petitions_path(state: :awaiting_response), class: "view-all" %></p>
<% end %>
