<section id="search-petitions">
  <%= form_tag search_path, method: 'get', enforce_utf8: false do %>
    <% if Parliament.dissolved? %>
      <input type="hidden" name="status[]" value="closed">
    <% elsif Parliament.dissolution_announced? %>
      <input type="hidden" name="status[]" value="open">
    <% elsif Parliament.opened? %>
      <input type="hidden" name="status[]" value="open">
    <% else %>
      <input type="hidden" name="status[]" value="closed">
    <% end %>

    <h2 class="visually-hidden">
      <%= label_tag 'search', 'Search' %>
    </h2>

    <div class="item-group">
      <%= text_field_tag 'query', nil, id: 'search' %>

      <%= button_tag name: nil, class: "button" do %>
        Search petitions
      <% end %>
    </div>

    <p>
      or <%= link_to "search petitions by constituency", local_petitions_path %>
    </p>
  <% end %>
</section>
