<section id="search-petitions">
  <h2>
    Search petitions
  </h2>

  <%= form_tag search_path, method: 'get', enforce_utf8: false do %>
    <% if Parliament.dissolved? %>
      <input type="hidden" name="state" value="closed">
    <% elsif Parliament.dissolution_announced? %>
      <input type="hidden" name="state" value="open">
    <% elsif Parliament.opened? %>
      <input type="hidden" name="state" value="open">
    <% else %>
      <input type="hidden" name="state" value="published">
    <% end %>

    <%= label_tag 'search' do %>
      Search by topic or keyword
    <% end %>

    <div class="item-group">
      <%= text_field_tag 'query', nil, id: 'search' %>

      <%= button_tag name: nil, class: "button" do %>
        Search petitions
      <% end %>
    </div>

    <div class="item-group">
      or
    </div>

    <div class="item-group">
      <%= link_to start_petitions_path, class: "button button-secondary" do %>
        Start a petition
      <% end %>
    </div>
  <% end %>
</section>
