You’re receiving this email because you created this petition: “<%= @petition.action %>”.
To unsubscribe from getting emails about this petition: <%= unsubscribe_archived_signature_url(@signature, token: @signature.unsubscribe_token) %>
--

Dear <%= @signature.name %>,

<% if @debate_outcome.debated? %>
Parliament debated your petition – “<%= @petition.action %>”

<% if @debate_outcome.overview? %>
<%= @debate_outcome.overview %>

<% end %>
<% if @debate_outcome.video_url? %>
Watch the debate: <%= @debate_outcome.video_url %>

<% end %>
<% if @debate_outcome.transcript_url? %>
Read the transcript: <%= @debate_outcome.transcript_url %>

<% end %>
<% if @debate_outcome.debate_pack_url? %>
Read the research: <%= @debate_outcome.debate_pack_url %>

<% end %>
<% if @debate_outcome.public_engagement_url? %>

<p>Read what the public said: <%= @debate_outcome.public_engagement_url %></p>
<% end %>
<% if @debate_outcome.debate_summary_url? %>

<p>Read a summary of the debate: <%= @debate_outcome.debate_summary_url %></p>
<% end %>
The petition: <%= archived_petition_url(@petition) %>

<% else %>
The Petitions Committee decided not to debate your petition – "<%= @petition.action %>"

<% if @debate_outcome.overview? %>
<%= @debate_outcome.overview %>

<% end %>
The petition: <%= archived_petition_url(@petition) %>

Find out more about the Petitions Committee: <%= help_url(anchor: "petitions-committee") %>

<% end %>
Thanks,
<%= t("petitions.emails.signoff_prefix") %>
<%= t("petitions.emails.signoff_suffix") %>

--
You’re receiving this email because you created this petition: “<%= @petition.action %>”.
To unsubscribe from getting emails about this petition: <%= unsubscribe_archived_signature_url(@signature, token: @signature.unsubscribe_token) %>
