<%= render "reason" %>
<p>Dear <%= @signature.name %>,</p>

The <%= link_to "Government has responded", archived_petition_url(@petition, reveal_response: "yes") %> to your petition: “<%= @petition.action %>”.

<blockquote><%= auto_link(simple_format(h(@government_response.summary))) %></blockquote>

<blockquote><%= auto_link(simple_format(h(@government_response.details))) %></blockquote>

<p>If it reaches <%= Site.formatted_threshold_for_debate %> signatures, the Petitions Committee will consider whether MPs debate it in the House of Commons.</p>

<%= render "footer" %>
<%= render "unsubscribe" %>
