<tr>
  <td class="petition-id">
    <label>
      <%= check_box_tag 'id', signature.id, false, disabled: signature.creator? %>
    </label>
  </td>
  <td class="petition-details">
    <p>
      <%= link_to signature.petition.action, admin_archived_petition_path(signature.petition) %> –
      <%= number_with_delimiter(signature.petition.signature_count) %>
    </p>
    <dl>
      <dt>ID</dt>
      <dd><%= signature.petition.id %></dd>
      <dt>URL</dt>
      <dd><%= link_to archived_petition_path(signature.petition), archived_petition_url(signature.petition), target: "_blank" %></dd>
    </dl>
  </td>
  <td class="signature-details">
    <p>
      <%= link_to(signature.name, admin_archived_signatures_path(q: signature.name)) %>
      &lt;<%= link_to(signature.account, admin_archived_signatures_path(q: signature.email)) %><%= link_to("@#{signature.domain}", admin_archived_signatures_path(q: "@#{signature.domain}")) %>&gt; –
      <span><%= signature.location %></span>
    </p>

    <dl>
      <% if signature.ip_address? %>
        <dt>IP</dt>
        <dd><%= link_to(signature.ip_location, admin_archived_signatures_path(q: signature.ip_address)) %></dd>
      <% end %>
      <dt>Created</dt>
      <dd><%= date_time_format(signature.created_at) %></dd>
      <% if signature.validated? %>
        <dt>Validated</dt>
        <dd><%= date_time_format(signature.validated_at) %></dd>
      <% end %>
    </dl>
  </td>
  <td class="signature-status">
    <%= content_tag(:span, signature.state, class: "status status-#{signature.state}") %>
  </td>
  <td class="signature-actions">
    <% if signature.creator? %>
      &nbsp;
    <% else %>
      <% if signature.subscribed? %>
        <%= button_to 'Unsubscribe', unsubscribe_admin_archived_signature_path(signature, search_params), method: :post, class: 'button unsubscribe-action', data: { confirm: 'Unsubscribe signature?' } %>
      <% elsif signature.validated? %>
        <%= button_to 'Subscribe', subscribe_admin_archived_signature_path(signature, search_params), method: :post, class: 'button subscribe-action', data: { confirm: 'Subscribe signature?' } %>
      <% end %>
      <%= button_to 'Delete', admin_archived_signature_path(signature, search_params), method: :delete, class: 'button-warning delete-action', data: { confirm: 'Delete signature?' } %>
    <% end %>
  </td>
</tr>
