<%= form_for petition, url: admin_petition_moderation_path(petition), method: :patch do |f| %>
  <%= form_row for: [petition, :moderation], class: 'inline' do %>
    <% if petition.rejection? %>
      <h2 class="petition-action-heading">Change moderation</h2>
    <% else %>
      <h2 class="petition-action-heading">Moderate this petition</h2>
    <% end %>
    <%= error_messages_for_field petition, :moderation %>
    <%= f.hidden_field :moderation, value: "" %>
    <div class="multiple-choice">
      <%= f.radio_button :moderation, 'approve' %>
      <%= f.label :moderation_approve, "Approve", for: "petition_moderation_approve" %>
    </div>
    <% unless f.object.previously_published? %>
      <% if f.object.rejection? %>
        <div class="multiple-choice">
          <%= f.radio_button :moderation, 'restore' %>
          <%= f.label :moderation_reject, "Restore", for: "petition_moderation_restore" %>
        </div>
      <% else %>
        <div class="multiple-choice">
          <%= f.radio_button :moderation, 'reject' %>
          <%= f.label :moderation_reject, "Reject", for: "petition_moderation_reject" %>
        </div>
      <% end %>
      <% if f.object.flagged? %>
        <div class="multiple-choice">
          <%= f.radio_button :moderation, 'unflag' %>
          <%= f.label :moderation_unflag, "Unflag", for: "petition_moderation_unflag" %>
        </div>
      <% else !f.object.published? %>
        <div class="multiple-choice">
          <%= f.radio_button :moderation, 'flag' %>
          <%= f.label :moderation_flag, "Flag", for: "petition_moderation_flag" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% unless f.object.rejection? %>
    <%= render 'admin/petitions/reject', f: f %>
  <% end %>

  <%= f.submit 'Email petition creator', name: 'save_and_email', class: 'button', tabindex: increment %>
  <%= f.submit 'Save without emailing', name: 'save', class: 'button-secondary', tabindex: increment %>

  <% unless f.object.rejection? %>
    <%= javascript_tag do %>
      $().ready(function() {
        var $rejection_controls = $('.petition-rejection-controls'),
            $reject_control = $('#petition_moderation_reject'),
            $all_controls = $('.edit_petition input[name="petition[moderation]"][type=radio]');
        if ($reject_control.is(':checked')) {
          // Display if the rejection control was checked
          $rejection_controls.show();
        } else if ($rejection_controls.find('.error-message').size() === 0) {
          // Hide it straight away if there were no errors displayed
          $rejection_controls.hide();
        }

        // Ensure that we get the onchange event when the users uses the keyboard
        // Details: http://bit.ly/iZx9nh
        $all_controls.keyup(function() {
          this.blur();
          this.focus();
        }).change(function() {
          if ($reject_control.is(':checked')) {
            $rejection_controls.show();
          } else {
            $rejection_controls.hide();
          }
        });
      });
    <% end %>
  <% end %>
<% end -%>
