<tr>
  <td>
    <%= link_to edit_admin_topic_path(topic) do %>
      <%= topic.code_en %> / <%= topic.code_cy %>
    <% end %>
  </td>
  <td>
    <%= topic.name_en %> / <%= topic.name_cy %>
  </td>
  <td>
    <%= button_to 'Delete', admin_topic_path(topic, params.permit(:q)), method: :delete, class: 'button-warning', data: { confirm: 'Delete topic?' } %>
  </td>
</tr>
