<h2><%= link_to petition.action, petition_result_path(petition) %></h2>
<p><%= signature_count(:default, petition.signature_count) %></p>
<% if Parliament.closed? %>
  <%= Parliament.parliamentary_debate_status.presence || waiting_for_in_words(petition.debate_threshold_reached_at) %>
<% else %>
  <p><%= waiting_for_in_words(petition.debate_threshold_reached_at) %></p>
  <% if petition.scheduled_debate_date? %>
    <p><%= scheduled_for_debate_in_words(petition.scheduled_debate_date) %></p>
  <% end %>
<% end %>
