<h1>Search results</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'form', query: @query %>
  </div>
</div>

<% if @signatures.present? %>

  <%= will_paginate @signatures %>

  <table class="petition-list">
    <thead>
      <tr>
        <th>Petition Id</th>
        <th>Petition Action</th>
        <th>Name</th>
        <th>Status</th>
        <th>Last Updated</th>
        <th>Creator?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @signatures -%>
    </tbody>
  </table>

  <%= will_paginate @signatures %>

<% else %>
  <p>
    <% if defined?(@name) %>
      No signatures found for name <%= @name.inspect %>
    <% elsif defined?(@ip_address) %>
      No signatures found for IP address <%= @ip_address.inspect %>
    <% elsif defined?(@email) %>
      No signatures found for email address <%= mail_to @email %>
    <% else %>
      No signatures found
    <% end %>
  </p>
<% end %>
