<h1>Search results</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'form', query: @query %>
  </div>
</div>

<% if @signatures.present? %>

  <%= will_paginate @signatures %>

  <table class="petition-list">
    <thead>
      <tr>
        <th>Petition Id</th>
        <th>Petition Action</th>
        <th>Name</th>
        <th>Status</th>
        <th>Last Updated</th>
        <th>Creator?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @signatures -%>
    </tbody>
  </table>

  <%= will_paginate @signatures %>

<% else %>
  <p>
    <% if @name %>
      No signatures found for name <%= @query %>
    <% else %>
      No signatures found for email address <%= mail_to @query %>
    <% end %>
  </p>
<% end %>
