<h1>Search results</h1>

<%= render 'form', query: @query %>

<% if @signatures.present? %>

  <%= will_paginate @signatures %>

  <table class="petition-list">
    <thead>
      <tr>
        <th>Petition Id</th>
        <th>Petition Action</th>
        <th>Signature Status</th>
        <th>Signature Last Updated</th>
        <th>Petition Creator?</th>
      </tr>
    </thead>
    <tbody>
      <%= render @signatures -%>
    </tbody>
  </table>

  <%= will_paginate @signatures %>

<% else %>
  <p>
    No Signatures found for email address
    <%= mail_to @query %>
  </p>
<% end %>
