<h1 class="page-title">Make sure this is right</h1>

<%= form.hidden_field :name %>
<%= form.hidden_field :uk_citizenship %>
<%= form.hidden_field :postcode %>
<%= form.hidden_field :location_code %>
<%= form.hidden_field :notify_by_email %>

<%= form_row for: [signature, :email] do %>
  <%= form.label :email, class: "form-label visuallyhidden" do %>
    Email address
    <span class="form-hint">If your email address is wrong, just change it below</span>
  <% end %>
  <%= error_messages_for_field signature, :email %>
  <%= form.text_field :email, inputmode: "email", class: "form-control", autocomplete: "email" %>
<% end %>

<%= form.button "Yes – this is my email address", class: "button" %>
