<dl>
  <dt>Status</dt>
  <dd class="petition-meta-state"><%= @petition.state.capitalize %></dd>

<% unless @petition.in_todo_list? %>
  <%= link_to admin_petition_signatures_url(@petition) do %>
    <dt>Signatures</dt>
    <dd class="petition-meta-signature-count"><%= number_with_delimiter(@petition.signature_count) %></dd>
  <% end %>
<% end %>

<dt>Creator</dt>
<dd>
  <%=  @petition.creator.name %><br />
  <%= auto_link(@petition.creator.email) %>
</dd>

<% if @petition.collecting_sponsors? %>
  <dd>
    <%=  button_to 'Resend email to the creator', resend_admin_petition_url(@petition), method: :post, class: 'button', data: { confirm: "Resend a copy of the email to the petition creator and forward a copy to the feedback address?" } %>
  </dd>
<% end %>

<% if @petition.in_todo_list? %>
  <dt>Created on</dt>
  <dd><%= date_time_format(@petition.created_at) %></dd>

  <% if @petition.moderation_threshold_reached_at? %>
    <dt>Sponsored on</dt>
    <dd><%= date_time_format(@petition.moderation_threshold_reached_at) %></dd>
  <% end %>
<% else %>
  <dt>Deadline</dt>
  <dd><%= date_format_admin(@petition.deadline) %></dd>

  <dt>Link to petition</dt>
  <dd><%= link_to petition_path(@petition), petition_url(@petition), target: "_blank" %></dd>

  <dt>ID</dt>
  <dd><%= @petition.id %></dd>

  <% if @petition.tags? %>
    <dt>Tags</dt>
    <dd><%= @petition.tag_names.join(", ") %></dd>
  <% end %>

  <% if current_user.is_a_sysadmin? %>
    <% if @petition.statistics.refreshed? %>
      <dt>Duplicate emails</dt>
      <dd>
        <% if @petition.statistics.duplicate_emails.present? %>
          <%= number_with_delimiter(@petition.statistics.duplicate_emails) %>
        <% else %>
          –
        <% end %>
      </dd>
      <dt>Pending rate</dt>
      <dd>
        <% if @petition.statistics.pending_rate.present? %>
          <%= number_to_percentage(@petition.statistics.pending_rate, precision: 1) %>
        <% else %>
          –
        <% end %>
      </dd>
    <% end %>

    <dt>Trending IP addresses</dt>
    <dd>
      <table class="fraudulent-domains">
        <% @petition.trending_ips.limit(10).each do |trending_ip| %>
          <tr>
            <td><%= link_to trending_ip.ip_address, admin_petition_trending_ips_path(@petition, q: trending_ip.ip_address) %></td>
            <td><%= number_with_delimiter(trending_ip.count) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2"><%= link_to "View all trending IP addresses", admin_petition_trending_ips_path(@petition) %></td>
        </tr>
      </table>
    </dd>

    <dt>Trending domains</dt>
    <dd>
      <table class="fraudulent-domains">
        <% @petition.trending_domains.limit(10).each do |trending_domain| %>
          <tr>
            <td><%= link_to trending_domain.domain, admin_petition_trending_domains_path(@petition, q: trending_domain.domain) %></td>
            <td><%= number_with_delimiter(trending_domain.count) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2"><%= link_to "View all trending domains", admin_petition_trending_domains_path(@petition) %></td>
        </tr>
      </table>
    </dd>

    <% if @petition.fraudulent_domains? %>
      <dd>
        <details>
          <summary>Fraudulent domains</summary>
          <table class="fraudulent-domains">
            <% @petition.fraudulent_domains.each do |domain, count| %>
              <tr>
                <td><%= domain %></td>
                <td><%= number_with_delimiter(count) %></td>
              </tr>
            <% end %>
          </table>
        </details>
      </dd>
    <% end %>
  <% end %>
<% end %>
</dl>

<% if current_user.is_a_sysadmin? %>
  <div class="statistics-meta">
    <small>
      <% if @petition.statistics.refreshed? %>
        Statistics last updated at <time datetime="<%= @petition.statistics.refreshed_at.iso8601 %>"><%= date_time_format(@petition.statistics.refreshed_at) %></time>
      <% else %>
        Statistics not yet generated
      <% end %>
    </small>

    <%=  button_to 'Refresh statistics', admin_petition_statistics_url(@petition), method: :patch, class: 'button' %>
  </div>
<% end %>
