<h1><%=  @petition.action %></h1>

<%= auto_link(simple_format(h(@petition.background)), html: { rel: 'nofollow' }) %>

<% if @petition.in_todo_list? %>
  <% unless @petition.additional_details.blank? %>
    <%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %>
  <% end %>
  <%= link_to 'Edit petition', admin_petition_petition_details_path(@petition) %>

<% else %>
  <% unless @petition.additional_details.blank? %>
    <details>
      <summary><span class="summary">More details</span></summary>
      <div><%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>
<% end %>
