<h2>Status</h2>
<p class="admin-petition-state"><%= @petition.state.capitalize %></p>

<% if @petition.rejected? or @petition.hidden? -%>
  <h2>Rejection reason</h2>
  <p><%= @petition.rejection_reason %>&nbsp;</p>

  <h2>Rejection text</h2>
  <p><%= @petition.rejection_text %>&nbsp;</p>
<% end -%>

<% unless @petition.in_todo_list? %>
  <h2>Signatures</h2>
  <p class="admin-signature-count"><%= number_with_delimiter(@petition.signature_count) %>&nbsp;</p>
<% end %>

<h2>Creator</h2>
<p>
  <%=  @petition.creator_signature.name %><br />
  <%= auto_link(@petition.creator_signature.email) %>
</p>

<% if @petition.in_todo_list? %>
  <h2>Created on</h2>
  <p><%= date_time_format(@petition.created_at) %></p>
<% else %>
  <h2>Deadline</h2>
  <p><%= date_format_admin(@petition.closed_at) %></p>

  <h2>Link to petition</h2>
  <p><%= link_to petition_path(@petition), petition_path(@petition), :target => "_blank" %></p>

<% end %>
