<div class="row">
  <label>Petition Id:</label>
  <p class="text_block"><%=  @petition.id %></p>
</div>

<div class="row">
  <label>Petition title:</label>
  <p class="text_block"><%=  @petition.title %></p>
</div>

<div class="row">
  <label>Creator:</label><%=  @petition.creator_signature.name %> - <%= @petition.creator_signature.email %>
</div>

<div class="row">
  <label>Created date:</label><%= date_time_format(@petition.created_at) %>
</div>

<div class="row">
  <label>Petition background:</label>
  <p class="text_block"><%= raw auto_link(h(@petition.background), :html => { :target => '_blank' }) %></p>
</div>

<div class="row">
  <label>Petition additional details:</label>
  <p class="text_block"><%= raw auto_link(h(@petition.additional_details), :html => { :target => '_blank' }) %></p>
</div>

<div class="row">
  <label>State:</label>
  <p class="text_block"><%= @petition.state %></p>
</div>

