<h1><%= @petition.action %></h1>

<% if @petition.committee_note? %>
  <div class="committee-note">
    <%= markdown_to_html(@petition.committee_note) %>
  </div>
<% end %>

<%= auto_link(simple_format(h(@petition.background)), html: { rel: 'nofollow' }) %>

<% if @petition.in_todo_list? %>
  <% unless @petition.additional_details.blank? %>
    <%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %>
  <% end %>

<% else %>
  <% unless @petition.additional_details.blank? %>
    <details>
      <summary><span>More details</span></summary>
      <div><%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>
<% end %>

<p class="edit-petition-link">
  Edit petition:
  <%= link_to 'English', admin_petition_details_path(@petition, locale: "en-GB") %> |
  <%= link_to 'Welsh', admin_petition_details_path(@petition, locale: "cy-GB") %>
</p>

<% if @petition.rejected? or @petition.hidden? -%>
  <h2>This petition was rejected</h2>
  <p><%= rejection_reason(@petition.rejection.code) %></p>
  <%= auto_link(simple_format(h(@petition.rejection.details))) %>
<% end -%>
