<nav class="petition-actions" role="navigation">
  <ul>

    <%# If petition is awaiting moderation %>
    <% if @petition.in_todo_list? %>
      <li class="petition-action">
        <%= render 'petition_action_moderation', petition: @petition %>
      </li>

      <li class="petition-action">
        <%= render 'petition_action_notes', petition: @petition %>
      </li>

    <%# If petition has already been moderated %>
    <% else %>
      <li class="petition-action">
        <%= render 'petition_action_notes', petition: @petition %>
      </li>

      <li class="petition-action">
        <%= render 'petition_action_government_response', petition: @petition %>
      </li>

      <% if @petition.can_have_debate_added? %>
        <li class="petition-action">
          <%= render 'petition_action_debate_date', petition: @petition %>
        </li>

        <li class="petition-action">
          <%= render 'petition_action_debate_outcome', petition: @petition %>
        </li>
      <% end %>

      <li class="petition-action">
        <%= render 'petition_action_email_petitioners', petition: @petition %>
      </li>

      <% if current_user.can_take_petitions_down? && @petition.can_be_signed? %>
        <li class="petition-action">
          <%= render 'petition_action_take_down', petition: @petition %>
        </li>

      <% elsif @petition.rejected? -%>
        <li class="petition-action">
          <%= render 'petition_action_change_rejection_status', petition: @petition %>
        </li>
      <% end -%>

    <% end %>
  </ul>
</nav>
