<div class="row">
  <label>Petition Id:</label>
  <p class="text_block"><%=  @petition.id %></p>
</div>

<div class="row">
  <label>Petition title:</label>
  <p class="text_block"><%=  @petition.title %></p>
</div>

<div class="row">
  <label>Creator:</label><%=  @petition.creator_signature.name %> - <%= @petition.creator_signature.email %>
</div>

<div class="row">
  <label>Created date:</label><%= date_time_format(@petition.created_at) %>
</div>

<div class="row">
  <label>Petition action:</label>
  <p class="text_block"><%= raw auto_link(h(@petition.action), :html => { :target => '_blank' }) %></p>
</div>

<div class="row">
  <label>Petition description:</label>
  <p class="text_block"><%= raw auto_link(h(@petition.description), :html => { :target => '_blank' }) %></p>
</div>
