<%= back_link %>

<h1><%= @petition.action %></h1>

<% if @petition.committee_note? %>
  <div class="committee-note">
    <%= markdown_to_html(@petition.committee_note) %>
  </div>
<% end %>

<div class="petition-content">
  <% if @petition.background? %>
    <%= apply_formatting(@petition, :background) %>
  <% end %>

  <% if @petition.in_todo_list? %>
    <% if @petition.additional_details? %>
      <%= apply_formatting(@petition, :additional_details) %>
    <% end %>

  <% else %>
    <% if @petition.additional_details? %>
      <details>
        <summary><span>More details</span></summary>
        <div><%= apply_formatting(@petition, :additional_details) %></div>
      </details>
    <% end %>
  <% end %>
</div>

<p class="edit-petition-link">
  Edit petition:
  <%= link_to 'English', admin_petition_details_path(@petition, locale: "en-GB") %> |
  <%= link_to 'Welsh', admin_petition_details_path(@petition, locale: "cy-GB") %>
</p>

<% if @petition.rejection? -%>
  <h2>This petition was rejected</h2>
  <p><%= rejection_reason(@petition.rejection.code) %></p>

  <% if @petition.rejection.details? %>
    <%= markdown_to_html(@petition.rejection.details) %>
  <% end %>
<% end -%>
