<div class="row">
  <label>Open:</label>
  <p class="text_block"><%= date_format_admin(@petition.open_at) %>&nbsp;</p>
</div>

<div class="row">
  <label>Closing:</label>
  <p class="text_block"><%= date_format_admin(@petition.closed_at) %>&nbsp;</p>
</div>

<div class="row">
  <label>Signature count:</label>
  <p class="text_block"><%= number_with_delimiter(@petition.signature_count) %>&nbsp;</p>
</div>

<div class="row">
  <label>State:</label>
  <p class="text_block"><%= @petition.state_label %>&nbsp;</p>
</div>

<% if rejection = @petition.rejection -%>
  <div class="row">
    <label>Rejection reason:</label>
    <p class="text_block"><%= rejection_reason(rejection.code) %>&nbsp;</p>
  </div>

  <div class="row">
    <label>Rejection text:</label>
    <p class="text_block"><%= rejection_description(rejection.code) %>&nbsp;</p>
  </div>
<% end -%>
