<div>
  <%= javascript_tag do %>
    var rejection_descriptions = <%= raw rejection_descriptions.to_json %>;

    $().ready(function() {
      // Ensure that we get the onchange event when the users uses the keyboard
      // Details: http://bit.ly/iZx9nh
      $('#petition_rejection_code').keyup(function() {
        this.blur();
        this.focus();
      });

      $('#petition_rejection_code').change(function() {
        $('#rejection_preview').show();
        $('#rejection_preview .content').html(rejection_descriptions[$(this).val()]);
      });
    });
  <% end -%>
  <%= f.label :rejection_code, 'Rejection reason' %><br />
  <%= f.select :rejection_code, rejection_reasons, { include_blank: "-- Select a rejection code --" }, class: 'form-control' %>
  <%= error_messages_for_field @petition, :rejection_code %>
  <div id="rejection_preview" class="flash-notice" style="display:none">
    <h3>We'll send this standard text to the petition creator:</h3>
    <div class="content"></div>
  </div>
  <%= f.text_area :rejection_text, rows: 8, cols: 70, class: 'form-control' %>
</div>
