<%= render 'petition_details' %>
<%= render 'published_petition_details' %>

<%= form_for [:admin, @petition ], :url => update_response_admin_petition_path(@petition), :builder => AdminFormBuilder do |f| -%>
  <div>
    <%= f.text_area :response_summary, :label => 'Public response summary', :rows => 3, :cols => 70 %>
    <%= error_messages_for_field @petition, :response_summary %>

    <%= f.text_area :response, :label => 'Public response', :rows => 8, :cols => 70 %>
    <%= error_messages_for_field @petition, :response %>

    <%= f.check_box :email_signees, :class => 'checkbox' %>

    <%= submit_tag 'Save' %>
  </div>
<% end -%>
<% content_for :js do -%>
<script type="text/javascript">
//<![CDATA[
$().ready(function() {
  new EditResponseController({form:'form.edit_petition', confirm_if_checked: '#petition_email_signees', message: "This action will send an email to each person who signed this petition. Are you sure you want to do this?"});
});
//]]>
</script>
<% end -%>
