<%= form_for [:admin, @petition ], :builder => AdminFormBuilder do |f| -%>

  <%= render :partial => 'petition_details', :locals => { :f => f } %>

  <div class="row">
    <%= link_to 'Edit petition content', admin_petition_petition_details_path(@petition) %>
  </div>

  <div class="row">
    <%= submit_tag 'Publish this petition', :data => { :confirm => "Are you sure you want to publish this petition?" } %>
  </div>

  <%= render :partial => 'reject', :locals => { :f => f, :button_label => "Reject" } %>
<% end -%>
