<!-- Back to X list -->

<div class="grid-row">

  <div class="column-two-thirds extra-gutter">
    <%= render 'admin/petitions/petition_content' %>
    <%= form_for @petition, url: update_scheduled_debate_date_admin_petition_path(@petition), method: :patch do |f| %>

      <h2>Scheduled Debate Date</h2>

      <%= form_row :for => [f.object, :scheduled_debate_date] do %>
        <%= f.label :scheduled_debate_date, class: 'form-label' %>
        <%= error_messages_for_field f.object, :debated_on %>
        <%= f.date_field :scheduled_debate_date, tabindex: increment, class: 'form-control' %>
      <% end %>

      <%= form_row do %>
        <%= email_signatures_with_count_submit_button(f, @petition) %>
      <% end %>
    <% end %>
  </div>

  <div class="admin-petition-meta column-third">
    <%= render 'admin/petitions/petition_details' %>
  </div>

</div>
