<%= form_for [:admin, @petition ], :url => update_internal_response_admin_petition_path(@petition), :builder => AdminFormBuilder do |f| -%>
  
  <%= render 'petition_details', :f => f %>
  <%= render 'published_petition_details', :f => f %>
  <%= render 'internal_response', :f => f %>

  <div>
    <%= submit_tag 'Save' %>
  </div>

<% end -%>
<% if current_user.can_take_petitions_down? && @petition.can_be_signed? %>
  <%= form_for [:admin, @petition ], :url => take_down_admin_petition_path(@petition), :builder => AdminFormBuilder do |f| -%>
    <div class='takedown'>
      <h2>Take this petition down</h2>
      <%= render :partial => 'reject', :locals => { :f => f, :button_label => "Take down" } %>
    </div>
  <% end -%>
<% elsif @petition.rejected? -%>
  <%= form_for [:admin, @petition ], :url => take_down_admin_petition_path(@petition), :builder => AdminFormBuilder do |f| -%>
    <div class='takedown'>
      <h2>Change rejection status</h2>
      <p>Changing the rejected state of this petition will affect if it can be seen on the website or not.</p>
      <%= render :partial => 'reject', :locals => { :f => f, :button_label => "Change rejection status" } %>
    </div>
  <% end -%>
<% end -%>
