<h1>Petitions</h1>

<%= form_tag admin_petitions_path, enforce_utf8: false, method: :get, class: "search-petitions" do %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= label_tag :state, "Filter by status", class: "visuallyhidden" %>
      <%= select_tag :state, admin_petition_facets_for_select(@petitions.facets, params[:state]), class: "form-control", data: { autosubmit: true } %>
    </div>
    <div class="column-two-thirds">
      <div class="search-inline">
        <%= label_tag :q, "Search petitions", class: "visuallyhidden" %>
        <%= search_field_tag :q, params[:q], class: "form-control", placeholder:"Enter a search query" %>
        <%= submit_tag 'Search', name: nil, class: 'inline-submit' %>
      </div>
    </div>
    <div class="column-third actions-right">
      <%= link_to "Download CSV", admin_petitions_path(params.permit(:state, :q, :match, tags: []).merge(format: "csv")) %>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <%= content_tag(:details, class: "tag-selector", open: selected_tags.present? || params[:match] == "none") do %>
        <summary><span>Tags</span></summary>
        <div class="inline tag-list">
          <div class="panel-indent">
            <p>
              <small>
                Match <label><%= radio_button_tag :match, "any", %w[all none].exclude?(params[:match]) %> any selected tags</label>
                <label><%= radio_button_tag :match, "all", params[:match] == "all" %> all selected tags</label>
                <label><%= radio_button_tag :match, "none", params[:match] == "none" %> no tags</label>
              </small>
            </p>
            <% Tag.by_name.each do |tag| %>
              <div class="multiple-choice">
                <% if selected_tags.include?(tag.id) %>
                  <input type="checkbox" name="tags[]" value="<%= tag.id %>" id="tags_<%= tag.id %>" checked />
                <% else %>
                  <input type="checkbox" name="tags[]" value="<%= tag.id %>" id="tags_<%= tag.id %>" />
                <% end %>
                <label for="tags_<%= tag.id %>" title="<%= tag.description %>"><%= tag.name %></label>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= will_paginate(@petitions) %>

<table class="petition-list">
  <thead>
    <tr>
      <th class="petition-list-petition-action">Action</th>
      <th class="petition-list-petition-creator">Creator</th>
      <th class="petition-list-petition-id">Id</th>
      <th>State</th>
      <th class="date">Closing</th>
      <th class="numeric last">Signatures</th>
    </tr>
  </thead>
  <tbody>
    <% @petitions.each do |petition| -%>
      <tr class="petition-list-petition petition-list-petition-state-<%= petition.state.dasherize %>">
        <td class="petition-list-petition-action"><%= link_to petition.action, admin_petition_path(petition) %></td>
        <td class="petition-list-petition-creator"><%= mail_to petition.creator.email, petition.creator.name %></td>
        <td class="petition-list-petition-id"><%= petition.id %></td>
        <td><%= petition.state.humanize %></td>
        <td class="date"><%= date_format(petition.deadline) %></td>
        <td class="numeric last"><%= number_with_delimiter(petition.signature_count) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<%= will_paginate(@petitions) %>

<% if @petitions.scope == :overdue_in_moderation %>
  <p><%= link_to "Email creators", new_admin_moderation_delay_path, class: "button" %></p>
<% end %>
