<%= render 'admin/searches/form', query: @query %>

<%= form_tag admin_petitions_path, :method => :get, :class => "filter" do -%>
  <%= label_tag :state, "Filter by status:" %>
  <%= select_tag :state, admin_petition_facets_for_select(params[:state]), data: {autosubmit: true} %>
  <%= submit_tag "Go", name: nil %>
<% end -%>

<table class="petition-list">
  <thead>
    <tr>
      <th>Id</th>
      <th>Action</th>
      <th>Creator</th>
      <th>State</th>
      <th>Count</th>
      <th>Closing date</th>
    </tr>
  </thead>
  <tbody>
    <% @petitions.each do |petition| -%>
      <tr class="petition-list-petition petition-list-petition-state-<%= petition.state.dasherize %>">
        <td><%= petition.id %></td>
        <td class="petition-list-petition-action"><%= link_to petition.action, admin_petition_path(petition) %></td>
        <td><%= mail_to petition.creator_signature.email, petition.creator_signature.name %></td>
        <td><%= petition.state %></td>
        <td class="count"><%= number_with_delimiter(petition.signature_count) %></td>
        <td><%= date_format_admin(petition.deadline) %></td>
      </tr>
    <% end -%>
  </tbody>

  <%= will_paginate(@petitions) if @petitions.any? %>
</table>
