<h1>Petitions</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'admin/searches/form', query: @query %>
  </div>
</div>

<div class="grid-row">
  <div class="column-half">
    <%= form_tag admin_petitions_path, :method => :get do -%>
      <%= label_tag :state, "Filter by status", class: "visuallyhidden" %>
      <%= select_tag :state, admin_petition_facets_for_select(params[:state]), class: "form-control", data: {autosubmit: true} %>
      <%= submit_tag "Go", name: nil, class: "button" %>
    <% end -%>
  </div>
</div>

<%= will_paginate(@petitions) if @petitions.any? %>

<table class="petition-list">
  <thead>
    <tr>
      <th>Action</th>
      <th>Creator</th>
      <th class="petition-list-petition-id">Id</th>
      <th>State</th>
      <th class="numeric">Count</th>
      <th class="date last">Closing</th>
    </tr>
  </thead>
  <tbody>
    <% @petitions.each do |petition| -%>
      <tr class="petition-list-petition petition-list-petition-state-<%= petition.state.dasherize %>">
        <td class="petition-list-petition-action"><%= link_to petition.action, admin_petition_path(petition) %></td>
        <td><%= mail_to petition.creator_signature.email, petition.creator_signature.name %></td>
        <td class="petition-list-petition-id"><%= petition.id %></td>
        <td><%= petition.state.humanize %></td>
        <td class="numeric"><%= number_with_delimiter(petition.signature_count) %></td>
        <td class="date last"><%= date_format(petition.deadline) %></td>
      </tr>
    <% end -%>
  </tbody>

</table>

<%= will_paginate(@petitions) if @petitions.any? %>
