<h1>Petitions</h1>

<div class="grid-row">
  <%= render 'admin/searches/form', query: @query %>
</div>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= form_tag admin_petitions_path, :method => :get do -%>
      <%= label_tag :state, "Filter by status", class: "visuallyhidden" %>
      <%= select_tag :state, admin_petition_facets_for_select(@petitions.facets, params[:state]), class: "form-control", data: {autosubmit: true} %>
      <%= hidden_field_tag :q, @query %>
      <%= hidden_field_tag :search_type, @search_type %>
      <% unless @tag_filters.blank? %>
        <%= hidden_field_tag "tag_filters[]", @tag_filters %>
      <% end %>
      <%= submit_tag "Go", name: nil, class: "button" %>
    <% end -%>
  </div>
  <div class="column-third actions-right">
    <%= link_to "Download CSV", url_for(params.merge(format: 'csv')) %>
  </div>
</div>

<%= will_paginate(@petitions) if @petitions.any? %>

<table class="petition-list">
  <thead>
    <tr>
      <th class="petition-list-petition-action">Action</th>
      <th class="petition-list-petition-creator">Creator</th>
      <th class="petition-list-petition-id">Id</th>
      <th>State</th>
      <th class="date">Closing</th>
      <th class="numeric last">Signatures</th>
    </tr>
  </thead>
  <tbody>
    <% @petitions.each do |petition| -%>
      <tr class="petition-list-petition petition-list-petition-state-<%= petition.state.dasherize %>">
        <td class="petition-list-petition-action"><%= link_to petition.action, admin_petition_path(petition) %></td>
        <td class="petition-list-petition-creator"><%= mail_to petition.creator_signature.email, petition.creator_signature.name %></td>
        <td class="petition-list-petition-id"><%= petition.id %></td>
        <td><%= petition.state.humanize %></td>
        <td class="date"><%= date_format(petition.deadline) %></td>
        <td class="numeric last"><%= number_with_delimiter(petition.signature_count) %></td>
      </tr>
    <% end -%>
  </tbody>

</table>

<%= will_paginate(@petitions) if @petitions.any? %>
