<div class="petition">
  <%= render 'admin/petitions/petition_details' %>
  <% if @petition.in_todo_list? %>
    <div class="row">
      <%= link_to 'Edit petition content', admin_petition_petition_details_path(@petition) %>
    </div>
  <% else %>
    <%= render 'admin/petitions/published_petition_details' %>
    <div class="row">
      <label>Public Response:</label>
      <p class="text_block"><%= @petition.response || raw('&nbsp;') %></p>
    </div>
  <% end %>
</div>

<nav class="actions">
  <ul>
    <% if @petition.in_todo_list? %>
      <li>
        <div>
          <h2>Moderate this petition</h2>
          <div>
            <%= render 'admin/moderation/form', petition: @petition %>
          </div>
        </div>
      </li>
    <% else %>
      <li><%= link_to 'Government response', edit_response_admin_petition_path(@petition) %></li>
      <% if @petition.can_have_debate_added? %>
        <li><%= link_to 'Debate outcomes', admin_petition_debate_outcome_path(@petition) %></li>
        <li><%= link_to("Publish Debate Schedule", edit_scheduled_debate_date_admin_petition_path(@petition)) %></li>
      <% end %>
    <% end %>
  </ul>
</nav>
