<h1>Edit Email</h1>

<div class="grid-row">
  <div class="grid-column">
    <%= render "admin/shared/email_tabs" %>
  </div>
</div>

<div class="grid-row">
  <%= form_tag admin_email_templates_path, method: :get, class: 'search-email-templates' do %>
    <div class="column-half">
      <div class="search-inline">
        <%= label_tag :q, "Search templates", class: "visuallyhidden" %>
        <%= search_field_tag 'q', params[:q], class: 'form-control', placeholder:"Enter a search query" %>
        <%= submit_tag 'Search', class: 'inline-submit', name: nil %>
      </div>
    </div>
    <div class="column-half actions-right search-inline">
      <%= link_to "New Template", new_admin_email_template_path, class: 'button inline-button' %>
    </div>
  <% end %>
</div>

<%= will_paginate @templates %>

<table class="tag-list">
  <thead>
    <tr>
      <th>Template</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @templates.present? %>
      <% @templates.each do |template| %>
        <tr>
          <td>
            <%= link_to template.name, edit_admin_email_template_path(template) %>
          </td>
          <td>
            <%= template.active ? 'Yes' : 'No' %>
          </td>
          <td>
            <%= button_to 'Edit', edit_admin_email_template_path(template), method: :get, class: 'button' %>
            <% if template.active? %>
              <%= button_to 'Deactivate', deactivate_admin_email_template_path(template), method: :post, class: 'button' %>
            <% else %>
              <%= button_to 'Activate', activate_admin_email_template_path(template), method: :post, class: 'button' %>
            <% end %>
            <%= button_to 'Delete', admin_email_template_path(template), method: :delete, class: 'button-warning', data: { confirm: 'Delete template?' } %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No templates defined</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @templates %>
