<%= render 'admin/shared/results_per_page', :path => admin_root_path %>
<table class="admin_index">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Creator</th>
    <th>Date</th>
  </tr>
  <%- @petitions.each do |petition| -%>
    <tr>
      <td class='petition_id'><%= petition.id %></td>
      <td><%= link_to petition.title, edit_admin_petition_path(petition) %></td>
      <td>
        <%= petition.creator_signature.name %><br/>
        <%= mail_to petition.creator_signature.email %>
      </td>
      <td><%= date_format_admin(petition.created_at) %></td>
    </tr>
  <%- end -%>
  
  <%= will_paginate(@petitions) if @petitions.any? %>
</table>
