<div class="grid-row">
  <div class="column-two-thirds extra-gutter">
    <h1>Create other Senedd business</h1>

    <%= form_for @email, url: admin_petition_emails_path(@petition), method: :post do |form| -%>
      <%= render "form", form: form %>
    <% end -%>
  </div>
  <div class="petition-meta column-third">
    <%= render "admin/petitions/petition_details" %>
  </div>
</div>

<%= javascript_include_tag "character-counter" %>

<%= render "edit_lock" %>
