<tr>
  <td class="petition-id">
    <label><%= check_box_tag 'id', signature.id, false, disabled: signature.creator? %></label>
  </td>
  <td class="petition-details">
    <p>
      <%= link_to signature.petition.action, admin_petition_path(signature.petition) %> –
      <%= number_with_delimiter(signature.petition.signature_count) %>
    </p>
    <dl>
      <dt>ID</dt>
      <dd><%= link_to signature.petition.id, admin_signatures_path(q: signature.petition.id) %></dd>
      <dt>URL</dt>
      <dd><%= link_to petition_path(signature.petition), petition_url(signature.petition), target: "_blank" %></dd>
    </dl>
  </td>
  <td class="signature-details">
    <p>
      <%= link_to(signature.name, [:admin, @petition, :signatures, q: signature.name].compact) %>
      &lt;<%= link_to(signature.account, [:admin, @petition, :signatures, q: signature.email].compact) %><%= link_to("@#{signature.domain}", [:admin, @petition, :signatures, q: "@#{signature.domain}"].compact) %>&gt; –
      <span>
        <% if signature.uk? && signature.postcode? %>
          <%= link_to(signature.location, [:admin, @petition, :signatures, q: signature.postcode].compact) %>
        <% else %>
          <%= signature.location %>
        <% end %>
      </span>
    </p>

    <dl>
      <% if signature.ip_address? %>
        <dt>IP</dt>
        <dd><%= link_to(signature.ip_location, [:admin, @petition, :signatures, q: signature.ip_address].compact) %></dd>
      <% end %>
      <dt>Created</dt>
      <dd><%= link_to(date_time_format(signature.created_at), admin_signature_logs_path(signature)) %></dd>
      <% if signature.validated? %>
        <dt>Validated</dt>
        <dd><%= date_time_format(signature.validated_at) %></dd>
      <% elsif signature.invalidated? %>
        <dt>Invalidated</dt>
        <dd><%= date_time_format(signature.invalidated_at) %></dd>
      <% end %>
    </dl>
  </td>
  <td class="signature-status">
    <%= content_tag(:span, signature.state, class: "status status-#{signature.state}") %>
  </td>
  <td class="signature-actions">
    <% if signature.creator? %>
      <% if signature.pending? %>
        <%= button_to 'Validate', validate_admin_signature_path(signature, search_params), method: :post, class: 'button validate-action', data: { confirm: 'Validate signature?' } %>
      <% else %>
        &nbsp;
      <% end %>
    <% else %>
      <% if signature.validated? %>
        <% if signature.subscribed? %>
          <%= button_to 'Unsubscribe', [:unsubscribe, :admin, @petition, signature, search_params].compact, method: :post, class: 'button unsubscribe-action', data: { confirm: 'Unsubscribe signature?' } %>
        <% else %>
          <%= button_to 'Subscribe', [:subscribe, :admin, @petition, signature, search_params].compact, method: :post, class: 'button subscribe-action', data: { confirm: 'Subscribe signature?' } %>
        <% end %>
      <% end %>
      <% unless signature.fraudulent? || signature.invalidated? %>
        <%= button_to 'Invalidate', [:invalidate, :admin, @petition, signature, search_params].compact, method: :post, class: 'button invalidate-action', data: { confirm: 'Invalidate signature?' } %>
      <% end %>
      <% unless signature.validated? %>
        <%= button_to 'Validate', [:validate, :admin, @petition, signature, search_params].compact, method: :post, class: 'button validate-action', data: { confirm: 'Validate signature?' } %>
      <% end %>
      <%= button_to 'Delete', [:admin, @petition, signature, search_params].compact, method: :delete, class: 'button-warning delete-action', data: { confirm: 'Delete signature?' } %>
    <% end %>
  </td>
</tr>
