<tr>
  <td class="petition_id"><%= signature.petition.id %></td>
  <td><%= link_to signature.petition.action, admin_petition_path(signature.petition) %></td>
  <td><%= signature.state %></td>
  <td><%= date_time_format(signature.updated_at) %></td>
  <% if signature.creator? %>
    <td>Yes</td>
    <td>
      <% if signature.pending? %>
        <%= button_to 'Validate', validate_admin_signature_path(signature), method: :post, class: 'button', data: { confirm: 'Validate signature?' } %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  <% else %>
    <td>No</td>
    <td>
      <% if signature.pending? %>
        <%= button_to 'Validate', validate_admin_signature_path(signature), method: :post, class: 'button', data: { confirm: 'Validate signature?' } %>
      <% else %>
        <%= button_to 'Delete', admin_signature_path(signature), method: :delete, class: 'button-warning', data: { confirm: 'Delete signature?' } %>
      <% end %>
    </td>
  <% end %>
</tr>
