<tr>
  <td class="petition_id"><%= signature.petition.id %></td>
  <td><%= link_to signature.petition.action, admin_petition_path(signature.petition) %></td>
  <td><%= signature.state %></td>
  <td><%= date_time_format(signature.updated_at) %></td>
  <td><%= signature.creator? ? "Yes" : "No" %></td>
</tr>
