<h1>Signatures</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= form_tag [:admin, :signatures], enforce_utf8: false, class: 'search-inline search-signatures', method: 'get' do %>
      <%= label_tag :q, "Search signatures", class: "visuallyhidden" %>
      <%= search_field_tag 'q', params[:q], class: 'form-control', placeholder:"Search by name, email address or IP address" %>
      <%= submit_tag 'Search', name: nil, class: 'inline-submit' %>
    <% end %>
  </div>
</div>

<% if @signatures.present? %>

  <%= will_paginate @signatures %>

  <table class="signature-list">
    <thead>
      <tr>
        <th class="petition-id">ID</th>
        <th class="petition-action">Action</th>
        <th class="petition-signature-count">Signatures</th>
        <th class="signature-name">Name</th>
        <th class="signature-status">Status</th>
        <th class="signature-timestamp">Date</th>
        <th class="signature-creator">Creator?</th>
        <th class="signature-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @signatures -%>
    </tbody>
  </table>

  <%= will_paginate @signatures %>

<% else %>
  <p>
    No signatures found
  </p>
<% end %>
