<h1>Signatures</h1>

<%= form_tag [:admin, @petition, :signatures].compact, enforce_utf8: false, class: 'search-signatures', method: 'get' do %>
  <div class="grid-row">
    <div class="column-half">
      <%= label_tag :state, "Signature state", class: "visuallyhidden" %>
      <%= select_tag :state, admin_signature_states_for_select(params[:state]), class: "form-control", data: { autosubmit: true } %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-half">
      <div class="search-inline">
        <%= label_tag :q, "Search signatures", class: "visuallyhidden" %>
        <%= search_field_tag 'q', params[:q], class: 'form-control', placeholder:"Search by name, email address, postcode or IP address" %>
        <%= submit_tag 'Search', name: nil, class: 'inline-submit' %>
      </div>
      <div class="search-period">
        <p>
          <small>
            <% if window = trending_window %>
              Showing signatures from
              <strong><%= date_time_format(window.begin) %></strong> to <strong><%= date_time_format(window.end) %></strong>
              (<%= link_to "clear", [:admin, @petition, :signatures, {q: params[:q].presence, state: params[:state].presence, page: params[:page].presence }].compact %>)
            <% else %>
              Search the past
              <label><%= radio_button_tag :window, "1800", params[:window] == "1800", data: { autosubmit: true } %>30 minutes</label>
              <label><%= radio_button_tag :window, "10800", params[:window] == "10800", data: { autosubmit: true } %>3 hours</label>
              <label><%= radio_button_tag :window, "43200", params[:window] == "43200", data: { autosubmit: true } %>12 hours</label>
              <label><%= radio_button_tag :window, "", params[:window].blank?, data: { autosubmit: true } %>all time</label>
            <% end %>
          </small>
        </p>
      </div>
    </div>
  </div>
<% end %>

<% if @signatures.present? %>

  <%= will_paginate @signatures %>

  <table class="signature-list">
    <thead>
      <tr>
        <th class="petition-id">
          <label><input type="checkbox" value="1" name="select_all"></label>
        </th>
        <th class="petition-details">Petition</th>
        <th class="signature-details">Signature</th>
        <th class="signature-status">Status</th>
        <th class="signature-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @signatures -%>
    </tbody>
  </table>

  <%= will_paginate @signatures %>

  <div class="inline-actions">
    <% signature_ids = bulk_verifier.generate(@signatures.map(&:id)) %>

    <%= form_tag [:validate, :admin, @petition, :signatures, search_params].compact, method: :post, class: 'action validate-action' do %>
      <%= hidden_field_tag 'selected_ids', '' %>
      <%= hidden_field_tag 'all_ids', signature_ids %>
      <%= submit_tag 'Validate', name: nil, class: 'button', disabled: true, data: { confirm: 'Validate selected signatures?' } %>
    <% end %>

    <%= form_tag [:invalidate, :admin, @petition, :signatures, search_params].compact, method: :post, class: 'action invalidate-action' do %>
      <%= hidden_field_tag 'selected_ids', '' %>
      <%= hidden_field_tag 'all_ids', signature_ids %>
      <%= submit_tag 'Invalidate', name: nil, class: 'button', disabled: true, data: { confirm: 'Invalidate selected signatures?' } %>
    <% end %>

    <%= form_tag [:subscribe, :admin, @petition, :signatures, search_params].compact, method: :post, class: 'action subscribe-action' do %>
      <%= hidden_field_tag 'selected_ids', '' %>
      <%= hidden_field_tag 'all_ids', signature_ids %>
      <%= submit_tag 'Subscribe', name: nil, class: 'button', disabled: true, data: { confirm: 'Subscribe selected signatures?' } %>
    <% end %>

    <%= form_tag [:unsubscribe, :admin, @petition, :signatures, search_params].compact, method: :post, class: 'action unsubscribe-action' do %>
      <%= hidden_field_tag 'selected_ids', '' %>
      <%= hidden_field_tag 'all_ids', signature_ids %>
      <%= submit_tag 'Unsubscribe', name: nil, class: 'button', disabled: true, data: { confirm: 'Unsubscribe selected signatures?' } %>
    <% end %>

    <%= form_tag [:admin, @petition, :signatures, search_params].compact, method: :delete, class: 'action delete-action' do %>
      <%= hidden_field_tag 'selected_ids', '' %>
      <%= hidden_field_tag 'all_ids', signature_ids %>
      <%= submit_tag 'Delete', name: nil, class: 'button-warning', disabled: true, data: { confirm: 'Delete selected signatures?' } %>
    <% end %>
  </div>

  <%= javascript_tag(nonce: true) do %>
    $(document).ready(function() {
      var $list = $('.signature-list');
      var $checkboxes = $list.find('input[name="id"]');
      var $selectAll = $list.find('input[name="select_all"]');

      var selectedIds = function() {
        var ids = [];

        $checkboxes.filter(':checked').each(function() {
          ids.push($(this).val());
        });

        return ids.join();
      };

      var actionDisabled = function(action) {
        var $checked = $checkboxes.filter(':checked');
        var disabled = false;

        if ($checked.length == 0) {
          return true;
        }

        $checked.each(function() {
          var $tr = $(this).closest('tr');
          var $action = $tr.find('button.' + action + '-action');

          if ($action.length == 0) {
            disabled = true;
          }
        });

        return disabled;
      };

      var enableDisableActions = function() {
        $('.validate-action input[type=submit]').prop('disabled', actionDisabled('validate'));
        $('.invalidate-action input[type=submit]').prop('disabled', actionDisabled('invalidate'));
        $('.subscribe-action input[type=submit]').prop('disabled', actionDisabled('subscribe'));
        $('.unsubscribe-action input[type=submit]').prop('disabled', actionDisabled('unsubscribe'));
        $('.delete-action input[type=submit]').prop('disabled', actionDisabled('delete'));
      };

      $selectAll.on('click', function(e) {
        var checked = false;

        if ($(this).prop('checked')) {
          checked = true;
        }

        $checkboxes.each(function() {
          if ($(this).prop('disabled') == false) {
            $(this).prop('checked', checked);
          }
        });

        enableDisableActions();
      });

      $checkboxes.on('click', function(e) {
        enableDisableActions();
      });

      $('.inline-actions form').on('submit', function() {
        $(this).find('input[name="selected_ids"]').val(selectedIds());
      });
    });
  <% end %>

<% else %>
  <p>
    No signatures found
  </p>
<% end %>
