<h2 class="petition-action-heading">Debate Outcome</h2>
<%= form_for petition.debate_outcome, url: admin_archived_petition_debate_outcome_path(petition), method: :patch do |f| -%>
  <%= form_row for: [f.object, :overview] do %>
    <%= f.label :overview, class: 'form-label' %>
    <%= error_messages_for_field f.object, :overview %>
    <%= f.text_area :overview, tabindex: increment, class: 'form-control' %>
  <% end %>

  <h3 class="petition-action-subheading">Was this petition debated?</h3>

  <%= form_row class: 'inline' do %>
    <div class="multiple-choice">
      <%= f.radio_button :debated, true %>
      <%= f.label :debated_true, "Yes", for: "debated_true" %>
    </div>

    <div class="multiple-choice">
      <%= f.radio_button :debated, false %>
      <%= f.label :debated_false, "No", for: "debated_false" %>
    </div>
    <%= error_messages_for_field petition, :debated %>
  <% end %>

  <div class="debate-outcome-controls" style="overflow: hidden; clear: left;">
    <%= form_row :for => [f.object, :debated_on] do %>
      <%= f.label :debated_on, class: 'form-label' %>
      <%= error_messages_for_field f.object, :debated_on %>
      <%= f.date_field :debated_on, tabindex: increment, class: 'form-control' %>
    <% end %>

    <%= form_row for: [f.object, :transcript_url] do %>
      <%= f.label :transcript_url, 'Transcript URL', class: 'form-label' %>
      <%= error_messages_for_field f.object, :transcript_url %>
      <%= f.url_field :transcript_url, tabindex: increment, class: 'form-control' %>
    <% end %>

    <%= form_row for: [f.object, :video_url] do %>
      <%= f.label :video_url, 'Video URL', class: 'form-label' %>
      <%= error_messages_for_field f.object, :video_url %>
      <%= f.url_field :video_url, tabindex: increment, class: 'form-control' %>
    <% end %>

    <%= form_row for: [f.object, :debate_pack_url] do %>
      <%= f.label :debate_pack_url, 'Debate Pack URL', class: 'form-label' %>
      <%= error_messages_for_field f.object, :debate_pack_url %>
      <%= f.url_field :debate_pack_url, tabindex: increment, class: 'form-control' %>
    <% end %>

    <%= form_row for: [f.object, :public_engagement_url] do %>
      <%= f.label :public_engagement_url, 'Public Engagement URL', class: 'form-label' %>
      <%= error_messages_for_field f.object, :public_engagement_url %>
      <%= f.url_field :public_engagement_url, tabindex: increment, class: 'form-control' %>
    <% end %>

    <%= form_row for: [f.object, :debate_summary_url] do %>
      <%= f.label :debate_summary_url, 'Debate Summary URL', class: 'form-label' %>
      <%= error_messages_for_field f.object, :debate_summary_url %>
      <%= f.url_field :debate_summary_url, tabindex: increment, class: 'form-control' %>
    <% end %>

    <%= form_row for: [f.object, :image] do %>
      <%= f.label :image, 'Debate Image', class: 'form-label' %>
      <%= error_messages_for_field f.object, :image %>
      <%= f.file_field :image, tabindex: increment, class: 'form-control' %>
    <% end %>
  </div>

  <%= email_petitioners_with_count_submit_button(f, petition) %>
  <%= f.submit "Save", name: 'save', class: 'button-secondary' %>
  <%= link_to 'Cancel', admin_archived_petition_path(@petition), class: 'button-secondary' %>
<% end %>

<%= javascript_tag(nonce: true) do %>
  $().ready(function() {
    var $debate_outcome_controls = $('.debate-outcome-controls'),
        $debated_true_control = $('#debate_outcome_debated_true'),
        $debated_false_control = $('#debate_outcome_debated_false'),
        $all_controls = $('input[name="debate_outcome[debated]"][type=radio]');

    // Hide if the false control is already checked
    if ($debated_false_control.is(':checked')) {
      $debate_outcome_controls.hide();
    }

    // Ensure that we get the onchange event when the users uses the keyboard
    // Details: http://bit.ly/iZx9nh
    $all_controls.keyup(function() {
      this.blur();
      this.focus();
    }).change(function() {
      if ($debated_true_control.is(':checked')) {
        $debate_outcome_controls.slideDown();
      } else {
        $debate_outcome_controls.slideUp();
      }
    });
  });
<% end -%>

<%= render 'edit_lock' %>
