<%= form_for petition, url: admin_petition_tags_path(petition), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :tags, 'Tags', class: 'form-label petition-action-heading' %>
    <%= error_messages_for_field f.object, :tags %>
    <% if @site_settings.allowed_petition_tags.any? %>

      <!-- Generates check boxes for all allowed tags in site settings. -->
      <!-- Compares the downcased versions to Petition#tags_for_comparison and selects the check boxes if they match. -->
      <!-- Saves selected check box values as tags on Petition. -->
      <%= collection_check_boxes(:petition, :tags, @site_settings.allowed_petition_tags, :downcase, :itself, { checked: f.object.tags_for_comparison }) do |b| %>
        <div class="petition-tag"><%= b.label %><%= b.check_box %></div>
      <% end %>

    <% else %>
      <p><small>No tags have been set by admin.</small></p>
    <% end %>
  </div>
  <%= f.submit 'Save tags', class: 'button' %>
<% end %>
