<h1>Tags</h1>

<div class="grid-row">
  <%= form_tag admin_tags_path, method: :get, class: 'search-inline search-tags' do %>
    <div class="column-half">
      <%= label_tag :q, "Search tags", class: "visuallyhidden" %>
      <%= search_field_tag 'q', params[:q], class: 'form-control', placeholder:"Enter a search query" %>
      <%= submit_tag 'Search', class: 'inline-submit', name: nil %>
    </div>
    <div class="column-half actions-right">
      <%= link_to "New Tag", new_admin_tag_path, class: 'button inline-button' %>
    </div>
  <% end %>
</div>

<%= will_paginate @tags %>

<table class="tag-list">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @tags.present? %>
      <%= render @tags.to_a %>
    <% else %>
      <tr>
        <td colspan="3">No tags defined</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tags %>
