<% if actioned[:with_debate_outcome][:count].zero? %>
  <p>There haven’t been any petitions with over 100,000 signatures yet</p>
<% else %>
  <ol class="threshold-petitions">
    <% actioned[:with_debate_outcome][:list].each.with_index do |petition, index| %>
      <li class="petition-item">
        <h3><%= link_to petition.action, petition_path(petition) %></h3>
        <p class="intro">This topic was debated on <%= short_date_format petition.debate_outcome.debated_on %></p>
        <% if index == 0 && petition.debate_outcome.video_url? -%>
          <%= link_to petition.debate_outcome.video_url, rel: 'external' do %>
            <span class="debate-video" aria-hidden>
              <span class="play-button icon icon-play-white" aria-hidden></span>
            </span>
          <% end -%>
        <% end -%>
        <% if petition.debate_outcome.video_url.present? %>
          <p>Watch the debate on <%= link_to "parliamentlive.tv", petition.debate_outcome.video_url, rel: "external" %></p>
        <% end %>
        <% if petition.debate_outcome.transcript_url.present? %>
          <p>Read the transcript at <%= link_to "parliament.uk", petition.debate_outcome.transcript_url, rel: "external" %></p>
        <% end %>
      </li>
    <% end -%>
  </ol>
  <p><%= link_to petition_count(:with_debate_outcome_explanation, actioned[:with_debate_outcome][:count]), petitions_path(state: :with_debate_outcome), class: "view-all" %></p>
<% end %>
