<% if actioned[:awaiting_response][:count].zero? && actioned[:with_response][:count].zero? %>
  <p>The government hasn’t responded to any petitions yet</p>
<% else %>
  <ol class="threshold-petitions">
    <% actioned[:with_response][:list].each do |petition| %>
      <li class="petition-item">
        <h3><%= link_to petition.action, petition_path(petition, reveal_response: "yes", anchor: 'response-threshold'), class: "threshold-petition-title" %></h3>
        <p class="intro">The government responded</p>
        <blockquote class="pull-quote"><%= simple_format(petition.government_response.summary) %></blockquote>
        <p><%= link_to "Read the response in full", petition_path(petition, reveal_response: "yes", anchor: 'response-threshold') %></p>
      </li>
    <% end -%>
  </ol>
  <p><%= link_to petition_count(:with_response_explanation, actioned[:with_response][:count]), petitions_path(state: :with_response), class: "view-all" %></p>
  <p><%= link_to petition_count(:awaiting_response_explanation, actioned[:awaiting_response][:count]), petitions_path(state: :awaiting_response), class: "view-all" %></p>
<% end %>
