<h1 class="visuallyhidden">Petitions – UK Government and Parliament</h1>

<% actioned_petitions do |actions| %>
  <div class="section-panel actioned-petitions">
    <ul>
      <% actions.each do |state, action| %>
        <li>
          <%= link_to petition_count(state, action[:count]), home_path(anchor: 'petitions-' + state.to_s.dasherize) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="section-panel-borderless">
  <% trending_petitions do |petitions| %>
    <section class="trending" aria-labelledby="trending-heading">
      <h2 id="trending-heading">Popular petitions</h2>
      <ul>
        <% petitions.each do |petition| %>
          <%= render 'petitions/trending_petition', :trending_petition => petition %>
        <% end -%>
      </ul>
    </section>
  <% end %>
  <%= link_to 'View all open petitions', petitions_path(state: 'open'), :class => 'view-all' %>
  <%# link_to petition_count(:with_response_explanation, actioned[:with_response][:count]), petitions_path(state: :with_response), class: "view-all" %>
</div>

<% explanation_petitions do |actioned| %>
  <section aria-labelledby="response-threshold-heading" id="petitions-with-response">
    <div class="threshold-panel response-threshold">
      <h2 id="response-threshold-heading"><%= Site.formatted_threshold_for_response %></h2>
      <p>If a petition gets <%= Site.formatted_threshold_for_response %> signatures, the government will&nbsp;respond</p>
    </div>
    <div class="section-panel-borderless">
      <%= render "home_responded_petitions", actioned: actioned %>
    </div>
  </section>

  <section aria-labelledby="debate-threshold-heading" id="petitions-with-debate-outcome">
    <div class="threshold-panel debate-threshold">
      <h2 id="debate-threshold-heading"><%= Site.formatted_threshold_for_debate %></h2>
      <p>If a petition gets <%= Site.formatted_threshold_for_debate %> signatures, it will be considered for debate in&nbsp;Parliament</p>
    </div>
    <div class="section-panel">
      <%= render "home_debated_petitions", actioned: actioned %>
    </div>
  </section>
<% end %>

<section class="section-panel local-to-you" aria-labelledby="local-to-you-heading">
  <h2 id="local-to-you-heading">Local to you</h2>
  <p>Find petitions about local issues</p>
  <%= render 'local_search' %>
</section>

<section class="section-panel section-panel-final" aria-labelledby="start-a-petition-heading">
  <h2 id="start-a-petition-heading">Start a petition</h2>
  <p>Anyone can start a petition as long as they are a British citizen or UK resident</p>
  <%= link_to "Start a petition", check_petitions_path, :class => 'button' %>
</section>
