<%= cache_for :home_page do %>
  <h1 class="visuallyhidden"><%= t(:"ui.home_page.heading") %></h1>

  <% if Parliament.dissolved? %>
    <%= render 'pages/home/dissolved' %>
  <% elsif Parliament.dissolution_announced? %>
    <%= render 'pages/home/dissolution_announced' %>
  <% elsif Parliament.opened? %>
    <%= render 'pages/home/opened' %>
  <% else %>
    <%= render 'pages/home/pending' %>
  <% end %>
<% end %>
