<h1 class="visuallyhidden">Petitions - what do you want us to do?</h1>

<% actioned_petition_counts do |counts| %>
  <div class="section-panel actioned-petitions">
    <ul>
      <% counts.each do |state, count| %>
        <li>
          <%= link_to petition_count(state, count), petitions_url(state: state) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="section-panel-borderless">
  <% trending_petitions do |petitions| %>
    <section class="trending" aria-labelledby="trending-heading">
      <h2 id="trending-heading">Popular petitions</h2>
      <ul>
        <% petitions.each do |petition| %>
          <%= render 'petitions/trending_petition', :trending_petition => petition %>
        <% end -%>
      </ul>
    </section>
  <% end %>
  <%= link_to 'View all open petitions', petitions_path(state: 'open'), :class => 'view-all' %>
</div>

<% explanation_petition_counts do |counts| %>
  <section aria-labelledby="response-threshold-heading">
    <div class="threshold-panel">
      <span class="graphic graphic-crown-white"></span>
      <h2 id="response-threshold-heading"><%= Site.formatted_threshold_for_response %></h2>
      <p>If a petition gets <%= Site.formatted_threshold_for_response %> signatures, the government will respond</p>
    </div>
    <div class="section-panel-borderless">
      <%= link_to_unless counts[:with_response].zero?, petition_count(:with_response_explanation, counts[:with_response]), petitions_path(state: :with_response) %>
    </div>
  </section>

  <section aria-labelledby="debate-threshold-heading">
    <div class="threshold-panel">
      <span class="graphic graphic-portcullis-white"></span>
      <h2 id="debate-threshold-heading"><%= Site.formatted_threshold_for_debate %></h2>
      <p>If a petition gets <%= Site.formatted_threshold_for_debate %> signatures, it will be considered for debate in Parliament</p>
    </div>
    <div class="section-panel">
      <%= link_to_unless counts[:with_debate_outcome].zero?, petition_count(:with_debate_outcome_explanation, counts[:with_debate_outcome]), petitions_path(state: :with_debate_outcome) %>
    </div>
  </section>
<% end %>

<section class="section-panel local-to-you" aria-labelledby="local-to-you-heading">
  <h2 id="local-to-you-heading">Local to you</h2>
  <p>Find petitions about local issues</p>
  <%= render 'local_search' %>
</section>

<section class="section-panel" aria-labelledby="start-new-petition-heading">
  <h2 id="start-new-petition-heading">Start a petition</h2>
  <p>Anyone can start a petition as long as they are a British citizen or UK resident</p>
  <%= link_to "Start a petition", check_petitions_path, :class => 'button' %>
</section>
