<table class="user-list">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Last login</th>
  </tr>
  <%- @users.each do |user| -%>
    <tr class="user-list-user">
      <td><%= user.name%></td>
      <td><%= mail_to user.email %></td>
      <td><%= user.role %></td>
      <td><%= short_date_time_format(user.current_sign_in_at) %></td>
    </tr>
  <%- end -%>
  <%= will_paginate(@users) if @users.any? %>
</table>
