<p>Dear <%= @admin_user.first_name %>,</p>

<p><%= @new_petitions_count %> <%= @new_petitions_count == 1 ? 'petition is new' : 'petitions are new' %></p>

<p><%= @petitions.length %> <%= @petitions.length == 1 ? 'petition requires action' : 'petitions require action' %></p>

<p>Please go here <%= link_to admin_root_url(:secure => true), admin_root_url(:secure => true) %></p>

<p>Thank you.</p>