<h1>Statistics</h1>

<div class="grid-row">
  <div class="grid-column">
    <%= render "statistics_tabs" %>
  </div>
</div>

<%= form_for @form, url: [:admin, :stats, tab: @form.tab], as: :report, enforce_utf8: false, method: "post" do |form| %>
  <%= render partial: @form.tab, locals: { form: form } %>

  <div class="grid-row" style="margin-top: 30px;">
    <div class="grid-column">
      <div>
        <%= form.submit "Submit request", class: "button" %>
        <%= link_to "Cancel", admin_root_path, class: "button-secondary" %>
      </div>
    </div>
  </div>
<% end %>
