<h2 class="petition-action-heading">Government response</h2>
<%= form_for @government_response, :url => admin_petition_government_response_path(petition), method: :put do |f| -%>
  <%= form_row :for => [f.object, :responded_on] do %>
    <%= f.label :responded_on, class: 'form-label' %>
    <%= error_messages_for_field f.object, :responded_on %>
    <%= f.date_field :responded_on, tabindex: increment, class: 'form-control', disabled: @petition.editing_disabled? %>
  <% end %>

  <%= form_row :for => [f.object, :summary] do %>
    <%= f.label :summary, 'Summary quote', class: 'form-label' %>
    <%= error_messages_for_field f.object, :summary %>
    <%= f.text_area :summary, rows: 3, cols: 70, tabindex: increment, data: { max_length: 200 }, class: 'form-control', disabled: @petition.editing_disabled? %>
    <p class="character-count">200 characters max</p>
  <% end %>

  <%= form_row :for => [f.object, :details] do %>
    <%= f.label :details, 'Response in full', class: 'form-label' %>
    <%= error_messages_for_field f.object, :details %>
    <%= f.text_area :details, rows: 8, cols: 70, tabindex: increment, data: { max_length: 10000 }, class: 'form-control', disabled: @petition.editing_disabled? %>
    <p class="character-count">10000 characters max</p>
  <% end %>

  <%= email_petitioners_with_count_submit_button(f, petition, disabled: @petition.editing_disabled?) %>
  <% if @government_response.persisted? %>
    <%= link_to "Delete", admin_petition_government_response_path(@petition), class: "button-warning", method: :delete, data: { confirm: "Are you sure you want to delete the government response?" } %>
  <% end %>
  <%= f.submit "Save", name: "save", class: "button-secondary", disabled: @petition.editing_disabled? %>
  <%= link_to "Cancel", admin_petition_path(@petition), class: "button-secondary" %>
<% end %>

<%= render 'edit_lock' %>
