<div class="search-results section-panel">
  <% if @petitions.empty? %>
    <p><%= t(:"ui.petitions.search.results.no_match") %></p>
  <% else %>
    <ol>
      <% @petitions.each do |petition| %>
        <li class="petition-item petition-<%= petition.state %>">
          <%= render "petitions/search/result_items/petition_result_for_facet_#{@petitions.scope}", petition: petition %>
        </li>
      <% end -%>
    </ol>
    <%= render 'paginated_results' %>
    <p><%= t(
      :"ui.application.get_json_csv_html",
      json_link: link_to("JSON", petitions_path(:json, params.permit(:q, :page, :state))),
      csv_link: link_to('CSV', petitions_path(:csv, params.permit(:q, :state)))
    ) %></p>
  <% end %>
</div>
