<div class="search-results section-panel">
  <% if @petitions.empty? %>
    <p>No petitions could be found matching your search terms.</p>
  <% else %>
    <ol>
      <% @petitions.each do |petition| %>
        <li class="petition-item petition-<%= petition.state %>">
          <%= render "petitions/search/result_items/petition_result_for_facet_#{@petitions.scope}", petition: petition %>
        </li>
      <% end -%>
    </ol>
    <%= render 'paginated_results' %>
    <p>Get this data in <%= link_to "JSON", petitions_path(:json, params.permit(:q, :page, :state)) %> or <%= link_to 'CSV', petitions_path(:csv, params.permit(:q, :state)) %> format</p>
  <% end %>
</div>
