<!DOCTYPE html>
<html lang="en-GB">

<!-- This file lives in public/<%= @status %>.html -->

<head>
  <%= yield :title -%>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" media="screen" href="/error.css" />
</head>

<body>

<%= render 'application/header' -%>

  <main id="content" role="main">
<%= yield -%>
  </main>

<%= render 'application/footer' -%>
</body>

</html>
