<h3>Comments:</h3>
<%= simple_format(@feedback.comment) %>

<hr>

<p>
  <strong>Link or title:</strong><br>
  <% if @feedback.petition_link? %>
    <%= link_to nil, @feedback.petition_link_or_title %>
  <% else %>
    <%= @feedback.petition_link_or_title %>
  <% end %>
</p>

<p>
  <strong>Email:</strong><br>
  <%= mail_to(@feedback.email) %>
</p>

<p>
  <strong>Browser:</strong><br>
  <%= @feedback.user_agent %>
</p>
