<h1>petition statistics</h1>
<br />
<h2>Trending Petitions</h2>

<%= form_tag admin_reports_path, :method => :get, :class => "filter" do -%>
  <%= label_tag :number_of_days_to_trend, "View trends for:" %>
  <%= select_tag :number_of_days_to_trend,
    options_for_select([['24 hours', 1], ['7 days', 7]], @number_of_days_to_trend), :include_blank => false %>
  <%= submit_tag "Go" %>
<% end -%>

<% if @trending_petitions.present? %>
  <table class="trending_petitions">
    <thead>
      <tr>
        <th>Petition ID</th>
        <th>Title</th>
        <th>Signatures in last <%= @number_of_days_to_trend == 1 ? "24 hours" : "7 days" %></th>
      </tr>
    </thead>
    <tbody>
      <% @trending_petitions.each do |petition| %>
        <tr class="trending_petition">
          <td><%= petition.id %></td>
          <td class="title"><%= link_to petition.title, [:edit_response, :admin, petition] %></td>
          <td class="count"><%= petition.signatures.in_days(@number_of_days_to_trend).count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No petitions in the chosen period.</p>
  <br />
<% end %>
