<%= cache_for :all_local_petitions_page do %>
  <h1 class="page-title">
    <%= t(:"ui.petitions.local.all.heading", constituency_name: @constituency.name) %>
  </h1>

  <p class="heading-link">
    <%= link_to t(:"ui.petitions.local.all.open_popular_link", constituency_name: @constituency.name), local_petition_path(@constituency), class: 'view-all' %>
  </p>

  <% if @constituency.sitting_mp? %>
    <p class="lede"><%= t(:"ui.petitions.local.all.mp_name_link_html", mp_name_link: link_to(@constituency.mp_name, @constituency.mp_url, rel: 'external')) %></p>
  <% end %>

  <div class="section-panel local-petitions">
    <% if @petitions.empty? %>
      <p><%= t(:"ui.petitions.local.all.results.empty") %></p>
    <% else %>
      <ol>
        <% @petitions.each do |petition| %>
          <li class="petition-item petition-<%= petition.state %>">
            <h3><%= link_to petition.action, petition_path(petition) %></h3>
            <p>
              <%= signature_count(:in_your_constituency, petition.constituency_signature_count, constituency: @constituency.name) %><br/>
              <% if petition.closed? %>
                (<%= signature_count(:in_total, petition.signature_count) %>, <%= t(:"ui.petitions.local.all.results.now_closed") %>)
              <% else %>
                (<%= signature_count(:in_total, petition.signature_count) %>)
              <% end %>
            </p>
          </li>
        <% end -%>
      </ol>
    <% end %>
  </div>

  <ul class="petition-meta">
    <li class="meta-json">
      <span class="note"><%= t(
        :"ui.application.get_json_csv_html",
        json_link: link_to("JSON", all_local_petition_path(@constituency, :json)),
        csv_link: link_to('CSV', all_local_petition_path(@constituency, :csv))
      ) %></span>
    </li>
  </ul>
<% end %>
