<h1 class="page-title">
  <% if @constituency.present? %>
    Popular petitions in the constituency of <%= @constituency.name %>
  <% elsif @postcode.present? %>
    Sorry!
  <% else %>
    Local to you
  <% end %>
</h1>

<% if @constituency.present? %>

  <% if @constituency.mp %>
    <p>Your MP is <%= link_to @constituency.mp.name, @constituency.mp.url, rel: 'external' %></p>
  <% end %>

  <div class="section-panel local-petitions">
    <% if @petitions.any? %>
      <ol>
        <% @petitions.each do |petition| %>
          <li class="petition-item petition-<%= petition.state %>">
            <h3><%= link_to petition.action, petition_path(petition) %></h3>
            <p><%= signature_count(:in_your_constituency, petition.constituency_signature_count, constituency: @constituency.name) %><br/>
            (<%= signature_count(:in_total, petition.signature_count) %>)</p>
          </li>
        <% end -%>
      </ol>
    <% else %>
      <p>No petitions are popular in your constituency.</p>
    <% end %>
  </div>

<% else %>

  <% if @postcode.blank? %>
    <p>Find petitions about local issues</p>
  <% else %>
    <p>
      We could not find your constituency from the postcode you provided:
      <q><%= params[:postcode] %></q>.
    </p>
    <p>
      It's possible that the API we use is down, or that your postcode wasn't
      recognised. Why not try again?
    </p>
  <% end %>

  <%= render 'local_search' %>
<% end %>
