<h1 class="page-title">
  <% if @postcode.present? %>
    <%= t(:"ui.petitions.local.index.postcode_bad.heading") %>
  <% else %>
    <%= t(:"ui.petitions.local.index.postcode_blank.heading") %>
  <% end %>
</h1>

<% if @postcode.blank? %>
  <p><%= t(:"ui.petitions.local.index.postcode_blank.find_local_petitions") %></p>
<% else %>
  <p><%= t(:"ui.petitions.local.index.postcode_bad.couldnt_find_postcode_html", postcode: params[:postcode]) %></p>
<% end %>

<%= render 'local_search' %>
