<div class="grid-row margin-top-7">
  <div class="grid-column-two-thirds-from-laptop">
    <h1>
      Popular open petitions in the constituency of <%= @constituency.name %>
    </h1>

    <p class="heading-link">
      <%= link_to "View all popular petitions in #{@constituency.name}", all_local_petition_path(@constituency), class: 'view-all' %>
    </p>

    <% if @constituency.sitting_mp? %>
      <p>
        Your member of parliament is
        <%= link_to @constituency.mp_name, @constituency.mp_url, rel: 'external' %>
      </p>
    <% end %>

    <div class="local-petitions">
      <% if @petitions.empty? %>
        <p>
          No petitions are popular in your constituency.
        </p>
      <% else %>
        <% @petitions.each do |petition| %>
          <hr>

          <div class="petition-item">
            <h2>
              <%= link_to petition.action, petition_path(petition) %>
            </h2>

            <p>
              <%= signature_count(:in_your_constituency, petition.constituency_signature_count, constituency: @constituency.name) %><br>
              (<%= signature_count(:in_total, petition.signature_count) %>)</p>
            </p>
          </div>
        <% end -%>
      <% end %>
    </div>

    <hr>

    <p>
      Get this data in <%= link_to 'JSON', local_petition_path(@constituency, :json) %>
      or <%= link_to 'CSV', local_petition_path(@constituency, :csv) %> format
    </p>
  </div>
</div>
