<li id="response">
  <%= time_tag(petition.responded_on) do %>
    <strong><%= short_date_format(petition.responded_on) %></strong>
  <% end %>

  <div>
    <h3>
      Government responded to this petition
    </h3>

    <% if context.summary? %>
      <div class="response-summary">
        <%= auto_link(simple_format(h(context.summary)), html: { rel: 'nofollow' } ) %>
      </div>

      <% if context.details? %>
        <div class="response-details">
          <%= tag.details(open: reveal_government_response?) do %>
            <summary>
              <span>Read the response in full</span>
            </summary>
            <div>
              <%= markdown_to_html(context.details, link_attributes: { rel: 'nofollow' }) %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="response-details">
        <%= markdown_to_html(context.details, link_attributes: { rel: 'nofollow' }) %>
      </div>
    <% end %>
  </div>
</li>
