<h2 class="petition-action-heading">Other parliamentary business</h2>

<% if petition.emails.any?(&:persisted?) %>
  <table class="petition-list petition-emails">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% petition.emails.select(&:persisted?).each do |email| %>
        <tr>
          <td><%= email.subject %></td>
          <td>
            <%= button_to 'Edit', edit_admin_archived_petition_email_path(petition, email), method: :get, class: 'button' %>
            <%= button_to 'Delete', admin_archived_petition_email_path(petition, email), method: :delete, class: 'button-warning', data: { confirm: 'Delete other parliamentary business?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= form_for @email, url: admin_archived_petition_emails_path(petition), method: :post do |f| -%>
  <%= form_row :for => [f.object, :subject] do %>
    <%= f.label :subject, 'Subject', class: 'form-label' %>
    <%= error_messages_for_field f.object, :subject %>
    <%= f.text_area :subject, rows: 2, cols: 70, tabindex: increment, data: { max_length: 100 }, class: 'form-control' %>
    <p class="character-count">100 characters max</p>
  <% end %>

  <%= form_row :for => [f.object, :body] do %>
    <%= f.label :body, 'Body', class: 'form-label' %>
    <%= error_messages_for_field f.object, :body %>
    <%= f.text_area :body, rows: 8, cols: 70, tabindex: increment, data: { max_length: 5000 }, class: 'form-control' %>
    <p class="character-count">5000 characters max</p>
  <% end %>

  <%= email_petitioners_with_count_submit_button(f, petition) %>
  <%= f.submit "Save and preview", name: 'save_and_preview', class: 'button-secondary' %>
  <%= f.submit "Save", name: 'save', class: 'button-secondary' %>

<% end -%>

<%= javascript_include_tag 'character-counter' %>

<%= render 'edit_lock' %>
