<%= form_for @petition, url: admin_petition_petition_details_path(@petition), method: :patch do |f| %>

  <h2>Edit petition</h2>

  <%= form_row for: [f.object, :title] do %>
    <%= f.label :title, class: 'form-label' %>
    <%= error_messages_for_field @petition, :title %>
    <%= f.text_area :title, tabindex: increment, rows: 3, maxlength: 80, class: 'form-control' %>
  <% end %>

  <%= form_row for: [f.object, :action] do %>
    <%= f.label :action, class: 'form-label' %>
    <%= error_messages_for_field @petition, :action %>
    <%= f.text_area :action, tabindex: increment, rows: 5, class: 'form-control' %>
  <% end %>

  <%= form_row for: [f.object, :description] do %>
    <%= f.label :description, class: 'form-label' %>
    <%= error_messages_for_field @petition, :description %>
    <%= f.text_area :description, tabindex: increment, rows: 7, class: 'form-control' %>
  <% end %>

  <%= form_row do %>
    <%= f.submit 'Save' %>
  <% end %>

  <%= link_to 'Cancel', edit_admin_petition_path(@petition) %>

<% end %>
