<!-- Back to X list -->

<% if @petition.archiving? %>
  <p class="flash-alert">This petition is being archived and cannot be edited</p>
<% elsif @petition.archived? %>
  <p class="flash-alert">This petition has been archived and cannot be edited</p>
<% end %>

<div class="grid-row">

  <div class="column-two-thirds extra-gutter">
    <h2 class="petition-action-heading">Edit petition</h2>

    <%= form_for @petition, url: admin_petition_details_path(@petition), method: :patch do |f| %>

      <%= form_row for: [f.object, :action] do %>
        <%= f.label :action, class: 'form-label' %>
        <%= error_messages_for_field @petition, :action %>
        <%= f.text_area :action, tabindex: increment, rows: 3, maxlength: 80, class: 'form-control', disabled: @petition.editing_disabled? %>
      <% end %>

      <%= form_row for: [f.object, :background] do %>
        <%= f.label :background, class: 'form-label' %>
        <%= error_messages_for_field @petition, :background %>
        <%= f.text_area :background, tabindex: increment, rows: 5, class: 'form-control', disabled: @petition.editing_disabled? %>
      <% end %>

      <%= form_row for: [f.object, :additional_details] do %>
        <%= f.label :additional_details, class: 'form-label' %>
        <%= error_messages_for_field @petition, :additional_details %>
        <%= f.text_area :additional_details, tabindex: increment, rows: 7, class: 'form-control', disabled: @petition.editing_disabled? %>
      <% end %>

      <%= f.fields_for :creator do |c| %>
        <%= form_row for: [@petition.creator, :name] do %>
          <%= c.label :name, "Creator", class: 'form-label' %>
          <%= error_messages_for_field @petition.creator, :name %>
          <%= c.text_field :name, tabindex: increment, class: 'form-control', disabled: @petition.editing_disabled? %>
        <% end %>

        <%= form_row for: [@petition.creator, :email] do %>
          <%= c.label :email, "Email", class: 'form-label' %>
          <%= error_messages_for_field @petition.creator, :email %>
          <%= c.text_field :email, tabindex: increment, class: 'form-control', disabled: @petition.editing_disabled? %>
        <% end %>
      <% end %>

      <%= form_row for: [f.object, :committee_note] do %>
        <%= f.label :committee_note, class: 'form-label' %>
        <%= error_messages_for_field @petition, :committee_note %>
        <%= f.text_area :committee_note, tabindex: increment, rows: 7, class: 'form-control', disabled: @petition.editing_disabled? %>
      <% end %>

      <%= form_row for: [f.object, :special_consideration] do %>
        <div class="multiple-choice">
          <%= f.check_box :special_consideration, tabindex: increment, disabled: @petition.editing_disabled? %>
          <%= f.label :special_consideration, 'Special consideration when dealing with this petition' %>
        </div>
        <%= error_messages_for_field @petition, :special_consideration %>
      <% end %>

      <%= form_row for: [f.object, :do_not_anonymize] do %>
        <div class="multiple-choice">
          <%= f.check_box :do_not_anonymize, tabindex: increment, disabled: @petition.editing_disabled? %>
          <%= f.label :do_not_anonymize, 'Do not anonymize this petition' %>
        </div>
        <%= error_messages_for_field @petition, :do_not_anonymize %>
      <% end %>

      <%= f.submit 'Save', class: 'button', disabled: @petition.editing_disabled? %>

      <%= link_to 'Cancel', admin_petition_path(@petition), class: 'button-secondary' %>

    <% end %>
  </div>

  <div class="petition-meta column-third">
    <%= render 'admin/petitions/petition_details' %>
  </div>

</div>

<%= render 'edit_lock' %>
