<p>Dear <%= @sponsor.name %>,</p>

<p>Please <%= link_to "confirm your email", verify_sponsor_url(@sponsor, token: @sponsor.perishable_token) %> to support and sign <%= @petition.creator_name %>’s petition:</p>

<hr>

<p><%= @petition.action %></p>
<p><%= @petition.background %></p>
<% unless @petition.additional_details.blank? %>
  <p><%= @petition.additional_details %></p>
<% end %>

<hr>

<%= render "footer" %>
