<p>Hi <%= @petition.creator_signature.name %>,</p>

<p><%= @sponsor.signature.name %> supported your petition &ndash; &ldquo;<%= @petition.action %>&rdquo;.</p>

<p>You have <%= @supporting_sponsors_count %> supporter so far. If <%= @moderation_threshold %> people support your petition we&apos;ll check it to make sure it meets the petition standards. If it does, we&apos;ll publish it.</p>

<p>Find out how we check petitions before we publish them:<br />
<%= link_to 'petition guidelines', help_path(anchor: 'creating-a-petition') %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= link_to nil, home_url %></p>
