<p>Dear <%= @petition.creator_signature.name %>,</p>

<p><%= @sponsor.signature.name %> supported your petition – “<%= @petition.action %>”.</p>

<p>You have <%= pluralize(@supporting_sponsors_count, 'supporter') %> so far. If <%= @moderation_threshold %> people support your petition we’ll check it to make sure it meets the petition standards. If it does, we’ll publish it.</p>

<p>Find out how we check petitions before we publish them:<br />
<%= link_to nil, help_url(anchor: 'standards') %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>
