<p>Dear <%= @creator.name %>,</p>

<p>Someone supported your petition: “<%= link_to @petition.action, petition_url(@petition) %>”.</p>

<p><%= pluralize(@sponsor_count, "person", locale: :en) %> have supported your petition.</p>

<p>We’re checking it to make sure it meets the <%= link_to "petition standards", help_url(anchor: 'standards') %>.</p>

<p>If it does, we’ll publish it. If it doesn’t, we’ll let you know why.</p>

<p>This can take up to 10 working days. During holiday periods, this may take longer. Thank you for your patience.</p>

<p>Once your petition has <%= Site.maximum_number_of_sponsors %> supporters, no one else will be able to sign it until it’s been checked. Please wait until it’s been checked and published before sharing more widely.</p>

<%= render "footer" %>
