<!-- Back to X list -->

<div class="grid-row">

  <div class="column-two-thirds extra-gutter">
    <%= render 'admin/petitions/petition_content' %>

    <nav class="actions" role="navigation">
      <% if @petition.in_todo_list? %>
        <li class="action">
          <%= link_to 'Moderate this petition', admin_petition_path(@petition), class: 'action-heading' %>
        </li>
      <% end %>

      <li class="action">
        <%= form_for @petition, url: admin_petition_notes_path(@petition), method: :patch do |f| -%>

          <%= form_row :for => [f.object, :admin_notes] do %>
            <%= f.label :admin_notes, 'Notes', class: 'form-label action-heading' %>
            <%= error_messages_for_field f.object, :admin_notes %>
            <%= f.text_area :admin_notes, tabindex: increment, class: 'form-control' %>
          <% end %>

          <%= form_row do %>
            <%= f.submit 'Save', class: 'button' %>
          <% end %>
        <% end -%>
      </li>

      <% unless @petition.in_todo_list? %>
        <li class="action">
          <%= link_to 'Moderate this petition', admin_petition_path(@petition), class: 'action-heading' %>
        </li>
      <% end %>
    </nav>
  </div>

  <div class="admin-petition-meta column-third">
    <%= render 'admin/petitions/petition_details' %>
  </div>

</div>
