<!-- Back to X list -->

<div class="grid-row">

  <div class="column-two-thirds extra-gutter">
    <%= render 'admin/petitions/petition_content' %>
    <%= form_for @petition, url: admin_petition_notes_path(@petition), method: :patch do |f| -%>

      <h2>Notes</h2>

      <%= form_row :for => [f.object, :admin_notes] do %>
        <%= f.label :admin_notes, 'Notes', class: 'form-label' %>
        <%= error_messages_for_field f.object, :admin_notes %>
        <%= f.text_area :admin_notes, tabindex: increment, class: 'form-control' %>
      <% end %>

      <%= form_row do %>
        <%= f.submit 'Save' %>
      <% end %>
    <% end -%>
  </div>

  <div class="admin-petition-meta column-third">
    <%= render 'admin/petitions/petition_details' %>
  </div>

</div>
