<h1>Change your password</h1>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= form_for [:admin, current_user], url: admin_profile_path(current_user) do |f| -%>
      <%= form_row for: [f.object, :current_password] do %>
        <%= f.label :current_password, class: 'form-label' %>
        <%= error_messages_for_field f.object, :current_password %>
        <%= f.password_field :current_password, tabindex: increment, class: 'form-control', autofocus: 'autofocus', autocomplete: 'off' %>
      <% end %>

      <%= form_row for: [f.object, :password] do %>
        <%= f.label :password, 'New password', class: 'form-label' %>
        <%= error_messages_for_field f.object, :password %>
        <%= f.password_field :password, tabindex: increment, class: 'form-control', autocomplete: 'off' %>
      <% end %>

      <%= form_row for: [f.object, :password_confirmation] do %>
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= error_messages_for_field f.object, :password_confirmation %>
        <%= f.password_field :password_confirmation, tabindex: increment, class: 'form-control', autocomplete: 'off' %>
      <% end %>

      <%= f.submit 'Save', class: "button" %>
    <% end -%>
  </div>
</div>
