<h1>Petition admin</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render 'admin/searches/form', query: '' %>

    <% action_counts do |counts| %>
      <ul class="hub-actions grid-row">
        <% counts.each do |state, count| %>
          <li class="column-half action-<%= state.to_s.dasherize %>">
            <%= link_to admin_petitions_url(state: state) do %>
              <% if state == :awaiting_response %>
                <span class="graphic graphic-crest-large-white"></span>
              <% elsif state == :in_debate_queue %>
                <span class="graphic graphic-portcullis-large-white"></span>
              <% end %>
              <%= action_count(state, count) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="signature-trends column-third">
    <dl>
      <% if trending_domains? %>
        <dt>Trending Domains</dt>
        <dd>
          <table class="trending-domains">
            <% trending_domains.each do |domain, count| %>
              <tr>
                <td><%= domain %></td>
                <td><%= number_with_delimiter(count) %></td>
              </tr>
            <% end %>
          </table>
        </dd>
      <% end %>

      <% if trending_ips? %>
        <dt>Trending IP Addresses</dt>
        <dd>
          <table class="trending-ips">
            <% trending_ips.each do |ip, count| %>
              <tr>
                <td><%= ip %></td>
                <td><%= number_with_delimiter(count) %></td>
              </tr>
            <% end %>
          </table>
        </dd>
      <% end %>
    </dl>
  </div>
</div>
