<footer id="footer" role="contentinfo">
  <div class="wrapper">
    <ul id="footer_nav">
      <li><%= link_to t(:"ui.footer.nav.home"), home_path %></li>
      <li><%= link_to t(:"ui.footer.nav.all_petitions"), petitions_path %></li>
      <li><%= link_to t(:"ui.footer.nav.start_a_petition"), check_petitions_path %></li>
      <li><%= link_to t(:"ui.footer.nav.how_petitions_work"), help_path %></li>
      <li><%= link_to t(:"ui.footer.nav.privacy"), privacy_path %></li>
      <li><%= link_to t(:"ui.footer.nav.feedback"), feedback_path %></li>
    </ul>

    <div class="open-government-licence">
      <%= t(:"ui.footer.ogl_html") %>
    </div>

    <div class="copyright">
      <%= t(:"ui.footer.copyright_html") %>
    </div>
  </div>
</footer>
