<header role="banner" id="global-header">
  <div class="wrapper">
    <% unless request.nil? %>
      <%= language_switcher_tag %>
    <% end %>

    <% if home_page? %>
      <span class="proposition">
        <span class="graphic graphic-portcullis-white"></span> <%= t(:"ui.header.title") %>
      </span>
    <% else %>
      <%= link_to(home_path, :title => t(:"ui.header.tooltip"), :tabindex => 1, :class => 'proposition') do %>
        <span class="graphic graphic-portcullis-white"></span> <%= t(:"ui.header.title") %>
      <% end %>
    <% end %>
    <p class="strapline"><%= t(:"ui.header.strapline") %></p>
  </div>
</header>
