<header role="banner">
  <div class="wrapper">
    <% unless request.nil? %>
      <%= language_switcher_tag %>
    <% end %>

    <div class="brand">
      <div class="logo">
        <p><%= t(:"ui.header.senedd_cymru") %></p>
        <p><%= t(:"ui.header.welsh_parliament") %></p>
      </div>
      <p class="service">
        <% if home_page? || holding_page? %>
          <%= t(:"ui.header.title") %>
        <% else %>
          <%= t(:"ui.header.title_link_html", url: home_path) %>
        <% end %>
      </p>
    </div>
  </div>
</header>
