<% if Parliament.dissolution_announced? %>
  <div class="notification">
    <span class="icon icon-warning-white"></span>
    <% if Parliament.dissolved? %>
      <h3 class="header"><%= Parliament.dissolved_heading %></h3>
      <p class="content"><%= Parliament.dissolved_message %></p>
    <% else %>
      <h3 class="header"><%= Parliament.dissolution_heading %></h3>
      <p class="content"><%= Parliament.dissolution_message %></p>
    <% end %>
    <% if Parliament.dissolution_faq_url? %>
      <p class="content"><%= parliament_dissolution_faq_notice %></p>
    <% end %>
  </div>
<% end %>
