<% if Parliament.dissolution_announced? %>
  <% content_for(:message_banner) do %>
    <% if Parliament.dissolved? %>
      <h2><%= Parliament.dissolved_heading %></h2>
      <p><%= Parliament.dissolved_message %></p>
    <% else %>
      <h2><%= Parliament.dissolution_heading %></h2>
      <p><%= Parliament.dissolution_message %></p>
    <% end %>
    <% if Parliament.dissolution_faq_url? %>
      <p>Find out more on the <%= link_to 'Petitions Committee website', Parliament.dissolution_faq_url %></p>
    <% end %>
  <% end %>
<% end %>
