<%= link_to 'Back to current petitions', petitions_path, class: 'lists-of-petitions' %>

<h1 class="page-title">Archived petitions</h1>
<p class="text-secondary">Petitions from the 2010–2015 Conservative – Liberal Democrat coalition government</p>

<%= form_tag archived_petitions_path, class: 'search-inline', method: 'get', enforce_utf8: false do %>
  <%= search_field_tag  'q', @petitions.query, class: 'form-control', id: 'search' %>
  <%= submit_tag 'Search', name: nil, class: 'inline-submit' %>
<% end %>

<% if @petitions.empty? %>
  <p>No archived petitions could be found matching your search terms</p>
<% else %>
  <div class="search-results section-panel">
    <ol>
      <% @petitions.each do |petition| %>
        <li class="petition-item petition">
          <h3><%= link_to petition.title, archived_petition_path(petition), :class => 'text_link' %></h3>
          <% if petition.rejected? %><p>Rejected</p><% end %>
          <p><%= signature_count(:default, petition.signature_count) unless petition.rejected? %></p>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= render 'paginated_results' %> 
