<div class="notification">
  <span class="icon icon-warning-white"></span>
  <p class="content"><%= t(
    :"ui.petitions.archived.government_warning",
    count: @petitions,
    period: @parliament.period,
    government: @parliament.government
  ) %></p>

  <details class="list-of-parliaments">
    <summary><span class="summary"><%= t(:"ui.petitions.archived.list_of_parliaments.summary") %></span></summary>
    <div>
      <ul>
        <% archived_parliaments.each do |parliament| %>
          <li><%= link_to t(:"ui.petitions.archived.list_of_parliaments.item", period: parliament.period, government: parliament.government), archived_petitions_path(parliament: parliament, state: "published") %></li>
        <% end %>
        <li><%= link_to t(:"ui.petitions.archived.list_of_parliaments.current_petitions_link"), petitions_path(state: "open") %></li>
      </ul>
    </div>
  </details>
</div>

<details class="lists-of-petitions">
  <summary><span class="summary"><%= t(:"ui.petitions.other_lists") %></span></summary>
  <div>
    <ul>
    <% archived_petition_facets_with_counts(@petitions).each do |facet, count| %>
      <li>
        <%= link_to archived_petitions_path(parliament: @parliament, state: facet) do %>
          <%= t(facet, scope: :"ui.petitions.lists", quantity: number_with_delimiter(count)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</details>

<h1 class="page-title"><%= t(@petitions.scope, scope: :"ui.petitions.index.page_titles") %></h1>

<%= form_tag archived_petitions_path, method: 'get', enforce_utf8: false do %>
  <div class="search-inline">
    <%= search_field_tag  'q', @petitions.query, class: 'form-control', id: 'search' %>
    <%= hidden_field_tag 'state', @petitions.scope %>
    <%= hidden_field_tag 'parliament', @parliament.id %>
    <%= submit_tag t(:"ui.petitions.search.submit"), name: nil, class: 'inline-submit' %>
  </div>
<% end %>

<p class="filtered-petition-count"><%= filtered_petition_count(@petitions) %></p>

<div class="search-results section-panel">
  <% if @petitions.empty? %>
    <p><%= t(:"ui.petitions.archived.search.results.no_match") %></p>
  <% else %>
    <ol>
      <% @petitions.each do |petition| %>
        <li class="petition-item petition-<%= petition.state %>">
          <%= render "petitions/search/result_items/petition_result_for_facet_#{@petitions.scope}", petition: petition %>
        </li>
      <% end %>
    </ol>
    <%= render 'paginated_results' %>
    <p><%= t(
      :"ui.application.get_json_csv_html",
      json_link: link_to("JSON", archived_petitions_path(:json, params.permit(:parliament, :q, :page, :state))),
      csv_link: link_to('CSV', archived_petitions_path(:csv, params.permit(:q, :parliament, :state)))
    ) %></p>
  <% end %>
</div>

<nav id="other-search-lists" role="navigation" aria-labelledby="other-lists-heading">
  <h2 id="other-lists-heading"><%= t(:"ui.petitions.other_lists") %></h2>
  <div class="section-panel">
    <ul>
    <% archived_petition_facets_with_counts(@petitions).each do |facet, count| %>
      <li>
        <%= link_to archived_petitions_path(parliament: @parliament, state: facet) do %>
          <%= t(facet, scope: :"ui.petitions.lists", quantity: number_with_delimiter(count)) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <%= link_to t(:"ui.petitions.current_petitions_link"), petitions_path(state: "open") %>
</nav>
