<% content_for(:page_title) { "View archived petitions - Petitions" } %>

<h1 class="page-title">Archived petitions</h1>

<%= form_tag archived_petitions_path, class: 'search-inline', method: 'get' do %>
    <%= search_field_tag  'q', @petitions.query, class: 'form-control', id: 'search' %>
    <%= submit_tag 'Search', class: 'inline-submit' %>
<% end %>

<% if @petitions.empty? %>
    <p>No archived petitions could be found matching your search terms</p>
<% else %>
  <div class="search-results section-panel">
    <ol>
      <% @petitions.each do |petition| %>
          <li class="petition-item petition">
            <%= link_to petition.title, archived_petition_path(petition), :class => 'text_link' %>
            <%= 'Rejected' if petition.rejected? %>
            <p><%= signature_count(:default, petition.signature_count) unless petition.rejected? %></p>
          </li>
        <% end %>
      </ol>
     </div>
  <% end %>

<%= render 'petitions/search/result_list_footer', petitions: @petitions %>
