<% content_for(:page_title) { "Search results - archived e-petitions" } %>
<% content_for :title do %>
<div class="title_block">
  <h1>Search results <span class="search_terms">for "<%= params[:q] %>"</span></h1>
</div>
<% end %>

<div class="search-results">
  <% if @petitions.empty? %>
    <p class="no_petitions_warning">No archived petitions could be found matching your search terms.</p>
  <% else %>
    <div class="title_pagination_row">
      <h2>Archive e-petitions matching your search terms</h2>
    </div>
    <ol>
      <% @petitions.each do |petition| %>
        <li class="petition-item">
          <span class="name">
            <%= link_to petition.title, archived_petition_path(petition), :class => 'text_link' %>
            (<%= petition.rejected? ? 'Rejected' : 'Closed' %>)
          </span>
          <% if petition.rejected? %>
            <span class="sig_count">&ndash;</span>
            <span class="closing_date last">&ndash;</span>
          <% else %>
            <span class="sig_count"><%= number_with_delimiter(petition.signature_count) %></span>
            <span class="closing_date"><%= date_format(petition.closed_at) %></span>
          <% end %>
        </li>
      <% end %>
    </ol>
    <%= will_paginate @petitions %>
  <% end %>
</div>
