<% content_for(:page_title) { "Search results - archived petitions" } %>
<% content_for :title do %>
<div class="title_block">
  <h1>Search results <span class="search_terms">for "<%= params[:q] %>"</span></h1>
</div>
<% end %>

<div class="search-results section-panel">
  <% if @petitions.empty? %>
    <p class="no_petitions_warning">No archived petitions could be found matching your search terms</p>
  <% else %>
    <div class="title_pagination_row">
      <h2>Archived petitions matching your search terms</h2>
    </div>
    <ol>
      <% @petitions.each do |petition| %>
          <li class="petition-item petition">
            <%= link_to petition.title, archived_petition_path(petition), :class => 'text_link' %>
            <%= 'Rejected' if petition.rejected? %>
            <p><%= signature_count(:default, petition.signature_count) unless petition.rejected? %></p>
          </li>
      <% end %>
    </ol>
  <% end %>
</div>

<%= render 'search/result_list_footer', petitions: @petitions %>
