<h1>
  <span class="heading-secondary">Petition</span>
  <%= @petition.title %>
</h1>

<div><%= auto_link(simple_format(h(@petition.description)), html: { rel: 'nofollow' }) %></div>

<div class="flash-notice">
  <p>This petition has been archived</p>
  <p class="flash-notice-description">It was submitted during the 2010–2015 Conservative – Liberal Democrat coalition government</p>
</div>

<% if @petition.rejected? %>
  <h2>This petition has been rejected with the following reason given:</h2>
  <%= auto_link(simple_format(h(@petition.reason_for_rejection)), html: { rel: 'nofollow' }) %>
<% end -%>

<% if @petition.response? %>
  <h2>This petition has received the following response:</h2>
  <%= auto_link(simple_format(h(@petition.response), class: 'response'), html: { rel: 'nofollow' }) %>
<% end -%>

<% unless @petition.rejected? %>
  <div class="signature-count">
    <p class="signature-count-number"><%= signature_count(:default, @petition.signature_count) %></p>
  </div>

  <ul class="petition-meta">
    <li class="meta-deadline">
      <span class="label">Deadline</span> <%= short_date_format @petition.closed_at %>
    </li>
  </ul>
<% end %>
