<div class="grid-row margin-top-7">
  <div class="grid-column-two-thirds-from-laptop">
    <div class="highlight">
      <p>
        This petition was submitted during the <%= @parliament.period %> parliament
      </p>

      <p>
        <%= link_to "View other petitions from this parliament", archived_petitions_path(parliament: @parliament) %>
      </p>
    </div>

    <% if @petition.rejected? %>
      <strong class="tag tag-red">
        Rejected<span class="visually-hidden"> petition</span>
      </strong>
    <% else %>
      <strong class="tag tag-grey">
        Closed<span class="visually-hidden"> petition</span>
      </strong>
    <% end %>

    <h1>
      <%= @petition.action %>
    </h1>

    <% if @petition.committee_note? %>
      <div class="highlight">
        <%= markdown_to_html(@petition.committee_note) %>
      </div>
    <% end %>

    <% if @petition.rejected? %>
      <p>
        Submitted on <strong><%= short_date_format(@petition.created_at) %></strong>
      </p>
    <% else %>
      <p>
        Closed on <strong><%= short_date_format(@petition.closed_at) %></strong>
      </p>
    <% end %>


    <% if @petition.background? %>
      <%= auto_link(simple_format(h(@petition.background)), html: { rel: 'nofollow' }) %>

      <% if @petition.additional_details? %>
        <%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %>
      <% end %>
    <% else %>
      <% if @petition.additional_details? %>
        <%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %>
      <% end %>
    <% end %>

    <% if @petition.rejected? %>
      <hr>

      <h2 class="heading-3">
        Why was this petition rejected?
      </h2>

      <%= rejection_description(@petition.rejection.code) %>

      <% if @petition.rejection.details? %>
        <%= auto_link(simple_format(h(@petition.rejection.details))) %>
      <% end %>

      <p>
        We only reject petitions that don’t meet the
        <%= link_to 'petition standards', help_url(anchor: 'standards') %>.
      </p>
    <% else %>
      <%= render "signature_count", petition: @petition %>
    <% end %>

    <hr>

    <p>
      <%= link_to "Get petition data (json format)", archived_petition_path(@petition, :json) %>
    </p>
  </div>
</div>
