<%= content_for :notifications do %>
  <div class="highlight margin-top-7">
    <p>This petition was submitted during the <%= @parliament.period %> parliament</p>
    <p><%= link_to "View other petitions from this parliament", archived_petitions_path(parliament: @parliament) %></p>
  </div>
<% end %>

<div class="grid-row">
  <div class="grid-column-two-thirds-from-laptop">
    <section class="petition-detail">
      <h1 id="action">
        <% if @petition.rejected? %>
          <span class="tag tag-red">
            Rejected<span class="visually-hidden"> petition</span>
          </span>
        <% else %>
          <span class="tag tag-grey">
            Closed<span class="visually-hidden"> petition</span>
          </span>
        <% end %>
        <%= @petition.action %>
      </h1>

      <% if @petition.rejected? %>
        <p>
          Rejected on
          <%= time_tag(@petition.rejected_at) do %>
            <strong><%= short_date_format(@petition.rejected_at) %></strong>
          <% end %>
        </p>
      <% else %>
        <p>
          Closed on
          <%= time_tag(@petition.closed_at) do %>
            <strong><%= short_date_format(@petition.closed_at) %></strong>
          <% end %>
        </p>
      <% end %>

      <% if @petition.committee_note? %>
        <div class="highlight">
          <%= markdown_to_html(@petition.committee_note) %>
        </div>
      <% end %>

      <% if @petition.background? %>
        <%= auto_link(simple_format(h(@petition.background)), html: { rel: 'nofollow' }) %>

        <% if @petition.additional_details? %>
          <%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %>
        <% end %>
      <% else %>
        <% if @petition.additional_details? %>
          <%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %>
        <% end %>
      <% end %>

      <% if @petition.rejected? %>
        <hr>

        <blockquote id="rejection">
          <h2>
            Why was this petition rejected?
          </h2>

          <%= rejection_description(@petition.rejection.code) %>

          <% if @petition.rejection.details? %>
            <%= auto_link(simple_format(h(@petition.rejection.details))) %>
          <% end %>

          <p>
            We only reject petitions that don’t meet the
            <%= link_to 'petition standards', help_url(anchor: 'standards') %>.
          </p>
        </blockquote>
      <% else %>
        <%= render "signature_count", petition: @petition %>
      <% end %>

      <% petition_timeline(@petition) do |items| %>
        <hr>

        <div class="petition-timeline">
          <h2 id="progress">
            Petition progress
          </h2>

          <ul>
            <% items.each do |item| %>
              <%= tag.li(class: class_names(completed: item.completed)) do %>
                <h3><%= item.title %></h3>
                <p><%= item.description %></p>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <hr>

      <footer>
        <h2 id="data">
          Petition data
        </h2>

        <p>
          <%= link_to "Get petition data in JSON format", archived_petition_path(@petition, :json) %>
        </p>
      </footer>
    </section>
  </div>

  <div class="grid-column-one-third hide-until-laptop">
    <nav class="sticky-menu">
      <h3>On this page</h3>

      <ul>
        <li>
          <%= link_to "About this petition", "#action" %>
        </li>
        <% if @petition.published? %>
          <li>
            <%= link_to "Petition progress", "#progress" %>
          </li>
        <% end %>
        <% if @petition.government_response? %>
          <li>
            <%= link_to "Government response", "#response" %>
          </li>
        <% end %>
        <% if @petition.debate_outcome? %>
          <li>
            <%= link_to "Parliament debate", "#debate" %>
          </li>
        <% end %>
        <% if @petition.rejected? %>
          <li>
            <%= link_to "Why was this petition rejected?", "#rejection" %>
          </li>
        <% end %>
        <li>
          <%= link_to "Petition data", "#data" %>
        </li>
      </ul>
    </nav>
  </div>
</div>
