<div class="notification">
  <span class="icon icon-warning-white">
    <span class="visuallyhidden">Important:</span>
  </span>
  <p class="content">
    This petition was submitted during the <%= @parliament.period %> parliament
  </p>

  <p class="link">
    <%= link_to "View other petitions from this parliament", archived_petitions_path(parliament: @parliament) %>
  </p>
</div>

<h1>
  <% if @petition.rejected? %>
    <span class="heading-secondary">Rejected petition</span>
  <% else %>
    <span class="heading-secondary">Petition</span>
  <% end %>
  <%= @petition.action %>
</h1>

<% if @petition.committee_note? %>
  <div class="committee-note">
    <%= markdown_to_html(@petition.committee_note) %>
  </div>
<% end %>

<% if @petition.background? %>
  <div><%= auto_link(simple_format(h(@petition.background)), html: { rel: 'nofollow' }) %></div>
  <% if @petition.additional_details? %>
    <details>
      <summary><span class="summary">More details</span></summary>
      <div><%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>
<% else %>
  <% if @petition.additional_details? %>
    <details open>
      <summary><span class="summary">More details</span></summary>
      <div><%= auto_link(simple_format(h(@petition.additional_details)), html: { rel: 'nofollow' }) %></div>
    </details>
  <% end %>
<% end %>

<% if @petition.rejected? %>
  <p class="flash-notice">This petition was rejected</p>

  <h2>Why was this petition rejected?</h2>
  <%= rejection_description(@petition.rejection.code) %>
  <% if @petition.rejection.details? %>
    <p><%= auto_link(simple_format(h(@petition.rejection.details))) %></p>
  <% end %>
  <p>We only reject petitions that don’t meet the <%= link_to 'petition standards', help_url(anchor: 'standards') %>.</p>
<% else %>
  <% if @petition.closed_early_due_to_election? %>
    <p class="flash-notice">
      This petition closed early because of a General Election

      <% if @parliament.dissolution_faq_url? %>
        <span>Find out more on the <%= link_to 'Petitions Committee website', @parliament.dissolution_faq_url %></span>
      <% end %>
    </p>
  <% else %>
    <p class="flash-notice">
      This petition is closed
      <span>This petition ran for <%= petition_duration_to_words(@petition.duration) %></span>
    </p>
  <% end %>

  <%= render "signature_count", petition: @petition %>

  <div class="about-petitions">
    <% if debate_outcome = @petition.debate_outcome %>
      <% if debate_outcome.debated? %>
        <%= render "archived/petitions/debate_thresholds/debated", debate_outcome: debate_outcome %>
      <% else %>
        <%= render "archived/petitions/debate_thresholds/not_debated", debate_outcome: debate_outcome %>
      <% end %>
    <% elsif @petition.scheduled_debate_date? %>
      <%= render "archived/petitions/debate_thresholds/scheduled" %>
    <% elsif @petition.debate_threshold_reached_at? %>
      <%= render "archived/petitions/debate_thresholds/awaiting" %>
    <% end %>

    <% if government_response = @petition.government_response? %>
      <section class="about-item about-item-count-response" id="response-threshold" aria-labelledby="response-threshold-heading">
        <h2 id="response-threshold-heading">Government responded</h2>
        <p class="secondary">This response was given on <%= short_date_format government_response.responded_on %></p>
        <% if government_response.summary? %>
          <blockquote class="pull-quote">
            <%= auto_link(simple_format(h(government_response.summary)), html: { rel: 'nofollow' } ) %>
          </blockquote>

          <% if government_response.details? %>
            <% if reveal_government_response? %>
              <%= auto_link(simple_format(h(government_response.details)), html: { rel: 'nofollow' }) %>
            <% else %>
              <details>
                <summary><span class="summary">Read the response in full</span></summary>
                <div class="panel-indent panel-no-border">
                  <%= auto_link(simple_format(h(government_response.details)), html: { rel: 'nofollow' }) %>
                </div>
              </details>
            <% end %>
          <% end %>

        <% else %>
          <%= auto_link(simple_format(h(government_response.details), class: 'response'), html: { rel: 'nofollow' }) %>
        <% end %>
      </section>
    <% end %>
  </div>

  <% unless @petition.emails.empty? %>
    <section class="about-item about-item-other-business" id="other-business" aria-labelledby="petition-related-activity-heading">
      <h2 id="petition-related-activity-heading">Related activity</h2>

      <% @petition.emails.each do |email| %>
        <details>
          <summary><span class="summary"><%= email.subject %></span></summary>
          <div class="panel-indent panel-no-border">
            <%= markdown_to_html(email.body, link_attributes: { rel: 'nofollow' }) %>
          </div>
        </details>
      <% end %>
    </section>
  <% end %>
<% end %>

<ul class="petition-meta">
  <% if @petition.rejected? %>
    <li>
      <span class="label">Date submitted</span> <%= short_date_format @petition.created_at %>
    </li>
  <% else %>
    <li>
      <span class="label">Date closed</span> <%= short_date_format @petition.closed_at %>
    </li>
  <% end %>

  <li class="meta-json">
    <span class="note"><%= link_to "Get petition data (json format)", archived_petition_path(@petition, :json) %></span>
    <%= render "about_petition_data" %>
  </li>
</ul>
