<h2 class="petition-action-heading">Tags</h2>
<%= form_for petition, url: admin_petition_tags_path(petition), method: :patch do |f| %>
  <%= form_row for: [f.object, :tags], class: 'inline tag-list' do %>
    <%= error_messages_for_field f.object, :tags %>
    <% if Tag.any? %>
      <%= collection_check_boxes(:petition, :tags, Tag.by_name, :id, :name) do |b| %>
        <div class="multiple-choice">
          <%= b.check_box %>
          <%= b.label title: b.object.description %>
        </div>
      <% end %>
    <% else %>
      <%= hidden_field_tag "petition[tags][]", "" %>
      <p>
        No tags have been defined
        <% if current_user.is_a_sysadmin? %>
          — <%= link_to 'create some tags', admin_tags_path %>
        <% end %>
      </p>
    <% end %>
  <% end %>
  <%= f.submit 'Save tags', class: 'button' %>
  <%= link_to 'Cancel', admin_petition_path(petition), class: 'button-secondary' %>
<% end %>

<%= render 'edit_lock' %>
