<% if current_user %>
  <ul>
    <li><%= current_user.pretty_name %></li>
    <% if current_user.is_a_sysadmin? %>
      <li><%= link_to "Site", edit_admin_site_path %></li>
      <li><%= link_to "Parliament", admin_parliament_path %></li>
      <li><%= link_to "Invalidations", admin_invalidations_path %></li>
      <li><%= link_to "Rate Limits", edit_admin_rate_limits_path %></li>
      <li><%= link_to "Tags", admin_tags_path %></li>
      <li><%= link_to "Users", admin_admin_users_path %></li>
    <% end %>
    <li><%= link_to "Logout", admin_logout_path %></li>
  </ul>
<% end %>
