<p class="tabs">
  <% if params[:tab] == "dissolution" %>
    <%= link_to "Details", admin_parliament_path %> |
   Dissolution |
    <%= link_to "Election", admin_parliament_path(tab: 'election') %> |
    <%= link_to "Dissolved", admin_parliament_path(tab: 'dissolved') %> |
    <%= link_to "Government Response", admin_parliament_path(tab: 'response') %> |
    <%= link_to "Parliamentary Debate", admin_parliament_path(tab: 'debate') %>
  <% elsif params[:tab] == "election" %>
    <%= link_to "Details", admin_parliament_path %> |
    <%= link_to "Dissolution", admin_parliament_path(tab: 'dissolution') %> |
   Election |
    <%= link_to "Dissolved", admin_parliament_path(tab: 'dissolved') %> |
    <%= link_to "Government Response", admin_parliament_path(tab: 'response') %> |
    <%= link_to "Parliamentary Debate", admin_parliament_path(tab: 'debate') %>
  <% elsif params[:tab] == "dissolved" %>
    <%= link_to "Details", admin_parliament_path %> |
    <%= link_to "Dissolution", admin_parliament_path(tab: 'dissolution') %> |
    <%= link_to "Election", admin_parliament_path(tab: 'election') %> |
    Dissolved |
    <%= link_to "Government Response", admin_parliament_path(tab: 'response') %> |
    <%= link_to "Parliamentary Debate", admin_parliament_path(tab: 'debate') %>
  <% elsif params[:tab] == "response" %>
    <%= link_to "Details", admin_parliament_path %> |
    <%= link_to "Dissolution", admin_parliament_path(tab: 'dissolution') %> |
    <%= link_to "Election", admin_parliament_path(tab: 'election') %> |
    <%= link_to "Dissolved", admin_parliament_path(tab: 'dissolved') %> |
    Government Response |
    <%= link_to "Parliamentary Debate", admin_parliament_path(tab: 'debate') %>
  <% elsif params[:tab] == "debate" %>
    <%= link_to "Details", admin_parliament_path %> |
    <%= link_to "Dissolution", admin_parliament_path(tab: 'dissolution') %> |
    <%= link_to "Election", admin_parliament_path(tab: 'election') %> |
    <%= link_to "Dissolved", admin_parliament_path(tab: 'dissolved') %> |
    <%= link_to "Government Response", admin_parliament_path(tab: 'response') %> |
    Parliamentary Debate
  <% else %>
    Details |
    <%= link_to "Dissolution", admin_parliament_path(tab: 'dissolution') %> |
    <%= link_to "Election", admin_parliament_path(tab: 'election') %> |
    <%= link_to "Dissolved", admin_parliament_path(tab: 'dissolved') %> |
    <%= link_to "Government Response", admin_parliament_path(tab: 'response') %> |
    <%= link_to "Parliamentary Debate", admin_parliament_path(tab: 'debate') %>
  <% end %>
</p>
