<p class="tabs">
  <% if params[:tab] == "petitions" %>
    <%= link_to "Description", edit_admin_site_path %> |
    Petitions |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    <%= link_to "Domains", admin_domains_path %> |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    <%= link_to "Pages", admin_pages_path %>
  <% elsif params[:tab] == "moderation" %>
    <%= link_to "Description", edit_admin_site_path %> |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    Moderation |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    <%= link_to "Domains", admin_domains_path %> |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    <%= link_to "Pages", admin_pages_path %>
  <% elsif params[:tab] == "access" %>
    <%= link_to "Description", edit_admin_site_path %> |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    Access |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    <%= link_to "Domains", admin_domains_path %> |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    <%= link_to "Pages", admin_pages_path %>
  <% elsif params[:tab] == "features" %>
    <%= link_to "Description", edit_admin_site_path %> |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    Features |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    <%= link_to "Domains", admin_domains_path %> |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    <%= link_to "Pages", admin_pages_path %>
  <% elsif params[:tab] == "tasks" %>
    <%= link_to "Description", edit_admin_site_path %> |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    Tasks |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    <%= link_to "Domains", admin_domains_path %> |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    <%= link_to "Pages", admin_pages_path %>
  <% elsif controller_name == "holidays" %>
    <%= link_to "Description", edit_admin_site_path %> |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    Holidays |
    <%= link_to "Domains", admin_domains_path %> |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    <%= link_to "Pages", admin_pages_path %>
  <% elsif controller_name == "domains" %>
    <%= link_to "Description", edit_admin_site_path %> |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    Domains |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    <%= link_to "Pages", admin_pages_path %>
  <% elsif controller_name == "rejection_reasons" %>
    <%= link_to "Description", edit_admin_site_path %> |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    <%= link_to "Domains", admin_domains_path %> |
    Rejection Reasons |
    <%= link_to "Pages", admin_pages_path %>
  <% elsif controller_name == "pages" %>
    <%= link_to "Description", edit_admin_site_path %> |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    <%= link_to "Domains", admin_domains_path %> |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    Pages
  <% else %>
    Description |
    <%= link_to "Petitions", edit_admin_site_path(tab: 'petitions') %> |
    <%= link_to "Moderation", edit_admin_site_path(tab: 'moderation') %> |
    <%= link_to "Access", edit_admin_site_path(tab: 'access') %> |
    <%= link_to "Features", edit_admin_site_path(tab: 'features') %> |
    <%= link_to "Tasks", edit_admin_site_path(tab: 'tasks') %> |
    <%= link_to "Holidays", edit_admin_holidays_path %> |
    <%= link_to "Domains", admin_domains_path %> |
    <%= link_to "Rejection Reasons", admin_rejection_reasons_path %> |
    <%= link_to "Pages", admin_pages_path %>
  <% end %>
</p>
