<% # set tab index to start at 5
 increment(5) %>

<h1 class="page-title">Feedback</h1>

<%= form_for @feedback, url: feedback_path, html: {class: "wizard_form new_petition_form"} do |f| %>

  <%= form_row for: [@feedback, :comment] do %>
    <%= f.label :comment, "Comments", class: "form-label" %>
    <%= error_messages_for_field @feedback, :comment %>
    <%= f.text_area :comment, tabindex: increment, class: "form-control" %>
  <% end %>

  <%= form_row for: [@feedback, :petition_link_or_title] do %>
    <%= f.label :petition_link_or_title, class: "form-label" do %>
      Petition title/link <span class="optional">optional</span>
    <% end %>
    <%= error_messages_for_field @feedback, :petition_link_or_title %>
    <%= f.text_field :petition_link_or_title, tabindex: increment, class: "form-control" %>
  <% end %>

  <h2>Do you want a reply?</h2>

  <%= form_row for: [@feedback, :email] do %>
    <%= f.label :email, "Email address", class: "form-label" %>
    <%= error_messages_for_field @feedback, :email %>
    <%= f.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
  <% end %>

  <%= submit_tag "Send feedback", class: "button", tabindex: increment %>

  <section class="inline-terms">
    <p>We'll only use your email to reply to your message</p>
    <p>We can't forward your feedback to the people who started a petition or comment on the ideas raised in a specific petition</p>
  </section>

<% end -%>
