<% # set tab index to start at 5
 increment(5) %>

<div class="text-page">

<h1 class="page-title"><%= t(:"ui.feedback.new.heading") %></h1>

<h2><%= t(:"ui.feedback.new.feedback.heading") %></h2>

<%= form_for @feedback, url: feedback_path, html: {class: "wizard_form new_petition_form"} do |f| %>

  <%= form_row for: [@feedback, :comment] do %>
    <%= f.label :comment, t(:"ui.feedback.new.feedback.comments.label"), class: "form-label" %>
    <%= error_messages_for_field @feedback, :comment %>
    <%= f.text_area :comment, tabindex: increment, class: "form-control" %>
  <% end %>

  <%= form_row for: [@feedback, :petition_link_or_title] do %>
    <%= f.label :petition_link_or_title, class: "form-label" do %>
      <%= t(:"ui.feedback.new.feedback.petition_link_or_title.label_html") %>
    <% end %>
    <%= error_messages_for_field @feedback, :petition_link_or_title %>
    <%= f.text_field :petition_link_or_title, tabindex: increment, class: "form-control" %>
  <% end %>

  <h3><%= t(:"ui.feedback.new.feedback.want_reply.heading") %></h3>

  <%= form_row for: [@feedback, :email] do %>
    <%= f.label :email, t(:"ui.feedback.new.feedback.want_reply.email.label"), class: "form-label" %>
    <%= error_messages_for_field @feedback, :email %>
    <%= f.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
  <% end %>

  <%= t(:"ui.feedback.new.feedback.submit_html", tabindex: increment) %>

  <section class="inline-terms">
    <%= t(:"ui.feedback.new.feedback.terms_html") %>
  </section>

<h2><%= t(:"ui.feedback.new.contact.heading") %></h2>

<h3><%= t(:"ui.feedback.new.contact.email.heading") %></h3>

<%= t(
  :"ui.feedback.new.contact.email.body_html",
  petitions_committee_link: link_to(t(:"ui.feedback.new.contact.email.petitions_committee_link"), help_url(anchor: 'petitions-committee'))
) %>

<h3><%= t(:"ui.feedback.new.contact.phone.heading") %></h3>

<%= t(:"ui.feedback.new.contact.phone.body_html") %>

</div>

<% end -%>
