<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon-admin.ico" />
  <%= yield :js %>
  <meta name="viewport" content="width = device-width" />
  <meta name="robots" content="noindex" />
</head>
<body class="admin">
  <%= render '/admin/shared/header' %>
  <main id="content" role="main">
    <%= render '/admin/shared/messages' %>
    <%= yield %>
  </main>
</body>
</html>
