<!DOCTYPE html>
<html lang="en">
<head>
  <title>Petitions</title>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tag %>
  <%= yield :js %>
</head>
<body class="admin">
  <%= render '/admin/shared/header' %>
  <main id="content">
    <%= render '/admin/shared/messages' %>
    <%= yield %>
  </main>
</body>
</html>
