<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <%= preload_link_tag 'application.css', nopush: true %>
    <%= preload_link_tag 'application.js', nopush: true %>

    <% if open_petition_page? %>
      <%= preload_link_tag 'auto-updater.js', nopush: true %>
    <% end %>
    <% if create_petition_page? %>
      <%= preload_link_tag 'character-counter.js', nopush: true %>
    <% end %>

    <%= stylesheet_link_tag 'application' %>

    <meta name="viewport" content="width = device-width">
    <%= render 'application/os' %>
    <%= render 'application/social_meta' %>
    <% if noindex_page? %>
      <meta name="robots" content="noindex">
    <% end %>
    <meta name="theme-color" content="#080">

    <% if Site.enable_analytics? %>
      <%= render 'application/gtm/tag' %>
    <% end %>
  </head>

  <body>
    <% if Site.enable_analytics? %>
      <%= render 'application/gtm/ns' %>
    <% end %>

    <%= render 'application/header' %>

    <main id="content">
      <%= render 'application/messages' %>
      <%= yield %>
    </main>

    <%= render 'application/footer' %>
    <%= render 'application/cookie_banner' %>
    <%= render 'application/cookie_preferences' %>

    <%= javascript_include_tag 'application' %>

    <% if open_petition_page? %>
      <%= javascript_include_tag 'auto-updater' %>
    <% end %>

    <% if create_petition_page? %>
      <%= javascript_include_tag 'character-counter' %>
    <% end %>
  </body>
</html>
