<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title><%= page_title %></title>
    <%= cache_for :head do %>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <%= stylesheet_link_tag 'application' %>
      <%= stylesheet_link_tag 'print', media: 'print' %>
      <meta name="viewport" content="width = device-width" />
      <%= render 'application/os' %>
      <%= render 'application/social_meta' %>
    <% end %>
    <% if noindex_page? %>
      <meta name="robots" content="noindex" />
    <% end %>
    <%= yield :head %>
  </head>
  <body>
    <%= render 'application/header' %>

    <main id="content" role="main">
      <%= render 'application/messages' %>
      <%= yield %>
    </main>

    <%= cache_for :footer do %>
      <%= render 'application/footer' %>
      <%= javascript_include_tag 'application' %>
      <% if open_petition_page? %>
        <%= javascript_include_tag 'auto-updater' %>
      <% end %>
      <% if create_petition_page? %>
        <%= javascript_include_tag 'character-counter' %>
      <% end %>

      <%= javascript_include_tag 'topojson.min' %>
    <% end %>

    <% if Site.translation_enabled? %>
      <%= javascript_include_tag admin_translations_url(:js), crossorigin: 'use-credentials' %>
    <% end %>

    <% if Site.cookie_control? && !holding_page? %>
      <%= render 'cookie_control' %>
    <% end %>
  </body>
</html>
