<!DOCTYPE html>
<html lang="EN-GB">
  <head>
    <% @title = yield :page_title; @title = "Petition parliament" if @title.blank? -%>
    <title><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
    <!--[if lte IE 7]><%= stylesheet_link_tag 'ie7under' %><![endif]-->
    <!--[if gte IE 9]><%= stylesheet_link_tag 'ie9' %><![endif]-->

    <%= javascript_include_tag 'vendor/jquery', 'application', 'accessibility', 'form_controller' %>
    <%= yield :js %>
    <meta name="viewport" content="width = device-width"/>
    <%= render 'shared/icons' %>
    <%= render 'shared/social_meta' %>
    <%= render 'layouts/analytics' %>
  </head>
  <body>
    <%= render "shared/header" %>

    <main id="content">
      <%= yield :title %>
      <%= render 'shared/messages' %>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>

  </body>
</html>
