<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title><%= page_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <%= preload_link_tag 'application.css', nopush: true %>
    <%= preload_link_tag 'application.js', nopush: true %>
    <%= stylesheet_link_tag 'application' %>

    <meta name="viewport" content="width = device-width">
    <%= render 'application/os' %>
    <%= render 'application/social_meta' %>
    <% if noindex_page? %>
      <meta name="robots" content="noindex">
    <% end %>
    <meta name="theme-color" content="#080">
  </head>
  <body>
    <% if show_cookie_message? %>
      <div id="global-cookie-message">
        <p>We use cookies to make this service simpler. <a href="/cookies">Find out more about cookies</a></p>
      </div>
    <% end %>

    <%= render 'application/header' %>

    <main id="content">
      <%= render 'application/messages' %>
      <%= yield %>
    </main>

    <%= render 'application/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
