<h1>Edit Site</h1>

<div class="grid-row">
  <div class="grid-column">
    <%= render "admin/shared/site_tabs" %>
  </div>

  <div class="column-two-thirds extra-gutter">
    <% if params[:tab] == "petitions" %>
      <%= render "form", tab: "petitions" %>
    <% elsif params[:tab] == "moderation" %>
      <%= render "form", tab: "moderation" %>
    <% elsif params[:tab] == "access" %>
      <%= render "form", tab: "access" %>
    <% elsif params[:tab] == "features" %>
      <%= render "form", tab: "features" %>
    <% elsif params[:tab] == "tasks" %>
      <%= render "tasks" %>
    <% else %>
      <%= render "form", tab: "description" %>
    <% end %>
  </div>
</div>
