<h1>Edit Site</h1>

<div class="grid-row">
  <div class="grid-column">
    <%= render "admin/shared/site_tabs" %>
  </div>
</div>

<% if params[:tab] == "welsh" %>
  <%= render "form", tab: "welsh" %>
<% elsif params[:tab] == "petitions" %>
  <%= render "form", tab: "petitions" %>
<% elsif params[:tab] == "moderation" %>
  <%= render "form", tab: "moderation" %>
<% elsif params[:tab] == "feedback" %>
  <%= render "form", tab: "feedback" %>
<% elsif params[:tab] == "access" %>
  <%= render "form", tab: "access" %>
<% elsif params[:tab] == "features" %>
  <%= render "form", tab: "features" %>
<% else %>
  <%= render "form", tab: "english" %>
<% end %>
